# This serves as an official list of which configs are private and excluded from this repository
# If you wish to do something to one of these configs, bring your changes to a server manager directly
stripper/ze_FFXIV_Pharos_Sirius_v1_5f.cfg
stripper/ze_FFXIV_Pharos_Sirius_v1_6.cfg
stripper/ze_FFXIV_Wanderers_Palace_v5_2.cfg
stripper/ze_FFXIV_Wanderers_Palace_v6.cfg
stripper/ze_rush_B_v2_2.cfg