;boss damage adjustment (from mapper)
modify:
{
	match:
	{
		"targetname" "KingBoss_Mecha_Face_HurtArea"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "20"
	}
}

modify:
{
	match:
	{
		"targetname" "Boss2Skill_Spawmable_Pluse_HurtArea"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "6"
	}
}

modify:
{
	match:
	{
		"targetname" "KingBoss_Mecha_Ult_HurtArea"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "80"
	}
}

;patch teleport avoidance spot at stage 2/3 button trigger before boss fight
modify:
{
	match:
	{
		"targetname" "AfkTeleport_Area_5_Lv23"
		"classname" "trigger_teleport"
	}
	replace:
	{
		"origin" "-6171.5 223.5 2713.5"
	}
}

;fix skip from stairs to second floor using white cube
add:
{
	"classname" "func_brush"
	"model" "*581"
	"origin" "-7246 485.5 482"
	"rendermode" "10"
}

;fix people using button to jump over fence and early trigger
add:
{
	"rendermode" "10"
	"origin" "-5634 154 1066"
	"model" "*601"
	"targetname" "no_button_skip"
	"classname" "func_wall_toggle"
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Gate#6_Platform_TriggerF"
	}
	insert:
	{
		"OnStartTouch" "no_button_skipKill21-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Gate#6_Platform_TriggerLv3"
	}
	insert:
	{
		"OnStartTouch" "no_button_skipKill21-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "LevelSystem_Lv4_ZM_TriggerArea"
	}
	insert:
	{
		"OnStartTouch" "no_button_skipKill01"
	}
}

;fix early triggering at bridge ladder part on stages 3 and 4
add:
{
	"classname" "func_wall_toggle"
	"origin" "-5767 930 5677"
	"model" "*594"
	"targetname" "no_ladder_early_trigger"
	"rendermode" "10"
}

modify:
{
	match:
	{
		"targetname" "Gate#11_TowerTop_Window"
		"classname" "func_breakable"
	}
	insert:
	{
		"OnBreak" "no_ladder_early_triggerKill51"
	}
}

;filter unpacked particle
filter:
{
	"classname" "info_particle_system"
	"targetname" "PrimeMecha_Model_parti"
}

filter:
{
	"classname" "logic_timer"
	"targetname" "PrimeMecha_Model_minitimer"
}

modify:
{
	match:
	{
		"classname" "game_ui"
		"targetname" "PrimeMecha_UI_mini"
	}
	delete:
	{
		"PressedAttack2" "PrimeMecha_Model_minitimerEnable1.7-1"
		"PressedAttack2" "PrimeMecha_Model_minitimerDisable11.7-1"
	}
}

;fix frozen zombies getting boosted after being unfrozen
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "HumanItem_HealBlade_Skill2_Relics_FreezeTrigger"
	}
	insert:
	{
		"OnStartTouch" "!activatorRunScriptCodeself.SetVelocity(Vector(0,0,0))5.8-1"
	}
}

;patch tp avoidance spots at extreme stage boss fight room (wtf mapper?)
filter:
{
	"classname" "trigger_teleport"
	"targetname" "lv4_b2_telefall"
}

add:
{
	"UseLandmarkAngles" "1"
	"targetname" "resize_me4"
	"target" "lv4_b2_telespot"
	"spawnflags" "4097"
	"origin" "1788.5 -5796 -1269.5"
	"classname" "trigger_teleport"
}

filter:
{
	"classname" "trigger_hurt"
	"targetname" "lv4_b2_hurtfall"
}

add:
{
	"targetname" "resize_me5"
	"spawnflags" "4097"
	"origin" "1788.5 -5796 -1222.5"
	"nodmgforce" "0"
	"filtername" "FilterAllow_CT_Human"
	"damagetype" "512"
	"damagemodel" "0"
	"damagecap" "99999"
	"damage" "99999"
	"classname" "trigger_hurt"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "resize_me4AddOutputsolid 20.51"
		"OnMapSpawn" "resize_me4AddOutputmins -5840 -3088 -2011"
		"OnMapSpawn" "resize_me4AddOutputmaxs 5840 3088 2011"
		"OnMapSpawn" "resize_me4AddOutputtargetname lv4_b2_telefall1.51"
		"OnMapSpawn" "resize_me5AddOutputsolid 20.51"
		"OnMapSpawn" "resize_me5AddOutputmins -5840 -3088 -2011"
		"OnMapSpawn" "resize_me5AddOutputmaxs 5840 3088 2011"
		"OnMapSpawn" "resize_me5AddOutputtargetname lv4_b2_hurtfall1.51"
	}
}

;patch tp avoidance spot
filter:
{
	"classname" "trigger_teleport"
	"targetname" "FallOutMap_Zombie_TeleArea"
}

add:
{
	"targetname" "resize_me1"
	"target" "Tele_CT_ShipDoor1_Spot"
	"spawnflags" "4097"
	"origin" "-6283.59 -156.5 14"
	"filtername" "FilterAllow_T_Zombie"
	"classname" "trigger_teleport"
}

filter:
{
	"classname" "trigger_hurt"
	"targetname" "FallOutMap_CT_KillArea"
}

add:
{
	"targetname" "resize_me2"
	"spawnflags" "4097"
	"origin" "-6300.5 -143.5 15.5"
	"nodmgforce" "0"
	"filtername" "FilterAllow_CT_Human"
	"damagetype" "512"
	"damagemodel" "0"
	"damagecap" "99999"
	"damage" "99999"
	"classname" "trigger_hurt"
}

filter:
{
	"classname" "trigger_teleport"
	"targetname" "Lv3FinalRun_NoFreeFall_Teleport"
	"origin" "-7020.14 -170.5 16"
}

add:
{
	"UseLandmarkAngles" "1"
	"targetname" "resize_me3"
	"target" "Boss2Dead_Teleport_T_Spot"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "-7020.14 -170.5 16"
	"classname" "trigger_teleport"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "resize_me1AddOutputsolid 20.51"
		"OnMapSpawn" "resize_me1AddOutputmins -10080 -1658.5 -62.511"
		"OnMapSpawn" "resize_me1AddOutputmaxs 10080 1658.5 62.511"
		"OnMapSpawn" "resize_me1AddOutputtargetname FallOutMap_Zombie_TeleArea1.51"
		"OnMapSpawn" "resize_me2AddOutputsolid 20.51"
		"OnMapSpawn" "resize_me2AddOutputmins -10080 -1658.5 -57.511"
		"OnMapSpawn" "resize_me2AddOutputmaxs 10080 1658.5 57.511"
		"OnMapSpawn" "resize_me2AddOutputtargetname FallOutMap_CT_KillArea1.51"
		"OnMapSpawn" "resize_me3AddOutputsolid 20.51"
		"OnMapSpawn" "resize_me3AddOutputmins -10080 -1658.5 -53.511"
		"OnMapSpawn" "resize_me3AddOutputmaxs 10080 1658.5 53.511"
		"OnMapSpawn" "resize_me3AddOutputtargetname Lv3FinalRun_NoFreeFall_Teleport1.51"
	}
}

;fix boss hp scaling to match v6_8
modify:
{
	match:
	{
		"targetname" "lv4_b2_hptri"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "lv4_b3_morascounAdd850-1"
		"OnStartTouch" "lv4_b3_arescounAdd300-1"
	}
	insert:
	{
		"OnStartTouch" "lv4_b3_morascounAdd1050-1"
		"OnStartTouch" "lv4_b3_arescounAdd450-1"
	}
}

;add freeze time to prevent trigger bugs
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "Gate#1_Hint_PressedCommandmp_freezetime 30-1"
	}
}

;fix flicker
modify:
{
	match:
	{
		"classname" "env_sprite"
	}
	replace:
	{
		"rendermode" "5"
	}
}

;fix zombies falling out of map on stage 3
modify:
{
	match:
	{
		"targetname" "KingBoss_Mecha_HitBox"
		"classname" "func_physbox"
	}
	delete:
	{
		"OnBreak" "FallOutMap_Zombie_TeleAreaKill01"
	}
	insert:
	{
		"OnBreak" "FallOutMap_Zombie_TeleAreaSetRemoteDestinationBoss2Dead_Teleport_T_Spot01"
	}
}

;fix a broken tp on ending of stage 4
modify:
{
	match:
	{
		"targetname" "lv4_b3SK_relaykill"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "FallOutMap_Zombie_TeleAreaSetRemoteDestinationLv3FinalRun_Last20s_T_Tele_Spot221"
	}
}

;fix extreme stage phase 2 boss fight edict crash (from mapper)
modify:
{
	match:
	{
		"targetname" "lv4_b3_Devourer_beamtri"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "lv4_b3_Devourer_beammakerForceSpawnAtEntityOrigin!activator01"
		"OnStartTouch" "lv4_b3_Devourer_beamATurnOn0.01-1"
		"OnStartTouch" "lv4_b3_Devourer_beamBTurnOn3-1"
		"OnStartTouch" "lv4_b3_Devourer_beamhurtEnable3-1"
		"OnStartTouch" "lv4_b3_Devourer_beamteslaTurnOn3-1"
		"OnStartTouch" "lv4_b3_Devourer_beamteslaKill6-1"
		"OnStartTouch" "lv4_b3_Devourer_beamhurtKill6-1"
		"OnStartTouch" "lv4_b3_Devourer_beam_cube2Kill6-1"
		"OnStartTouch" "lv4_b3_Devourer_beamBTurnOff6-1"
		"OnStartTouch" "lv4_b3_Devourer_beamaTurnOff6-1"
		"OnStartTouch" "lv4_b3_Devourer_smmakerForceSpawn3-1"
		"OnStartTouch" "lv4_b3_Devourer_ringsoundPlaySound3-1"
		"OnStartTouch" "lv4_b3_Devourer_roar1soundPlaySound3-1"
		"OnStartTouch" "lv4_b3_Devourer_smmakerKill4-1"
		"OnStartTouch" "lv4_b2_shakeStartShake3-1"
		"OnStartTouch" "lv4_bossfade_redFadeReverse3-1"
		"OnStartTouch" "!selfAddOutputOnStartTouch lv4_b3_Devourer_beammaker:ForceSpawnAtEntityOrigin:!activator:0:13.5-1"
	}
	insert:
	{
		"OnTrigger" "lv4_b3_Devourer_beammakerForceSpawnAtEntityOrigin!activator0-1"
		"OnTrigger" "lv4_b3_Devourer_beamATurnOn0.01-1"
		"OnTrigger" "lv4_b3_Devourer_beamBTurnOn3-1"
		"OnTrigger" "lv4_b3_Devourer_beamhurtEnable3-1"
		"OnTrigger" "lv4_b3_Devourer_beamteslaTurnOn3-1"
		"OnTrigger" "lv4_b3_Devourer_beamteslaKill6-1"
		"OnTrigger" "lv4_b3_Devourer_beamhurtKill6-1"
		"OnTrigger" "lv4_b3_Devourer_beam_cube2Kill6-1"
		"OnTrigger" "lv4_b3_Devourer_beamBTurnOff6-1"
		"OnTrigger" "lv4_b3_Devourer_beamaTurnOff6-1"
		"OnTrigger" "lv4_b3_Devourer_smmakerForceSpawn3-1"
		"OnTrigger" "lv4_b3_Devourer_ringsoundPlaySound3-1"
		"OnTrigger" "lv4_b3_Devourer_roar1soundPlaySound3-1"
		"OnTrigger" "lv4_b3_Devourer_smmakerKill4-1"
		"OnTrigger" "lv4_b2_shakeStartShake3-1"
		"OnTrigger" "lv4_bossfade_redFadeReverse3-1"
	}
}