;oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh
;implement various vscript fixes via aaa_oh_fix.nut
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "chinny_script"
	}
	delete:
	{
		"vscripts" "chinny/musicloop.nut chinny/chinny_general.nut chinny/chinny_toledo.nut chinny/biggest_bird.nut chinny/chinny_cincinnati.nut  chinny/warmup.nut"
	}
	insert:
	{
		"vscripts" "chinny/musicloop.nut chinny/chinny_general.nut chinny/chinny_toledo.nut chinny/biggest_bird.nut chinny/chinny_cincinnati.nut chinny/warmup.nut aaa_oh_fix.nut"
	}
}