;Prevent zombies from picking up multiple ZM items (thus deleting their original one)
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"origin" "15136 14944 326"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddContext,zm_item_user:1,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"origin" "11672 15240 24"
	}
	insert:
	{
		"OnSpawn" "player,ClearContext,,0,-1"
	}
}

add:
{
	"origin" "11704 15208 24"
	"classname" "filter_activator_context"
	"targetname" "Filter_Z_Items"
	"ResponseContext" "zm_item_user"
	"Negated" "Allow entities that match criteria"
}

add:
{
	"classname" "trigger_teleport"
	"targetname" "test_trigger"
	"origin" "9616 13056 336"
	"model" "*593"
	"angles" "0 90 0"
	"spawnflags" "1"
	"filtername" "Filter_Z_Items"
	"StartDisabled" "0"
	"wait" "0.02"
	"OnStartTouch" "!activator,AddOutput,origin 8100 13080 224,0,-1"
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}

;fix repeat killer getting triggered if zombies rapidly die in the lava
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "scene3_hurt_2"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"nodmgforce" "0"
		"damagetype" "512"
		"damagemodel" "0"
		"damagecap" "20"
		"damage" "12000"
	}
	insert:
	{
		"wait" "0"
		"OnTrigger" "!activatorSetHealth00-1"
	}
}

;unnecessary, our bhop is speed capped
filter:
{
	"origin" "-8282 -6734 7828"
}
filter:
{
	"origin" "6216 -5220 856"
}