;fix tp angles
modify:
{
	match:
 	{
  		"classname" "trigger_teleport"
	}
 	replace:
  	{
   		"UseLandmarkAngles" "1"
	}
 }
;fix kevlar damage not being taken into account
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}
;fix no kevlar on new round
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "-5915 -10112 -1249"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}
