; Made by GXP-10
; ze_alien_shooter_gp1_3
; V2 Public Version
; Fix no kevlar on new round.
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "-176 864 -376"
	}
	replace:
	{
		"spawnflags" "2"
	}
	delete:
	{
		"weapon_p90" "1"
		"weapon_knife" "1"
		"weapon_hegrenade" "1"
		"weapon_elite" "1"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}

; Fix heal burning human when use for 0.1 second which can cause low hp human to die.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Item_Heal_trigger"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}

; Nerf extremely op boss heal
modify:
{
	match:
	{
		"targetname" "case_boss_use_random_items"
	}
	delete:
	{		
		"OnCase03" "counter1Add1750-1"
	}
	insert:
	{
		"OnCase03" "counter1Add500-1"			
	}
}

; Optional
; Nerf boss health by 40%
modify:
{
	match:
	{
		"targetname" "Noctali_Boss_Hp_To_Boss"
	}
	delete:
	{		
		"OnStartTouch" "counter2Add320.02-1"
		"OnStartTouch" "counter1Add320.02-1"
	}
	insert:
	{
		"OnStartTouch" "counter2Add240.02-1"
		"OnStartTouch" "counter1Add240.02-1"		
	}	
}