;add timer to spam zm tp trigger
add:
{
	"classname" "logic_timer"
	"targetname" "zm_credits_timer"
	"StartDisabled" "1"
	"RefireTime" "0.25"
	"OnTimer" "zm_tp_creditsDisable0-1"
	"OnTimer" "zm_tp_creditsEnable0.05-1"
}

;spam the function that sets humans to seats on mission 3 to avoid late spawners getting stuck
;enable and disable timer to spam zm tp trigger
modify:
{
	match:
	{	
		"classname" "logic_case"
		"targetname" "level_case"
	}
	insert:
	{
		"OnCase03" "aaa_magicRunScriptCodect_to_seats();7-1"
		"OnCase03" "aaa_magicRunScriptCodect_to_seats();14-1"		
		"OnCase03" "zm_credits_timerEnable10-1"
		"OnCase03" "zm_credits_timerDisable70-1"
		"OnCase03" "zm_tp_creditsEnable71-1"
		"OnCase03" "zm_credits_speedmodEnable270-1"
		"OnCase03" "theater_doorsFireUser1271-1"
		"OnCase03" "credits_rmsTrigger333-1"
	}
}

;zm speedmod on mission 3 to avoid infinite delay
add:
{
  	"model" "*477"
   	"wait" "0"
	"targetname" "zm_credits_speedmod"
 	"StartDisabled" "1"
  	"spawnflags" "4097"
   	"origin" "-304 512 -15840"
	"filtername" "filter_t"
	"classname" "trigger_multiple"
 	"OnStartTouch" "methamphetamineModifySpeed1.10-1"
}

;add red mist squid to really end it, in case the humans are so horny they are still defending
add:
{
	"classname" "logic_relay"
	"targetname" "credits_rms"
	"origin" "-624 512 -15915"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "temp_red_mist_squidAddOutputorigin -624 512 -159150-1"
	"OnTrigger" "temp_red_mist_squidForceSpawn1-1"
}

modify:
{
	match:
	{	
		"hammerid" "2264862"
		"targetname" "theater_doors"
	}
	insert:
	{
		"OnUser1" "maker_explosion_xForceSpawnAtEntityOrigin!caller0-1"
		"OnUser1" "!selfKill0.02-1"
	}
}

modify:
{
	match:
	{	
		"hammerid" "2264854"
		"targetname" "theater_doors"
	}
	insert:
	{
		"OnUser1" "maker_explosion_xForceSpawnAtEntityOrigin!caller0-1"
		"OnUser1" "!selfKill0.02-1"
	}
}

;remove unused entities
;unused logic_measure_movement
;unused filter_damage_type
filter:
{
	"hammerid" "4334285"
}
filter:
{
	"hammerid" "4334301"
}