;increase extreme 1 laser boss HP
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "boss_quad_encounter_01_initiate"
	}
	delete:
	{
		"OnSpawn" "boss_quad_encounter_01_hitboxRunScriptCodeStart(MAP_STAGE < MAP_MAX_STAGE ? 30 : 70, 10);2-1"
	}
	insert:
	{
		"OnSpawn" "boss_quad_encounter_01_hitboxRunScriptCodeStart(MAP_STAGE < MAP_MAX_STAGE ? 50 : 70, 10);2-1"
	}
}

;add timelimit to stage 6 laser boss fight
add:
{
	"classname" "logic_relay"
	"targetname" "antidelay_lasers"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "antidelay_lasers2Trigger40-1"
}

add:
{
	"classname" "logic_relay"
	"targetname" "antidelay_lasers2"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "commandCommandsay || YOU TOOK TOO LONG ||0-1"
	"OnTrigger" "playerRunScriptCodeforeach(k,_ in{SetHealth=0}){if(self.GetTeam()==3&&self.GetHealth()>0)EntFireByHandle(self, k,(0).tostring(),0,null,null)}0.3-1"
}

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "Train_path_extreme4"
	}
	insert:
	{
		"OnPass" "antidelay_lasers,Trigger,,10,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "boss_quad_encounter_01_hitbox"
	}
	insert:
	{
		"OnUser1" "antidelay_lasers,CancelPending,,0,-1"
	}
}

;fix fuel game text breaking other game_text channels
;################################# THIS CHANGE WILL NOT WORK WITHOUT HAVING #############################
;############################ csgo/scripts/vscripts/gfl/ancient_config.nut ##############################
;############################################ IN THE SERVER FILES #######################################
;######### https://github.com/gflze/CSGO-ZE-Configs/blob/master/vscripts/ancient_config.nut #############
modify:
{
	match:
	{
		"classname" "logic_relay"
		"hammerid" "6888586"
	}
	replace:
	{
		"vscripts" "gfl/ancient_config.nut"
	}
}

add:
{
	"classname" "game_text"
	"targetname" "fuel_text"
	"message" "FUEL: 15"
	"spawnflags" "0"
	"holdtime" "0.3"
	"effect" "0"
	"color" "255 83 0"
	"channel" "1"
	"x" "0.16"
	"y" "0.19"
}

;rework stage text display system
modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "stageindicator_gametext"
	}
	replace:
	{
		"holdtime" "5"
	}
	insert:
	{
		"OnUser1" "!selfDisplay0-1"
		"OnUser1" "!selfFireUser15-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_1_extreme_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_2_extreme_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_WARMUP_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_4_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_3_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_2_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage_1_initate"
	}
	delete:
	{
		"OnTrigger" "stageindicator_gametextDisplay0.2-1"
	}
	insert:
	{
		"OnTrigger" "stageindicator_gametextFireUser10.2-1"
	}
}