;fix fireball entwatch tracking
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "item_fireball_button"
	}
	replace:
	{
		"parentname" "item_fireball_weapon"
	}
}

;fix repeat killer getting triggered if zombies rapidly die in the lava
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "scene3_hurt_2"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"nodmgforce" "0"
		"damagetype" "512"
		"damagemodel" "0"
		"damagecap" "20"
		"damage" "12000"
	}
	insert:
	{
		"wait" "0"
		"OnTrigger" "!activatorSetHealth00-1"
	}
}

;unnecessary, our bhop is speed capped
filter:
{
	"origin" "-8282 -6734 7828"
}
filter:
{
	"origin" "6216 -5220 856"
}