;fix stupidly high game_text holdtime breaking all hudmsgs
modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "chinny_cn_lyrics"
	}
	replace:
	{
		"holdtime" "6"
	}
}

;oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh oh
;prevents sneaky !ztele's
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "33415"
	}
	delete:
	{
		"OnMapSpawn" "map_mz_timerKill20-1"
		"OnMapSpawn" "spawn_tp_mz_ctKill20-1"
		"OnMapSpawn" "spawn_tp_mz_tKill20-1"
	}
}