;slay people who swear, most logic taken from ze_space_flight
;################################# THIS CHANGE WILL NOT WORK WITHOUT HAVING ##################################
;############################### csgo/scripts/vscripts/gfl/bible_antiswear.nut ###############################
;###################################### IN THE SERVER FILES ##################################################
;########## https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/bible_antiswear.nut ##########
add:
{
	"classname" "game_text"
	"origin" "-13984 15552 -7008"
	"targetname" "SwearText"
	"channel" "1"
	"color" "255 0 0"
	"color2" "255 0 0"
	"effect" "0"
	"fadein" "0.5"
	"fadeout" "0.5"
	"fxtime" "0.25"
	"holdtime" "5"
	"message" "God does not approve of swearing enjoy hell loser!!!!"
	"x" "-1"
	"y" "-1"
	"spawnflags" "0"
}
add:
{
	"classname" "logic_eventlistener"
	"origin" "-13984 15552 -7008"
	"targetname" "EventListener"
	"EventName" "player_info"
	"IsEnabled" "1"
	"FetchEventData" "1"
	"TeamNum" "-1"
	"OnEventFired" "EventListenerRunScriptCodelocal userid = event_data.userid; ::userIDMapper[userid] <- ::storedUserIDActivator;0-1"
	"OnEventFired" "UserIDAssignerFireUser20.02-1"
}
add:
{
	"classname" "logic_eventlistener"
	"origin" "-13984 15552 -7008"
	"targetname" "EventListenerSay"
	"vscripts" "gfl/bible_antiswear.nut"
	"EventName" "player_say"
	"IsEnabled" "0"
	"FetchEventData" "1"
	"TeamNum" "-1"
	"OnEventFired" "EventListenerSayRunScriptCodeCheckMessage();0-1"
}
add:
{
	"classname" "info_game_event_proxy"
	"origin" "-13984 15552 -7008"
	"targetname" "EventSender"
	"event_name" "player_info"
	"StartDisabled" "0"
	"range" "0"
	"spawnflags" "1"
}
add:
{
	"classname" "filter_activator_name"
	"origin" "-13984 15552 -7008"
	"targetname" "FilterHasUserID"
	"filtername" "hasID"
	"Negated" "1"
}
add:
{
	"classname" "trigger_multiple"
	"origin" "-1056 7872 -736"
	"targetname" "UserIDAssigner"
	"filtername" "FilterHasUserID"
	"StartDisabled" "1"
	"wait" "1"
	"spawnflags" "1"
	"OnStartTouch" "UserIDAssignerDisable0-1"
	"OnStartTouch" "UserIDAssignerFireUser101"
	"OnUser1" "!activatorAddOutputtargetname hasID0-1"
	"OnUser1" "EventSenderGenerateGameEvent0.02-1"
	"OnUser2" "UserIDAssignerAddOutputOnStartTouch UserIDAssigner:FireUser1::0.0:10-1"
	"OnUser2" "UserIDAssignerEnable0.02-1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "playerAddOutputtargetname __clear__0-1"
		"OnMapSpawn" "EventListenerRunScriptCode::userIDMapper <- {};0-1"
		"OnMapSpawn" "!selfRunScriptCode::userIDMapper <- {};0-1"
		"OnMapSpawn" "UserIDAssignerRunScriptCodefunction StoreActivator() { ::storedUserIDActivator <- activator; }0-1"
		"OnMapSpawn" "UserIDAssignerRunScriptCodeforeach (a,_ in {OnUser1=0}) { foreach(b,_ in {StoreActivator=0}) {self.ConnectOutput(a, b);}}0.05-1"
		"OnMapSpawn" "UserIDAssignerAddOutputsolid 20.1-1"
		"OnMapSpawn" "UserIDAssignerAddOutputmins -15264 -8448 -64960.2-1"
		"OnMapSpawn" "UserIDAssignerAddOutputmaxs 15264 8448 64960.2-1"
		"OnMapSpawn" "UserIDAssignerEnable0.3-1"
		"OnMapSpawn" "EventListenerSayEnable5-1"
	}
}

;stage 1 anti-delay trigger
add:
{
	"model" "*113"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"origin" "1986 11758 2122.5"
	"classname" "trigger_multiple"
	"targetname" "EdenAntiDelay"
	"filtername" "T_Filter"
	"OnStartTouch" "!selfDisable0-1"
	"OnStartTouch" "DisplayCommandsay Zombies have overrun the Garden of Eden01"
	"OnStartTouch" "DisplayCommandsay Zombies have overrun the Garden of Eden11"
	"OnStartTouch" "DisplayCommandsay Zombies have overrun the Garden of Eden21"
	"OnStartTouch" "T_FilterKill0-1"
	"OnStartTouch" "Garden_Final_NukeAddOutputdamage 1000-1"
	"OnStartTouch" "Garden_Final_NukeEnable3-1"
}

;extend stage 1 defence
modify:
{
	match:
	{
		"targetname" "Garden_Fruit_Math_Counter"
	}
	delete:
	{
		"OnHitMax" "Garden_Final_NukeEnable151"
		"OnHitMax" "DisplayCommandsay Hold for 15 seconds!!!11"
		"OnHitMax" "Map_Level_CounterSetValue2141"
	}
	insert:
	{
		"OnHitMax" "EdenAntiDelayDisable01"
		"OnHitMax" "Garden_Final_NukeEnable301"
		"OnHitMax" "DisplayCommandsay Hold for 30 seconds!!!11"
		"OnHitMax" "Map_Level_CounterSetValue2291"
	}
}

;fix stage 1 stuck destinations
modify:
{
	match:
	{
		"origin" "1888 14496 2208"
		"targetname" "Garden_Spawn_TP_Destination"
	}
	replace:
	{
		"origin" "1888 14496 2272"
	}
}

modify:
{
	match:
	{
		"origin" "736 12096 2080"
		"targetname" "Garden_Spawn_TP_Destination"
	}
	replace:
	{
		"origin" "1024 12544 2112"
	}
}

;stage 1 remove some human spawns
filter:
{
	"origin" "1024 10624 2080"
	"targetname" "Garden_Spawn_TP_Destination"
}

filter:
{
	"origin" "3488 11008 2080"
	"targetname" "Garden_Spawn_TP_Destination"
}

filter:
{
	"origin" "1888 13056 2080"
	"targetname" "Garden_Spawn_TP_Destination"
}

filter:
{
	"origin" "6144 14496 2080"
	"targetname" "Garden_Spawn_TP_Destination"
}

;stage 1 spawn zombies in a single location away from the enclosure
modify:
{
	match:
	{
		"origin" "4512 13056 2080"
		"targetname" "Garden_Spawn_TP_Destination"
	}
	replace:
	{
		"targetname" "Garden_Spawn_TP_Destination_ZM"
	}
}

modify:
{
	match:
	{
		"targetname" "Map_Level_Case"
	}
	delete:
	{
		"OnCase01" "Spawn_Zone_Teleport_TSetRemoteDestinationGarden_Spawn_TP_Destination01"
		"OnCase01" "Spawn_Zone_AFK_TeleportSetRemoteDestinationGarden_Spawn_TP_Destination01"
	}
	insert:
	{
		"OnCase01" "Spawn_Zone_Teleport_TSetRemoteDestinationGarden_Spawn_TP_Destination_ZM01"
		"OnCase01" "Spawn_Zone_AFK_TeleportSetRemoteDestinationGarden_Spawn_TP_Destination_ZM01"
	}
}

;fix stage 2 bush fire
modify:
{
	match:
	{
		"targetname" "Egypt_Nile_Bush_Fire"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"origin" "-7824 10828 -6316"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "Egypt_Nile_Bush_FireStartFire01"
	}
}

;fix stage 2 stuck destination
modify:
{
	match:
	{
		"targetname" "Egypt_AFK_TP1_Destination"
	}
	replace:
	{
		"origin" "-6725 14764 -6292"
	}
}

;fix stage 2 scaffold skip
modify:
{
	match:
	{
		"targetname" "Egypt_Pyramid_Top_Breakable"
	}
	replace:
	{
		"origin" "-9790 10726 -5474"
	}
}

;stage 2 advance zombie destination into the village when triggered
modify:
{
	match:
	{
		"origin" "-7135 7776 -5971"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "Egypt_AFK_TP2_DestinationAddOutputorigin -7940 8372 -633651"
	}
}

;fix stage 2 broken red sea teleport
modify:
{
	match:
	{
		"origin" "-4344 7488 -902"
		"classname" "trigger_teleport"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;fix stage 3 looping door sound
modify:
{
	match:
	{
		"targetname" "Jericho_FirstDoor_Right"
	}
	replace:
	{
		"loopmovesound" "0"
	}
}

;faster boss+rtv attacks
modify:
{
	match:
	{
		"targetname" "Final_Laser_MoveLinear"
	}
	replace:
	{
		"speed" "2000"
	}
}

modify:
{
	match:
	{
		"targetname" "RTV_Bible_LogicRelayNorth"
	}
	delete:
	{
		"OnSpawn" "RTV_Laser_MoveLinear_NorthOpen21"
	}
	insert:
	{
		"OnSpawn" "RTV_Laser_MoveLinear_NorthOpen11"
	}
}

modify:
{
	match:
	{
		"targetname" "RTV_Bible_LogicRelaySouth"
	}
	delete:
	{
		"OnSpawn" "RTV_Laser_MoveLinear_SouthOpen21"
	}
	insert:
	{
		"OnSpawn" "RTV_Laser_MoveLinear_SouthOpen11"
	}
}

modify:
{
	match:
	{
		"targetname" "Final_Laser_LogicTimer"
	}
	replace:
	{
		"RefireTime" "3"
	}
}

;add boss hp scaling, reduce base hp
modify:
{
	match:
	{
		"classname" "func_breakable"
		"OnBreak" "Final_Boss_MathCounterAdd101"
	}
	insert:
	{
		"targetname" "bossbox"
	}
	replace:
	{
		"health" "1800"
	}
}

modify:
{
	match:
	{
		"origin" "-11136 1408 4208"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "bossboxAddHealth18000-1"
	}
}

;add rtv hp scaling, reduce base hp
modify:
{
	match:
	{
		"classname" "func_breakable"
		"OnBreak" "RTV_Boss_MathCounterAdd101"
	}
	insert:
	{
		"targetname" "rtvbox"
	}
	replace:
	{
		"health" "900"
	}
}

modify:
{
	match:
	{
		"targetname" "Spawn_Zone_Teleport_CT"
		"classname" "trigger_teleport"
	}
	insert:
	{
		"OnStartTouch" "rtvboxAddHealth9000-1"
	}
}

;fix rtv zombie bridge not spawning after first one is broken
modify:
{
	match:
	{
		"targetname" "RTV_Bridge_EntityMaker1"
	}
	replace:
	{
		"EntityTemplate" "RTV_Bridge_PointTemplate"
	}
}

modify:
{
	match:
	{
		"targetname" "RTV_Bridge_EntityMaker2"
	}
	replace:
	{
		"EntityTemplate" "RTV_Bridge_PointTemplate"
	}
}

modify:
{
	match:
	{
		"targetname" "RTV_Bridge_EntityMaker3"
	}
	replace:
	{
		"EntityTemplate" "RTV_Bridge_PointTemplate"
	}
}

modify:
{
	match:
	{
		"targetname" "RTV_Bridge_EntityMaker4"
	}
	replace:
	{
		"EntityTemplate" "RTV_Bridge_PointTemplate"
	}
}

;add spawns
filter:
{
	"classname" "info_player_terrorist"
}

filter:
{
	"classname" "info_player_counterterrorist"
}

add:
{
	"origin" "-15040 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-15040 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14976 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14976 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14976 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14912 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14912 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14912 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14848 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14848 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14848 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14784 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14784 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14784 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14720 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14720 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14720 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14656 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14656 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14656 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14592 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14592 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14592 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14528 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14528 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14528 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14464 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14464 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14464 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14400 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14400 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-14400 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_terrorist"
}
add:
{
	"origin" "-15168 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15168 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15232 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15232 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15232 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15296 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15296 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15296 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15360 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15360 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15360 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15424 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15424 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15424 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15488 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15488 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15488 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15552 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15552 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15552 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15616 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15616 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15616 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15680 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15680 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15680 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15744 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15744 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15744 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15808 14016 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15808 13952 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}
add:
{
	"origin" "-15808 13888 16"
	"enabled" "1"
	"angles" "0 90 0"
	"classname" "info_player_counterterrorist"
}