;Using English and Fix broken messages
;################################# THIS CHANGE WILL NOT WORK WITHOUT HAVING ##################################
;############################# csgo/scripts/vscripts/gfl/ze_border_patched.nut ###############################
;############################### csgo/scripts/vscripts/gfl/init_patched.nut ##################################
;############################################ IN THE SERVER FILES ############################################
;######## https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/ze_border_patched.nut ##########
;########### https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/init_patched.nut ############
;###### https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/message_eng_fix_patched.nut ######
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "engTrigger0-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "border"
	}
	replace:
	{
		"vscripts" "gfl/ze_border_patched.nut"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "player_count"
	}
	replace:
	{
		"vscripts" "gfl/init_patched.nut"
	}
}
modify:
{
	match:
 	{
  		"classname" "logic_script"
		"targetname" "message_eng"
  	}
   	replace:
	{
 		"vscripts" "gfl/message_eng_fix.nut"
   	}
}
;modify Rtv Timer
modify:
{
	match:
	{
		"targetname" "RTV_timer"
	}
	replace:
	{
		"RefireTime" "1"
	}
}

;delete l3_elev1 in RTV
modify:
{
	match:
	{
		"targetname" "RTV_Init"
	}
	insert:
	{
		"OnTrigger" "l3_elev1Kill0-1"
	}
}

;delete error tip
modify:
{
	match:
	{
		"targetname" "lab_door5_relay"
	}
	delete:
	{
		"OnTrigger" "messageRunScriptCodechat(lab_door5)0-1"
	}
}

;Path fix
modify:
{
	match:
	{
		"targetname" "l1_end_clip_brush"
	}
	replace:
	{
		"Solidity" "0"
	}
}

;Item fix
modify:
{
	match:
	{
		"targetname" "Item_Wall1_Button"
	}
	replace:
	{
		"origin" "11207.5 9169 2960"
	}
}

;Item fix
modify:
{
	match:
	{
		"targetname" "Item_Ammo_Button"
	}
	replace:
	{
		"spawnflags" "1025"
	}
}

;Extinguisher fix
modify:
{
	match:
	{
		"hammerid" "2179235"
	}
	insert:
	{
		"targetname" "Item_Extinguisher_trigger"
	}
}

;Extinguisher fix
modify:
{
	match:
	{
		"targetname" "Template_Item_Extinguisher"
	}
	insert:
	{
		"Template02" "Item_Extinguisher_trigger"
	}
}

;Extinguisher fix
modify:
{
	match:
	{
		"targetname" "Item_Extinguisher_Button"
	}
	insert:
	{
		"OnUser4" "Item_Extinguisher_triggerDisable8-1"
		"OnUser4" "Item_Extinguisher_triggerKill10-1"
	}
}
;Fix zombies knifing humans through elevator
add:
{
	"classname"	"trigger_teleport"
 	"model" "*26"
  	"origin" 14063 15699 -1945"
   	"spawnflags" "4097"
	"StartDisabled" "1"
 	"targetname" "ZM_Elevator_Fix"
  	"filtername" "Zombies"
   	"target" "l3_tp_sewer2_d"
	"UseLandmarkAngles" "1"
}
modify:
{
	match:
 	{
  		"targetname" "l3_button5"
	}
 	insert:
  	{
   		"OnPressed" "ZM_Elevator_Fix,Enable,,20,-1"
	 	"OnPressed" "ZM_Elevator_Fix,Disable,,30,-1"
	}
}
