;stripper by koen (STEAM_1:1:114921174)
;NOTE: I already plan on releasing _k1 version due to wrong boss model size compiled
;      This stripper is meant for testing balancing after Zeddy test

;add map modification message in chat
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say ** MAP MODIFIED **,10,-1"
	}
}

;fix repeated zombie teleport after boss fight on stage 3
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "s3_end_relay"
	}
	insert:
	{
		"OnTrigger" "s3_end_tp_zmDisable191"
	}
}

;buff heal and increase max health amount
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "human_heal_trigger"
	}
	replace:
	{
		"damage" "-10"
	}
	delete:
	{
		"OnStartTouch" "!activatorAddOutputmax_health 1500-1"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputmax_health 2000-1"
	}
}

;change health set before stage 3 boss fight
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "s3_addplayer_hp"
	}
	delete:
	{
		"OnStartTouch" "!activatorAddOutputhealth 1500-1"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputhealth 2000-1"
	}
}

;adjust stage 3 boss health
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "s3_boss_addhp"
	}
	delete:
	{
		"OnStartTouch" "bx_healthAdd950-1"
	}
	insert:
	{
		"OnStartTouch" "bx_healthAdd850-1"
	}
}

;adjust stage 3 boss attack damage
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "bdzs_hurt"
	}
	replace:
	{
		"damage" "30"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "zkjx_hurt"
	}
	replace:
	{
		"damage" "10"
	}
}