;workaround for missing buyzone
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandmp_buy_anywhere 10-1"
		"OnMapSpawn" "cmdCommandmp_buy_anywhere 018-1"
	}
}

;patch stage 2 teleport avoidance spot
add:
{
	"classname" "trigger_teleport"
	"targetname" "st2_tp_3"
	"target" "zm_cage_boss_des"
	"spawnflags" "1"
	"StartDisabled" "1"
	"origin" "5404.5 -8662 -338"
	"model" "*136"
	"UseLandmarkAngles" "1"
}