;fix incorrect timer
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "end_lvl2"
	}
	delete:
	{
		"OnStartTouch" "scCommandsay *** Hold 30 secs! ***01"
	}
	insert:
	{
		"OnStartTouch" "scCommandsay *** Hold 35 secs! ***01"
	}
}