;Remove the annoying ignite that heal gives
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Trigger_Heal"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgniteLifetime00-1"
	}
}

;Decreases boss hp
modify:
{
	match:
	{
		"targetname" "Frenchy_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnSpawn" "Frenchy_moveRunScriptCodeHP_PERHUMAN = 300001"
	}
}

;Fix stack damage
add:
{
	"classname" "filter_damage_type"
	"damagetype" "256"
	"Negated" "Allow entities that match criteria"
	"targetname" "No_Damage"
}

modify:
{
	match:
	{
		"targetname" "Trigger_Meteor_hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnHurtPlayer" "!activatorSetDamageFilterNo_Damage0-1"
		"OnHurtPlayer" "!activatorSetDamageFilter0.5-1"
	}
}

;Fix targetname for heal
modify:
{
	match:
	{
		"targetname" "Item_Heal"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "!activatorAddOutputtargetname Human_Heal01"
	}
	insert:
	{
		"OnPlayerPickup" "!activatorAddOutputtargetname Human_Heal0-1"
	}
}