;lazy way to patch stage 3 nuke avoidance spot(s)
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "c3_end_lv_change"
	}
	insert:
	{
		"OnTrigger" "playerRunScriptCodeforeach(k,_ in{SetHealth=0}){if(self.GetTeam()==2&&self.GetHealth()>0)EntFireByHandle(self,k,(0).tostring(),0,null,null)}101"
	}
}

;Fixed version text
modify:
{
	match:
	{
		"classname" "point_worldtext"
		"hammerid" "739"
	}
	replace:
	{
		"message" "ver.1_st2"
	}
}

;Fixed c1 2way failed trigger
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "c1_trigger_07"
	}
	delete:
	{
		"OnTrigger" "c1_2way_failed_04kill25-1"
	}
	insert:
	{
		"OnTrigger" "c1_2way_failed_04kill15-1"
	}
}

;Fixed zombie spawn in c3 escape part
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "c3_escape_spawn_tp"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}

;Null teleport destination crash (Thanks to Lerrdy)
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "difficulty_chapter4"
	}
	insert:
	{
		"OnTrigger" "start_tpKill34-1"
		"OnTrigger" "start_tp2Kill34-1"
		"OnTrigger" "tp_start_testEnable34-1"
		"OnTrigger" "tp_start2_testEnable34-1"
	}
}

add:
{
	"model" "*292"
	"UseLandmarkAngles" "1"
	"targetname" "tp_start2_test"
	"target" "c3_zmtp_3_des"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "-2560 -11264 -240"
	"filtername" "filter_zombie"
	"CheckDestIfClearForPlayer" "0"
	"classname" "trigger_teleport"
}

add:
{
	"model" "*291"
	"UseLandmarkAngles" "1"
	"targetname" "tp_start_test"
	"target" "c3_zmtp_3_des"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "-2560 -11264 -240"
	"filtername" "filter_human"
	"CheckDestIfClearForPlayer" "0"
	"classname" "trigger_teleport"
}