;If level 2 DPS check is failed and round becomes unwinnable, kill all CTs 5 seconds later rather than let them delay
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "L2_END_hopper_relay"
	}
	insert:
	{
		"OnSpawn" "playerRunScriptCodeforeach(k,_ in{SetHealth=0}){if(self.GetTeam()==3&&self.GetHealth()>0)EntFireByHandle(self, k,(0).tostring(),0,null,null)}15-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "L2_END_hopper_hit"
	}
	insert:
	{
		"OnBreak" "L2_END_hopper_relay,CancelPending,,0,-1"
	}
}

;fix awful game_text placement behind hint hud
modify:
{
	match:
	{
		"classname" "game_text"
		"x" "-1"
		"y" "0.75"
	}
	replace:
	{
		"y" "0.65"
	}
}

;Properly disable AVA item until after the boss dies and L3_zavistend_relay sends an enable input to ava_relay
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "ava_relay"
	}
	replace:
	{
		"StartDisabled" "1"
	}
}