;extend ending nuke to cover the entire snake (the wing things were missed)
add:
{
	"origin" "-11558 171 -1450"
	"model" "*3"
    "targetname" "Bomba_nuclear"
    "StartDisabled" "1"
    "spawnflags" "1"
    "nodmgforce" "0"
    "damagetype" "64"
    "damagemodel" "0"
    "damagecap" "1000"
    "damage" "999999"
    "classname" "trigger_hurt"
}

add:
{
	"origin" "-11558 939 -1450"
	"model" "*3"
    "targetname" "Bomba_nuclear"
    "StartDisabled" "1"
    "spawnflags" "1"
    "nodmgforce" "0"
    "damagetype" "64"
    "damagemodel" "0"
    "damagecap" "1000"
    "damage" "999999"
    "classname" "trigger_hurt"
}