;remove stuff that shouldn't be in the map by default
;trigger redcore by using "sm_forceinput RedcoreRelay Trigger"
filter:
{
	"targetname" "admin_button_ex_d_ents"
}
filter:
{
	"targetname" "admin_button_ex_d"
}
filter:
{
	"targetname" "admin_button_ex_d_off"
}
add:
{
	"classname" "logic_relay"
	"origin" "-15000 -14632 -16184"
	"targetname" "RedcoreRelay"
	"StartDisabled" "0"
	"spawnflags" "0"
	"OnTrigger" "serverCommandsay *** ADMIN HAS ENABLED D INSANE MODE ***0-1"
	"OnTrigger" "level_stockAddOutputOnUser1 level_counter:SetValue:8:0.06:10.02-1"
	"OnTrigger" "serverCommandsay *** RESTARTING ROUND IN 3 ***1-1"
	"OnTrigger" "serverCommandsay *** 2 ***2-1"
	"OnTrigger" "serverCommandsay *** 1 ***3-1"
	"OnTrigger" "admin_nukeCountPlayersInZone4-1"
}
add:
{
	"classname" "point_worldtext"
	"origin" "-14813 -15071 -16132"
	"angles" "-0 -90 0"
	"message" "sm_forceinput RedcoreRelay Trigger"
	"color" "255 0 0"
	"textsize" "8"
	"spawnflags" "0"
}

;Not sure why this is here. Teleports players to admin room. NOT needed.
filter:
{
	"classname" "trigger_multiple"
	"origin" "-416.03 448.08 -9245"
}

;remove speed modifiers from lasers to match v1_13
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "escape_laser_hurt1"
	}
	delete:
	{
		"OnStartTouch" "speedModifySpeed0.60-1"
		"OnStartTouch" "speedModifySpeed0.60.2-1"
		"OnStartTouch" "speedModifySpeed0.60.4-1"
		"OnStartTouch" "speedModifySpeed0.60.6-1"
		"OnStartTouch" "speedModifySpeed0.60.8-1"
		"OnStartTouch" "speedModifySpeed0.61-1"
		"OnStartTouch" "speedModifySpeed0.61.2-1"
		"OnStartTouch" "speedModifySpeed0.61.4-1"
		"OnStartTouch" "speedModifySpeed0.61.6-1"
		"OnStartTouch" "speedModifySpeed0.61.8-1"
		"OnStartTouch" "speedModifySpeed0.62-1"
		"OnStartTouch" "speedModifySpeed0.62.2-1"
		"OnStartTouch" "speedModifySpeed0.62.4-1"
		"OnStartTouch" "speedModifySpeed0.62.6-1"
		"OnStartTouch" "speedModifySpeed0.62.8-1"
		"OnStartTouch" "speedModifySpeed0.63-1"
		"OnStartTouch" "speedModifySpeed0.63.2-1"
		"OnStartTouch" "speedModifySpeed0.63.4-1"
		"OnStartTouch" "speedModifySpeed0.63.6-1"
		"OnStartTouch" "speedModifySpeed0.63.8-1"
		"OnStartTouch" "speedModifySpeed14-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "escape_laser_hurt2"
	}
	delete:
	{
		"OnStartTouch" "speedModifySpeed0.60-1"
		"OnStartTouch" "speedModifySpeed0.60.2-1"
		"OnStartTouch" "speedModifySpeed0.60.4-1"
		"OnStartTouch" "speedModifySpeed0.60.6-1"
		"OnStartTouch" "speedModifySpeed0.60.8-1"
		"OnStartTouch" "speedModifySpeed0.61-1"
		"OnStartTouch" "speedModifySpeed0.61.2-1"
		"OnStartTouch" "speedModifySpeed0.61.4-1"
		"OnStartTouch" "speedModifySpeed0.61.6-1"
		"OnStartTouch" "speedModifySpeed0.61.8-1"
		"OnStartTouch" "speedModifySpeed0.62-1"
		"OnStartTouch" "speedModifySpeed0.62.2-1"
		"OnStartTouch" "speedModifySpeed0.62.4-1"
		"OnStartTouch" "speedModifySpeed0.62.6-1"
		"OnStartTouch" "speedModifySpeed0.62.8-1"
		"OnStartTouch" "speedModifySpeed0.63-1"
		"OnStartTouch" "speedModifySpeed0.63.2-1"
		"OnStartTouch" "speedModifySpeed0.63.4-1"
		"OnStartTouch" "speedModifySpeed0.63.6-1"
		"OnStartTouch" "speedModifySpeed0.63.8-1"
		"OnStartTouch" "speedModifySpeed14-1"
	}
}

;patch corner safespots on stage B
add:
{
	"model" "*300"
	"targetname" "b_escape_pole_prop1"
	"parentname" "b_escape_pole_move1"
	"origin" "-9763 -1517 8285"
	"classname" "func_movelinear"
}

add:
{
	"model" "*300"
	"targetname" "b_escape_pole_prop13"
	"parentname" "b_escape_pole_move1"
	"origin" "-10253 -1517 8285"
	"classname" "func_movelinear"
}

add:
{
	"model" "*300"
	"targetname" "b_escape_pole_prop16"
	"parentname" "b_escape_pole_move1"
	"origin" "-10253 -1027 8285"
	"classname" "func_movelinear"
}

add:
{
	"model" "*300"
	"targetname" "b_escape_pole_prop4"
	"parentname" "b_escape_pole_move1"
	"origin" "-9765 -1029 8285"
	"classname" "func_movelinear"
}

;block gaps at stage D that new players tend to fall through
add:
{
	"classname" "func_brush"
	"model" "*59"
	"origin" "-9724 -11331 7331"
	"angles" "0 0 0"
	"rendermode" "3"
}

add:
{
	"classname" "func_brush"
	"model" "*59"
	"origin" "-9300 -11331 7331"
	"angles" "0 0 0"
	"rendermode" "3"
}

add:
{
	"classname" "func_brush"
	"model" "*59"
	"origin" "-9724 -10475 7331"
	"angles" "0 0 0"
	"rendermode" "3"
}

add:
{
	"classname" "func_brush"
	"model" "*59"
	"origin" "-9300 -10475 7331"
	"angles" "0 0 0"
	"rendermode" "3"
}