;fix tp avoidance spot in spawn
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "zm_teleport"
	}
	replace:
	{
		"origin" "-4351 -440.5 1890"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "zm_teleport_stg2"
	}
	replace:
	{
		"origin" "-4351 -442.5 1898.5"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "zm_teleport_stg3"
	}
	replace:
	{
		"origin" "-4353 -442.5 1902.5"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "zm_teleport_rtv"
	}
	replace:
	{
		"origin" "-4367 -442.5 1901.5"
	}
}

;teleport angles
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	replace:
	{
		"UseLandmarkAngles" "1"
	}
}

;remove duplicate zm speed button
filter:
{
	"targetname" "speed_button"
	"hammerid" "3551726"
}

;replace item targetname filtering with context due to conflicts with boss setting targetnames
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "item_snow_fitler"
	}
	delete:
	{
		"filtername" "snow_user"
	}
	replace:
	{
		"classname" "filter_activator_context"
	}
	insert:
	{
		"ResponseContext" "snow_user"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "sonic_filter"
	}
	delete:
	{
		"filtername" "sonic_user"
	}
	replace:
	{
		"classname" "filter_activator_context"
	}
	insert:
	{
		"ResponseContext" "sonic_user"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "item_wp_snow"
	}
	delete:
	{
		"OnPlayerPickup" "snow_userAddOutputtargetname null0-1"
		"OnPlayerPickup" "!activatorAddOutputtargetname snow_user0.03-1"
	}
	insert:
	{
		"OnPlayerPickup" "playerRemoveContextsnow_user0-1"
		"OnPlayerPickup" "!activatorAddContextsnow_user:10.03-1"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_elite"
		"targetname" "wp_sonic"
	}
	delete:
	{
		"OnPlayerPickup" "sonic_userAddOutputtargetname null0-1"
		"OnPlayerPickup" "!activatorAddOutputtargetname sonic_user0.03-1"
	}
	insert:
	{
		"OnPlayerPickup" "playerRemoveContextsonic_user0-1"
		"OnPlayerPickup" "!activatorAddContextsonic_user:10.03-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "playerClearContext0-1"
	}
}

;fix music not stopping
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"spawnflags" "17"
	}
	replace:
	{
		"spawnflags" "49"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "9080.5 5062.5 2795.5"
	}
	delete:
	{
		"OnStartTouch" "sd1FadeOut101"
	}
	insert:
	{
		"OnStartTouch" "sd1Volume0101"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "stg2_part3"
	}
	delete:
	{
		"OnStartTouch" "sd3FadeOut01"
	}
	insert:
	{
		"OnStartTouch" "sd3Volume001"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "stg2_brigde_teleport2"
	}
	delete:
	{
		"OnStartTouch" "sd4FadeOut01"
	}
	insert:
	{
		"OnStartTouch" "sd4Volume001"
	}
}
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "stg3_cube_black"
	}
	delete:
	{
		"OnBreak" "sd5FadeOut01"
	}
	insert:
	{
		"OnBreak" "sd5Volume001"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stg3_middle_door_trigger"
	}
	delete:
	{
		"OnStartTouch" "sd6FadeOut221"
	}
	insert:
	{
		"OnStartTouch" "sd6Volume0221"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "stg3_boss_tele"
	}
	delete:
	{
		"OnStartTouch" "sd7FadeOut01"
	}
	insert:
	{
		"OnStartTouch" "sd7Volume001"
	}
}
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "boss_counter"
	}
	delete:
	{
		"OnBreak" "se_bossStopSound01"
	}
	insert:
	{
		"OnBreak" "se_bossVolume001"
	}
}