;show stripper version
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "169"
	}
	insert:
	{
		"OnNewGame" "Scommand,Command,say >> Fix stripper #2 added <<,7.6,-1"
	}
}

;fix ZM items for multiple pickups
modify:
{
	match:
	{
		"targetname" "filter_zombie_getitem"
		"classname" "filter_activator_name"
	}
	replace:
	{
		"filtername" "Item_zm_*"
	}
}

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "169"
	}
	insert:
	{
		"OnNewGame" "Item_zm_blue,AddOutput,targetname player,2,-1"
		"OnNewGame" "Item_zm_green,AddOutput,targetname player,2,-1"
		"OnNewGame" "Item_zm_yellow,AddOutput,targetname player,2,-1"
		"OnNewGame" "Item_zm_red,AddOutput,targetname player,2,-1"
		"OnNewGame" "Item_zm_white,AddOutput,targetname player,2,-1"
	}
}
