;fix vscript injection exploit
;################################# THIS CHANGE WILL NOT WORK WITHOUT HAVING ##################################
;################################# csgo/scripts/vscripts/gfl/inject_fix.nut ##################################
;############################################ IN THE SERVER FILES ############################################
;############ https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/inject_fix.nut #############
add:
{
	"classname" "logic_relay"
	"targetname" "luff_injectfix"
	"vscripts" "gfl/inject_fix.nut"
	"OnSpawn" "!self,Trigger,,0.00,-1"
	"OnSpawn" "!self,Trigger,,0.05,-1"
	"OnSpawn" "!self,Trigger,,0.20,-1"
	"OnTrigger" "!selfRunScriptCodeforeach(a,_ in{mapmanager=0}){LuffInjectFixInit(a)}0.00-1"
}