;stripper for ze_escape_together_v1_xx made by Dominikk
;fix the door where it didn't kill players
modify:
{
    match:
    {
		"classname" "func_door"
		"targetname" "end_door"
    }
    replace:
    {
		"forceclosed" "1"
		"dmg" "99999"
    }
}