;prevent zombies getting boosted upstairs in stage 2/5
add:
{
	"classname" "trigger_push"
	"targetname" "anti_boost"
	"speed" "1000"
	"pushdir" "90 0 0"
	"spawnflags" "1"
	"StartDisabled" "1"
	"filtername" "filter_t"
	"model" "*272"
	"origin" "-350 -233.5 461"
	"rendermode" "10"
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage2andex2obs1trigger"
	}
	insert:
	{
		"OnStartTouch" "anti_boost,Enable,,5,1"
		"OnStartTouch" "anti_boost,Kill,,28,1"
	}
}

;fix humans falling in lava at spawn triggering repeat killer
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "hurt_lava"
		"origin" "-13.03 -11620.5 131.58"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"nodmgforce" "0"
		"damagetype" "0"
		"damagemodel" "0"
		"damagecap" "20"
		"damage" "100000"
	}
	insert:
	{
		"wait" "0"
		"OnTrigger" "!activatorSetHealth00-1"
	}
}

;prevent humans from using wall to get past first wall
add:
{
	"classname" "func_brush"
	"model" "*100"
	"origin" "-58.5 -5154.5 1231.5"
	"rendermode" "10"
}

;kill humans who get under the map at first gate using wall
modify:
{
	match:
	{
		"targetname" "hurt_lava"
		"origin" "-3.02 -7415.99 135.43"
	}
	replace:
	{
		"origin" "-3.02 -7255.99 135.43"
	}
}

;teleport players from pixel surf tp avoidance spot
add:
{
	"classname" "trigger_teleport"
	"model" "*287"
	"targetname" "stage2andex2pos3trigger"
	"StartDisabled" "1"
	"spawnflags" "1"
	"target" "stage2andex2des2"
	"origin" "-35 4215 381"
}

;ze_fapescape_katrina,Stripper by
; __ _
;/ _\ |__   __ _ _ __   __ _
;\ \| '_ \ / _` | '_ \ / _` |
;_\ \ | | | (_| | | | | (_| |
;\__/_| |_|\__,_|_| |_|\__,_|     STEAM_0:0:125634782.
;I am a new mapper and stripper writer，If u have a good idea about this map,u can contact to me.
;----------------------------------------------------------------------
;reduce all stage boss's hp for that server can easier beat it
;----------------------------------------------------------------------
modify:
{
	match:
	{
		"hammerid" "1180248"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "boss_1attackhpAdd380.01-1"
		"OnStartTouch" "boss_1hp_defaultAdd380.01-1"
	}
	insert:
	{
		"OnStartTouch" "boss_1attackhpAdd280.01-1"
		"OnStartTouch" "boss_1hp_defaultAdd280.01-1"
	}
}

modify:
{
	match:
	{
		"hammerid" "1331848"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "boss_4attackhpAdd260.01-1"
		"OnStartTouch" "boss_4hp_defaultAdd260.01-1"
	}
	insert:
	{
		"OnStartTouch" "boss_4attackhpAdd220.01-1"
		"OnStartTouch" "boss_4hp_defaultAdd220.01-1"
	}
}

modify:
{
	match:
	{
		"hammerid" "1473941"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "boss_2attackhpAdd400.01-1"
		"OnStartTouch" "boss_2hp_defaultAdd400.01-1"
	}
	insert:
	{
		"OnStartTouch" "boss_2attackhpAdd300.01-1"
		"OnStartTouch" "boss_2hp_defaultAdd300.01-1"
	}
}

modify:
{
	match:
	{
		"hammerid" "1387620"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "boss_5attackhpAdd320.01-1"
		"OnStartTouch" "boss_5hp_defaultAdd320.01-1"
	}
	insert:
	{
		"OnStartTouch" "boss_5attackhpAdd260.01-1"
		"OnStartTouch" "boss_5hp_defaultAdd260.01-1"
	}
}

modify:
{
	match:
	{
		"hammerid" "1493167"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "boss_3attackhpAdd400.01-1"
		"OnStartTouch" "boss_3hp_defaultAdd400.01-1"
	}
	insert:
	{
		"OnStartTouch" "boss_3attackhpAdd280.01-1"
		"OnStartTouch" "boss_3hp_defaultAdd280.01-1"
	}
}

modify:
{
	match:
	{
		"hammerid" "1548475"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "boss_61hpAdd2500.01-1"
		"OnStartTouch" "boss_62hpAdd3000.01-1"
		"OnStartTouch" "boss_63hpAdd3200.01-1"
	}
	insert:
	{
		"OnStartTouch" "boss_61hpAdd1900.01-1"
		"OnStartTouch" "boss_62hpAdd2400.01-1"
		"OnStartTouch" "boss_63hpAdd2500.01-1"
	}
}

;----------------------------------------------------------------------
; Add three air block to block zombie or human jump door
;----------------------------------------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "2701085"
	}
	insert:
	{
		"OnMapSpawn" "stripper1AddOutputmins -10 -778 -2540-1"
		"OnMapSpawn" "stripper1AddOutputmaxs 10 778 2540-1"
		"OnMapSpawn" "stripper1AddOutputsolid 20-1"
		"OnMapSpawn" "stripper2AddOutputmins -13 -843.5 -2540-1"
		"OnMapSpawn" "stripper2AddOutputmaxs 13 843.5 2540-1"
		"OnMapSpawn" "stripper2AddOutputsolid 20-1"
		"OnMapSpawn" "stripper3AddOutputmins -109.5 -4.5 -150-1"
		"OnMapSpawn" "stripper3AddOutputmaxs 109.5 4.5 150-1"
		"OnMapSpawn" "stripper3AddOutputsolid 20-1"
	}
}

add:
{
	"classname" "func_brush"
	"origin" "5487 7582 4566.37"
	"targetname" "stripper1"
}

add:
{
	"classname" "func_brush"
	"origin" "5105 7646.5 4566.37"
	"targetname" "stripper2"
}

add:
{
	"classname" "func_brush"
	"origin" "5172.5 6114.5 5002.5"
	"targetname" "stripper3"
}

;----------------------------------------------------------------------
; reduce the ex3 final legoruin damage(per second 5->total 5)(if human have vast)
;----------------------------------------------------------------------
modify:
{
	match:
	{
		"hammerid" "2667833"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "5"
	}
}

;----------------------------------------------------------------------
; change the filtername in the ex3 final
;----------------------------------------------------------------------
modify:
{
	match:
	{
		"hammerid" "2667998"
		"classname" "trigger_multiple"
	}
	replace:
	{
		"filtername" "filter_ct"
	}
}
;----------------------------------------------------------------------

;Below stripper changes by Ryner The Wolf
;https://github.com/RynerWolf/csgo-cfgs

;Fix the bosses going crazy due to outputs firing more than once on trigger_once
modify:
{
	match:
	{
		"targetname" "boss_2othertrigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "Boss_2ThrusterForwardAddOutputforce 18000-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_2ThrusterForwardAddOutputforce 180001"
	}
}

modify:
{
	match:
	{
		"targetname" "boss_4othertrigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "Boss_1ThrusterForwardAddOutputforce 17000-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_1ThrusterForwardAddOutputforce 170001"
	}
}
