;What it does:
;	- Fix TP avoidance spot
;	- Make earth non-solid to CTs during lasers to prevent trolling teammates
;	- Rework ZM item pickup filter, so if you join late or grab a CT item you can still pick up a ZM item
;	- Fix warmup
;	- Fix TP angles
;	- Fix kevlar buying in spawn
;	- Fix some damage not taking kevlar into account
;	- Tweak lvl 4 boss fight damage values to be in line with css
;	- Keep freezetime default
;	- Ultima rework by potti, hopefully fixes lvl 4 repeat killer bug
;	- Fix boss targetting on earth item so it correctly targets the player instead of using the item

;Fix TP avoidance spot
add:
{
	"classname" "trigger_teleport"
	"CheckDestIfClearForPlayer" "0"
	"origin" "-1914 -136 297.16"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "Map_TD_3"
	"targetname" "resizeme"
	"UseLandmarkAngles" "0"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "resizeme,AddOutput,solid 2,1,-1"
		"OnMapSpawn" "resizeme,AddOutput,mins -758 -312 -315,1.5,-1"
		"OnMapSpawn" "resizeme,AddOutput,maxs 758 312 315,1.5,-1"
		"OnMapSpawn" "resizeme,AddOutput,targetname Map_TP_3,2,-1"
	}
}

;Make earth non-solid to CTs during lasers to prevent trolling teammates
add:
{
	"classname" "trigger_multiple"
	"filtername" "Humans_Filter"
	"origin" "9552 -1112 1160"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "Earth_Trigger"
	"wait" "0"
	"OnStartTouch" "Earth,RunScriptCode,SetOwner<-function(){activator.SetOwner(self)},0,1"
	"OnStartTouch" "Earth,RunScriptCode,SetOwner(),0.03,-1"
}

add:
{
	"classname" "trigger_multiple"
	"filtername" "Zombies_Filter"
	"origin" "9552 -1112 1160"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "Earth_Trigger2"
	"wait" "0"
	"OnStartTouch" "Earth,RunScriptCode,ResetOwner<-function(){activator.SetOwner(null)},0,1"
	"OnStartTouch" "Earth,RunScriptCode,ResetOwner(),0.03,-1"
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Earth"
	}
	replace:
	{
		"targetname" "Earth2"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Earth_Temp"
		"classname" "point_template"
	}
	insert:
	{
		"Template03" "Earth2"
		"Template04" "Earth_Trigger"
		"Template05" "Earth_Trigger2"
	}
}

modify:
{
	match:
	{
		"targetname" "Earth_Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnSpawn" "EarthBreak5-1"
	}
	insert:
	{
		"OnSpawn" "Earth2,Break,,5,-1"
		"OnSpawn" "Earth_Trigger,Kill,,5.5,-1"
		"OnSpawn" "Earth_Trigger2,Kill,,5.5,-1"
		"OnSpawn" "Earth_Nonsolid_Relay,Trigger,,0.05,-1"
	}
}

add:
{
	"classname" "logic_timer"
	"targetname" "Earth_Collision_Timer"
	"origin" "9552 -1096 1020"
	"RefireTime" "0.1"
	"spawnflags" "0"
	"StartDisabled" "1"
	"UseRandomTime" "0"
	"OnTimer" "Earth_Trigger2,Enable,,0,-1"
	"OnTimer" "Earth_Trigger2,Disable,,0.05,-1"
	"OnTimer" "Earth_Trigger,Enable,,0,-1"
	"OnTimer" "Earth_Trigger,Disable,,0.05,-1"
}

add:
{
	"classname" "logic_relay"
	"targetname" "Earth_Nonsolid_Relay"
	"origin" "5416 -2320 72"
	"spawnflags" "0"
	"StartDisabled" "1"
	"OnTrigger" "Earth_Collision_Timer,Enable,,0,-1"
	"OnTrigger" "Earth_Collision_Timer,Disable,,5.5,-1"
	"OnTrigger" "Earth_Trigger,Enable,,0,-1"
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Extreme_End"
	}
	insert:
	{
		"OnTrigger" "Earth_Nonsolid_Relay,Enable,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Hard_End"
	}
	insert:
	{
		"OnTrigger" "Earth_Nonsolid_Relay,Enable,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Rage_End_Trigger"
	}
	insert:
	{
		"OnTrigger" "Earth_Nonsolid_Relay,Enable,,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Earth_Spawner"
		"classname" "env_entity_maker"
	}
	insert:
	{
		"OnEntitySpawned" "Earth_Trigger,AddOutput,solid 2,0.05,-1"
		"OnEntitySpawned" "Earth_Trigger,AddOutput,mins -160 -296 -248,0.1,-1"
		"OnEntitySpawned" "Earth_Trigger,AddOutput,maxs 160 296 248,0.1,-1"
		"OnEntitySpawned" "Earth_Trigger2,AddOutput,solid 2,0.05,-1"
		"OnEntitySpawned" "Earth_Trigger2,AddOutput,mins -160 -296 -248,0.1,-1"
		"OnEntitySpawned" "Earth_Trigger2,AddOutput,maxs 160 296 248,0.1,-1"
		"OnEntitySpawned" "Earth2,AddOutput,solid 5,0.1,-1"
	}
}

;Rework ZM item pickup filter, so if you join late or grab a CT item you can still pick up a ZM item
modify:
{
	match:
	{
		"targetname" "Filter_Z_Items_Pickup"
		"classname" "filter_multi"
	}
	replace:
	{
		"Filter02" "Filter_Z_Items"
	}
}

add:
{
	"origin" "3346 -1550 72"
	"classname" "filter_multi"
	"targetname" "Filter_Z_Items"
	"filtertype" "1"
	"Negated" "1"
	"Filter01" "CactusZM_Z_Filter"
	"Filter02" "Item_Z_Ice_Filter"
	"Filter03" "Item_Z_Fire_Filter"
	"Filter04" "Item_Z_Poison_Filter"
	"Filter05" "Item_Z_Confuse_filter"
}

;Remove the filters from templates since the above fix apparently doesn't work if they are templated
modify:
{
	match:
	{
		"targetname" "Weapon_Z_Poison_Temp"
		"classname" "point_template"
	}
	delete:
	{
		"Template07" "Item_Z_Poison_Filter"
	}
}

modify:
{
	match:
	{
		"targetname" "Weapon_Z_Fire_Temp"
		"classname" "point_template"
	}
	delete:
	{
		"Template07" "Item_Z_Fire_Filter"
	}
}

modify:
{
	match:
	{
		"targetname" "Weapon_Z_Ice_Temp"
		"classname" "point_template"
	}
	delete:
	{
		"Template07" "Item_Z_Ice_Filter"
	}
}

modify:
{
	match:
	{
		"targetname" "CactusZM_Spawner_Zombies"
		"classname" "point_template"
	}
	delete:
	{
		"Template02" "CactusZM_Z_Filter"
	}
}

;------------
;	fix warmup for ze_ffvii_cosmo_canyon_v5k_fix 
; ---------------
modify:
{
	match:
	{
		"targetname" "Levels_Case"
	}
	insert:
	{
		"OnCase01" "Map_All_HurtEnable55-1"
	}
}

;Fix TP angles
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	replace:
	{
		"UseLandmarkAngles" "1"
	}
	insert:
	{
		"UseLandmarkAngles" "1"
	}
}

;Fix kevlar buying in spawn
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"hammerid" "5779784"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}

;Fix some damage not taking kevlar into account
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}

;Tweak lvl 4 boss fight damage values to be in line with css
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Ifrit_Aspil_Hurt"
	}
	replace:
	{
		"damage" "20"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Ifrit_Hurt"
	}
	replace:
	{
		"damage" "100"
	}
}

;Keep freezetime default
modify:
{
	match:
	{
		"targetname" "cmd"
	}
	delete:
	{
		"OnUser1" "!selfCommandmp_freezetime 101"
	}
}

;Ultima rework by potti, hopefully fixes lvl 4 repeat killer bug
filter:
{
	"classname" "trigger_teleport"
	"targetname" "Item_Ultima_Hurt"
	"origin" "11088 -767.5 1400"
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Item_Relay_Ultima"
	}
	delete:
	{
		"OnTrigger" "Item_Ultima_HurtDisable15.1-1"
	}
	insert:
	{
		"OnTrigger" "Item_Ultima_Hurt,Disable,,15.7,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Item_Ultima_Hurt"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnHurtPlayer" "Item_Ultima_Fail_CounterAdd10.02-1"
		"OnHurtPlayer" "Item_Ultima_Success_CounterAdd10-1"
	}
	insert:
	{
		"OnStartTouch" "!self,FireUser1,,0,1"
		"OnUser1" "!activator,SetLocalOrigin,-332.78 16235 1801,0,1"
		"OnUser1" "!self,Disable,,0,1"
		"OnUser1" "!self,AddOutput,OnStartTouch Item_Ultima_Fail_Counter:Add:1:0.02:-1,0,1"
		"OnUser1" "!self,AddOutput,OnStartTouch Item_Ultima_Success_Counter:Add:1:0:-1,0,1"
		"OnUser1" "!self,AddOutput,OnStartTouch !activator:SetHealth:-999999:0.04:-1,0,1"
		"OnUser1" "!self,Enable,,0.05,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "hurt_ultima"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "!self,FireUser1,,0,1"
		"OnUser1" "!activator,SetLocalOrigin,7120 -2592 80,1.5,-1"
		"OnUser1" "!self,Disable,,0,-1"
		"OnUser1" "!self,AddOutput,OnStartTouch !self:FireUser1::1:1,0.5,-1"
		"OnUser1" "!self,Enable,,5,-1"
	}
}

;----------------
;FIX BOSS TARGET
;----------------
modify:
{
	match:
	{
		"targetname" "Target_Get"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "Item_Earth_FilterTestActivator0-1"
	}
	insert:
	{
		"OnTrigger" "Item_Earth_CheckTestActivator0-1"
	}
}
