;stripper modification message
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "cmdCommandsay **Map Status: No Stripper!**0-1"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsay **Map Status: Stripper #1 Loaded!**0-1"
	}
}

;fix heal making humans invulnerable to laser damage
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Stage4_Lazer_Hurt"
	}
	replace:
	{
		"DamageType" "512"
	}
}