;Remove HTML formatting broken/non-functional after the Shattered Web Update
;############################ THIS CHANGE WILL NOT WORK WITHOUT HAVING ###################################
;######################## csgo/scripts/vscripts/makov6/hud_ultima_patched.nut ############################
;###################################### IN THE SERVER FILES ##############################################
;####### https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/hud_ultima_patched.nut ######
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "Scripts"
	}
	replace:
	{
		"vscripts" "makov6/precache_sound.nut makov6/hud_ultima_patched.nut"
	}
}

;fix logic_measure_movement targets i guess? idk was uncommented
modify:
{
	match:
	{
		"hammerid" "4749697"
		"targetname" "extra_water_measure_2"
	}
	insert:
	{
		"MeasureTarget" "extra_water_move_2a"
	}
}
modify:
{
	match:
	{
		"hammerid" "4805009"
		"targetname" "extra_barrier_measure_1"
	}
	insert:
	{
		"MeasureTarget" "extra_barrier_phys_1c"
	}
}
modify:
{
	match:
	{
		"hammerid" "4822738"
		"targetname" "extra_barrier_measure_2"
	}
	insert:
	{
		"MeasureTarget" "extra_barrier_phys_2c"
	}
}
modify:
{
	match:
	{
		"hammerid" "4823573"
		"targetname" "extra_barrier_measure_3"
	}
	insert:
	{
		"MeasureTarget" "extra_barrier_phys_3c"
	}
}