;Less loudness.
filter:
{
	"classname" "ambient_generic"
	"hammerid" "302490"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "302484"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "302481"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "413818"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "413821"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "167900"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "177746"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "177749"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "177770"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "177803"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "181121"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "181175"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "181199"
}

;player_speedmod replacements.
add:
{
	"classname" "logic_relay"
	"targetname" "Slowdown_Patch"
	"spawnflags" "2"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() - 1).tostring(), 0.0, null, null); }0-1"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() + 1).tostring(), 0.0, null, null); }0.1-1"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "3912 -5065 -1151.5"
	}
	delete:
	{
		"OnHurtPlayer" "speedModifySpeed11-1"
		"OnHurtPlayer" "speedModifySpeed0.950.95-1"
		"OnHurtPlayer" "speedModifySpeed0.90.9-1"
		"OnHurtPlayer" "speedModifySpeed0.850.85-1"
		"OnHurtPlayer" "speedModifySpeed0.80.8-1"
		"OnHurtPlayer" "speedModifySpeed0.750.75-1"
		"OnHurtPlayer" "speedModifySpeed0.70.7-1"
		"OnHurtPlayer" "speedModifySpeed0.650.65-1"
		"OnHurtPlayer" "speedModifySpeed0.60.6-1"
		"OnHurtPlayer" "speedModifySpeed0.550.55-1"
		"OnHurtPlayer" "speedModifySpeed0.50.5-1"
		"OnHurtPlayer" "speedModifySpeed0.450.45-1"
		"OnHurtPlayer" "speedModifySpeed0.450-1"
	}
	insert:
	{
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "4336 -6405 -1130"
	}
	delete:
	{
		"OnHurtPlayer" "speedModifySpeed11-1"
		"OnHurtPlayer" "speedModifySpeed0.950.95-1"
		"OnHurtPlayer" "speedModifySpeed0.90.9-1"
		"OnHurtPlayer" "speedModifySpeed0.850.85-1"
		"OnHurtPlayer" "speedModifySpeed0.80.8-1"
		"OnHurtPlayer" "speedModifySpeed0.750.75-1"
		"OnHurtPlayer" "speedModifySpeed0.70.7-1"
		"OnHurtPlayer" "speedModifySpeed0.650.65-1"
		"OnHurtPlayer" "speedModifySpeed0.60.6-1"
		"OnHurtPlayer" "speedModifySpeed0.550.55-1"
		"OnHurtPlayer" "speedModifySpeed0.50.5-1"
		"OnHurtPlayer" "speedModifySpeed0.450.45-1"
		"OnHurtPlayer" "speedModifySpeed0.450-1"
	}
	insert:
	{
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "3912 -5964.5 -1130"
	}
	delete:
	{
		"OnHurtPlayer" "speedModifySpeed11-1"
		"OnHurtPlayer" "speedModifySpeed0.950.95-1"
		"OnHurtPlayer" "speedModifySpeed0.90.9-1"
		"OnHurtPlayer" "speedModifySpeed0.850.85-1"
		"OnHurtPlayer" "speedModifySpeed0.80.8-1"
		"OnHurtPlayer" "speedModifySpeed0.750.75-1"
		"OnHurtPlayer" "speedModifySpeed0.70.7-1"
		"OnHurtPlayer" "speedModifySpeed0.650.65-1"
		"OnHurtPlayer" "speedModifySpeed0.60.6-1"
		"OnHurtPlayer" "speedModifySpeed0.550.55-1"
		"OnHurtPlayer" "speedModifySpeed0.50.5-1"
		"OnHurtPlayer" "speedModifySpeed0.450.45-1"
		"OnHurtPlayer" "speedModifySpeed0.450-1"
	}
	insert:
	{
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,0,-1"
	}
}

;Reduce breakable health.
modify:
{
	match:
	{
		"classname" "func_breakable"
		"health" "420"
	}
	replace:
	{
		"health" "128"
	}
}

;Earlier teleports.
modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "7585 -8939.21 -617"
	}
	insert:
	{
		"OnPressed" "Teleport_01,Enable,,25,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "320 -3960 -237"
	}
	insert:
	{
		"OnStartTouch" "Teleport_02,Enable,,30,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "256 484 100"
	}
	insert:
	{
		"OnPressed" "Teleport_03,Enable,,25,1"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}