;Less loudness.
filter:
{
	"classname" "ambient_generic"
	"hammerid" "564984"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "564987"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "564990"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "564993"
}

;Letters break overtime.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "0 8384 824"
	}
	insert:
	{
		"OnStartTouch" "Letters,Break,,30,1"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}