;fix firenova bugs
modify:
{
	match:
	{
		"targetname" "Gi_Nattak_Nova_Temp"
	}
	replace:
	{
		"targetname" "Nattak_Nova_Temp"
	}
}
modify:
{
	match:
	{
		"targetname" "Nattak_Nova_Maker"
	}
	replace:
	{
		"EntityTemplate" "Nattak_Nova_Temp"
	}
}
modify:
{
	match:
	{
		"targetname" "Nattak_Nova_Hurt"
	}
	replace:
	{
		"parentname" "Nattak_Nova_Effect"
	}
}
modify:
{
	match:
	{
		"targetname" "Nattak_Nova_Effect"
	}
	delete:
	{
		"OnUser1" "Gi_Nattak_Nova_EffectKill0.11"
	}
	insert:
	{
		"OnUser1" "Nattak_Nova_EffectKill0.11"
	}
}

;remove stats vscript
modify:
{
	match:
	{
		"targetname" "event_roundend"
	}
	delete:
	{
		"vscripts" "kotya/cosmov6/randomstuff/stats.nut"
		"OnEventFired" "event_roundendRunScriptCodeEnd()0-1"
	}
}

;fix yuffi pickup
modify:
{
	match:
	{
		"targetname" "item_trigger_yuffie"
	}
	delete:
	{
		"OnStartTouch" "item_button_yuffieRunScriptCodePickUp();01"
	}
	insert:
	{
		"OnStartTouch" "item_button_yuffieRunScriptCodePickUp();0-1"
	}
}

;fix late perk loads
modify:
{
	match:
	{
		"targetname" "Start_tp"
	}
	insert:
	{
		"OnStartTouch" "map_brushRunScriptCodeSpawnTrigger_Touch();0.5-1"
	}
}

;fast materia buy
modify:
{
	match:
	{
		"OnPressed" "map_brushRunScriptCodeBuyLevelUpItem()0-1"
	}
	replace:
	{
		"wait" "0.1"
	}
}
modify:
{
	match:
	{
		"targetname" "shop_reroll"
	}
	replace:
	{
		"wait" "0.1"
	}
}
modify:
{
	match:
	{
		"targetname" "shop_stock"
	}
	replace:
	{
		"wait" "0.1"
	}
}

;fix button fun
modify:
{
	match:
	{
		"targetname" "Ebaniy_Freind_Hueta_Button"
	}
	replace:
	{
		"spawnflags" "1537"
		"min_use_angle" "-1"
	}
}

;fix starts
modify:
{
	match:
	{
		"targetname" "item_star2_bio"
	}
	replace:
	{
		"glowcolor" "23 226 255"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_bio"
	}
	replace:
	{
		"glowcolor" "23 226 255"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_earth"
	}
	replace:
	{
		"glowcolor" "157 79 0"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_earth"
	}
	replace:
	{
		"glowcolor" "157 79 0"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_electro"
	}
	replace:
	{
		"glowcolor" "7 50 248"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_electro"
	}
	replace:
	{
		"glowcolor" "7 50 248"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_fire"
	}
	replace:
	{
		"glowcolor" "231 102 24"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_fire"
	}
	replace:
	{
		"glowcolor" "231 102 24"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_gravity"
	}
	replace:
	{
		"glowcolor" "160 66 255"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_gravity"
	}
	replace:
	{
		"glowcolor" "160 66 255"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_ice"
	}
	replace:
	{
		"glowcolor" "128 255 255"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_ice"
	}
	replace:
	{
		"glowcolor" "128 255 255"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_poison"
	}
	replace:
	{
		"glowcolor" "72 249 130"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_poison"
	}
	replace:
	{
		"glowcolor" "72 249 130"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_poison"
	}
	replace:
	{
		"glowcolor" "72 249 130"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_poison"
	}
	replace:
	{
		"glowcolor" "72 249 130"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_summon"
	}
	replace:
	{
		"glowcolor" "255 255 0"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_summon"
	}
	replace:
	{
		"glowcolor" "255 255 0"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star2_wind"
	}
	replace:
	{
		"glowcolor" "52 255 23"
	}
}
modify:
{
	match:
	{
		"targetname" "item_star3_wind"
	}
	replace:
	{
		"glowcolor" "52 255 23"
	}
}

;load unpacked vscripts from github sync directory
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/reno/reno.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/reno/reno.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/vagonmove.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/vagonmove.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/scorpion/scorpion.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/scorpion/scorpion.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/scorpion/main.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/scorpion/main.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/airbuster/test.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/airbuster/test.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/airbuster/rocket.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/airbuster/rocket.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/yuffie.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/yuffie.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/yuffie_rope.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/yuffie_rope.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/yuffie_shuriken.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/yuffie_shuriken.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/yuffie_shuriken_temp.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/yuffie_shuriken_temp.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/cosmov6.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/cosmov6.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/cactus/cactus.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/cactus/cactus.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/first_reno/first_reno.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/first_reno/first_reno.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/last_nattak/last_nattak.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/last_nattak/last_nattak.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/nattak/minion.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/nattak/minion.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/nattak/nattack.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/nattak/nattack.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/nattak/poison.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/nattak/poison.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/nattak/poison_trigger.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/nattak/poison_trigger.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/gravity.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/gravity.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/boss/push.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/boss/push.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/ammo.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/ammo.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/bio.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/bio.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/button.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/button.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/drop.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/drop.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/electro2.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/electro2.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/fire.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/fire.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/gravity2.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/gravity2.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/heal.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/heal.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/ice.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/ice.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/measure.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/measure.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/mike.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/mike.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/phoenix.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/phoenix.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/poison.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/poison.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/potion.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/potion.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/summon.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/summon.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/item/wind.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/item/wind.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/quest/kojima.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/quest/kojima.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/admin.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/admin.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/cameraold.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/cameraold.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/casino.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/casino.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/digital.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/digital.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/explosion.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/explosion.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/explosion_temp.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/explosion_temp.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/globalhurt.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/globalhurt.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/globaltimer.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/globaltimer.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/mask.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/mask.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/music.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/music.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/randomspawner.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/randomspawner.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/rope.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/rope.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/saycommands.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/saycommands.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/spawnalpha.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/spawnalpha.nut"
	}
}
;modify:
;{
;	match:
;	{
;		"vscripts" "kotya/cosmov6/randomstuff/stats.nut"
;	}
;	replace:
;	{
;		"vscripts" "gfl/cosmov6/randomstuff/stats.nut"
;	}
;}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/teleport.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/teleport.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/vor.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/vor.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/vorcontroller.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/vorcontroller.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "kotya/cosmov6/randomstuff/waffelcar.nut"
	}
	replace:
	{
		"vscripts" "gfl/cosmov6/randomstuff/waffelcar.nut"
	}
}

;fix laser distance
modify:
{
	match:
	{
		"targetname" "Laser_Move"
	}
	replace:
	{
		"renderamt" "254"
		"movedistance" "5000"
	}
}

;give more time humans to escape
modify:
{
	match:
	{
		"targetname" "Reno_Rock_Movelinear"
	}
	replace:
	{
		"speed" "60"
	}
}

;fix shadow
modify:
{
	match:
	{
		"model" "models/friend/cosmov6/star_01.mdl"
	}
	replace:
	{
		"disableshadows" "1"
		"disableshadowdepth" "1"
	}
}

;add classic mod
add:
{
	"model" "models/kmodels/cosmo/ffviii/cactus.mdl"
	"classname" "prop_dynamic"
	"solid" "0"
	"spawnflags" "0"
	"angles" "0 180 -180"
	"origin" "7368 -2725 -441.37"
	"DefaultAnim" "idle"
	"DisableBoneFollowers" "1"
	"targetname" "Classic_prop"
	"OnUser1" "!self,FadeAndKill,,3.2,1"
	"OnUser1" "!self,SetAnimation,gojump,0,1"
	"OnUser1" "Classic_text,Kill,,0,1"
	"OnUser1" "Classic_Hbox,Kill,,0,1"
}

add:
{
	"model" "*44"
	"classname" "func_physbox_multiplayer"
	"parentname" "Classic_prop"
	"damagefilter" "No_Damage"
	"health" "999999999"
	"origin" "7376 -2721 -341"
	"spawnflags" "60928"
	"targetname" "Classic_Hbox"
	"OnHealthChanged" "map_brushRunScriptCodeVote_Add();0-1"
}

add:
{
	"classname" "point_worldtext"
	"angles" "-0 90 0"
	"color" "255 255 255"
	"message" "Classic mod 0/64"
	"parentname" "Classic_prop"
	"spawnflags" "0"
	"targetname" "Classic_text"
	"textsize" "24"
	"origin" "7250 -2722 -251"
}