;nuke players when warmup ends so they cant endlessly delay (since mp_restartgame isnt whitelisted)
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Warmup_Mode"
	}
	delete:
	{
		"OnUser2" "ServerCommandmp_restartgame 1601"
	}
	insert:
	{
		"OnUser2" "player,SetHealth,0,60,1"
	}
}

;prevent people endlessly spamming noisy locked item buttons
modify:
{
	match:
	{
		"classname" "func_button"
		"locked_sound" "11"
	}
	replace:
	{
		"locked_sound" "0"
	}
}

;tp angles
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	replace:
	{
		"UseLandmarkAngles" "1"
	}
}

;fix tp avoidance spot on ceiling
add:
{
	"classname" "trigger_teleport"
	"origin" "-7104 -5056 320"
	"model" "*480"
	"targetname" "TP_AFK_Salikawood_4"
	"UseLandmarkAngles" "1"
	"StartDisabled" "1"
	"CheckDestIfClearForPlayer" "0"
	"spawnflags" "1"
}

;Credits
modify:
{
	match:
	{
		"targetname" "Server"
		"classname" "point_servercommand"
	}
	insert:
	{
		"OnUser1" "!selfCommandsay > Map Modified <51"
		"OnUser1" "!selfCommandsay > Stripper Date 27/10/2021 <71"
	}
}

;Add some timers to the map
modify:
{
	match:
	{
		"targetname" "Zalera_Status_End"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnUser1" "ServerCommandsay > Castle Nabudis is collapsing ! <51"
		"OnUser1" "ServerCommandsay > Escape to the top floor ! <81"
		"OnUser1" "ServerCommandsay > Castle Nabudis collapses in 100 seconds ! <201"
		"OnUser1" "ServerCommandsay > Castle Nabudis collapses in 60 seconds ! <601"
		"OnUser1" "ServerCommandsay > Castle Nabudis collapses in 30 seconds ! <901"
		"OnUser1" "ServerCommandsay > Castle Nabudis collapses in 10 seconds ! <1101"
	}
}

modify:
{
	match:
	{
		"targetname" "Nabudis_Spawn_Door_Left"
	}
	insert:
	{
		"OnUser1" "ServerCommandsay > Doors close in 20 seconds ! <01"
	}
}

modify:
{
	match:
	{
		"targetname" "Chaos_Status_End"
	}
	insert:
	{
		"OnUser4" "ServerCommandsay > Bridge exit opens in 160 seconds ! <101"
		"OnUser4" "ServerCommandsay > Bridge exit opens in 120 seconds ! <501"
		"OnUser4" "ServerCommandsay > Bridge exit opens in 60 seconds ! <1101"
		"OnUser4" "ServerCommandsay > The stairwell will open in 15 seconds ! <651"
	}
}

modify:
{
	match:
	{
		"targetname" "Chaos_Status_End"
	}
	insert:
	{
		"OnTrigger" "ServerCommandsay > The doors will open in 20 seconds <51"
		"OnTrigger" "ServerCommandsay > The doors will open in 10 seconds <301"
		"OnTrigger" "ServerCommandsay > The doors will open in 15 seconds <451"
	}
}

modify:
{
	match:
	{
		"targetname" "Nabudis_2Floor_Device_Button"
		"classname" "func_button"
	}
	insert:
	{
		"OnPressed" "ServerCommandsay > The doors will open in 15 seconds <151"
		"OnPressed" "ServerCommandsay > The doors will open in 20 seconds <301"
		"OnPressed" "ServerCommandsay > The doors will open in 10 seconds <601"
		"OnPressed" "ServerCommandsay > The doors will open in 20 seconds <701"
		"OnPressed" "ServerCommandsay > The doors will open in 10 seconds <901"
	}
}

;Rebalance a teleport being too fast on stage 5
modify:
{
	match:
	{
		"targetname" "Trial_Door_1"
		"classname" "func_door"
	}
	delete:
	{
		"OnFullyOpen" "!selfKill0.11"
		"OnOpen" "TP_AFK_Nabudis_2Floor_1Enable0.021"
		"OnOpen" "Manager_TP_AFK_NabudisInValueTrial01"
		"OnOpen" "TP_AFK_Nabudis_2Floor_2Enable0.021"
		"OnOpen" "Entity_Clear_NabudisInValueNabudis_2Floor0.021"
	}
	insert:
	{
		"OnFullyOpen" "!selfKill101"
		"OnOpen" "TP_AFK_Nabudis_2Floor_1Enable101"
		"OnOpen" "ServerCommandsay > Zombies Teleport in 10 Seconds <01"
		"OnOpen" "Manager_TP_AFK_NabudisInValueTrial101"
		"OnOpen" "TP_AFK_Nabudis_2Floor_2Enable101"
		"OnOpen" "Entity_Clear_NabudisInValueNabudis_2Floor101"
	}
}

;Fix Boss attack messages not being repeated on duplicate attacks
modify:
{
	match:
	{
		"targetname" "Chaos_Attack_Holy"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "ServerCommandsay > Chaos is cast Chaotic Holy Impact <01"
	}
	insert:
	{
		"OnTrigger" "ServerCommandsay > Chaos is cast Chaotic Holy Impact <0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Zalera_Attack_Rain"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "ServerCommandsay > Zalera is casting Rain of Death <0.631"
		"OnTrigger" "ServerCommandsay > USE MAGICK TO NEUTRALIZE IT ! <1.631"
	}
	insert:
	{
		"OnTrigger" "ServerCommandsay > Zalera is casting Rain of Death <0.63-1"
		"OnTrigger" "ServerCommandsay > USE MAGICK TO NEUTRALIZE IT ! <1.63-1"
	}
}

;Remove Gysahl greens spawn so humans can't activate and ride the chocobo, which is super buggy.
modify:
{
	match:
	{
		"targetname" "Gysahl_Greens_Case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnUser1" "!selfPickRandom01"
	}
}

;Fix faulty damage type (Damagetype 8/Burn does not work on CSGO) on point_hurt, this is a workaround to fix zombie doom not working on several servers
modify:
{
	match:
	{
		"targetname" "Global_Point_Hurt"
	}
	replace:
	{
		"DamageType" "1024"
	}
}

;Add the damagetype to heal trigger so it cancels zombie doom as intended
add:
{
	"classname" "filter_damage_type"
	"targetname" "Filter_Beam_Damage"
	"Negated" "Allow entities that match criteria"
	"damagetype" "1024"
}

modify:
{
	match:
	{
		"targetname" "Filter_No_Zombies_No_Burn"
	}
	insert:
	{
		"Filter03" "Filter_Beam_Damage"
	}
}

;Kill humans who fall into water during chaos fight, instead of teleporting them to zm cage
add:
{
	"classname" "trigger_hurt"
	"targetname" "chaos_water_hurt"
	"filtername" "Filter_Humans"
	"model" "*160"
	"spawnflags" "1"
	"StartDisabled" "0"
	"origin" "-11008 14208 1850"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "2000"
}

;Add anti-solo trigger to stage 4 ending
add:
{
	"classname" "trigger_hurt"
	"targetname" "humans_fail_nuke"
	"filtername" "Filter_Humans"
	"origin" "-3520 64 1088"
	"model" "*13"
	"StartDisabled" "1"
	"spawnflags" "1"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "99999999"
}

add:
{
	"classname" "trigger_once"
	"targetname" "anti_solo_trigger"
	"filtername" "Filter_Zombies"
	"origin" "-8712 4618 -127"
	"spawnflags" "1"
	"StartDisabled" "1"
	"model" "*487"
	"OnStartTouch" "Esper_Zodiark_SpawnCancelPending01"
	"OnStartTouch" "Esper_Zodiark_SpawnKill0.11"
	"OnStartTouch" "Esper_Zodiark_MoveKill0.11"
	"OnStartTouch" "ServerCommandsay > ZOMBIES HAVE ESCAPED <01"
	"OnStartTouch" "ServerCommandsay > YOU HAVE FAILED <11"
	"OnStartTouch" "CC_FailFireUser11.51"
	"OnStartTouch" "Global_Fade_AllFireUser41.51"
	"OnStartTouch" "humans_fail_nukeEnable31"
}

modify:
{
	match:
	{
		"targetname" "Esper_Zodiark_Spawn"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnSpawn" "ServerCommandsay > DO NOT LET ZOMBIES ESCAPE INTO SALIKAWOOD <11"
		"OnSpawn" "anti_solo_triggerEnable11"
		"OnSpawn" "anti_solo_triggerKill181"
	}
}