;Instant death on nuke.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "death_end"
	}
	replace:
	{
		"damage" "99999999"
	}
}

;Fixes a bug where trigger_once would disappear without firing.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "12032 -2616 264"
	}
	replace:
	{
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "!self,Kill,,0,1"
	}
}