;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;///////////			MODIFY ENTWATCH ITEM LEVEL HUD			///////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////

;Heal 1873434
modify:
{
	match:
	{
		"hammerid" "1873436"
		"targetname" "item_heal_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873434 500-1"
		
		"OnCase02" "serverCommandsm_setcooldown 1873434 450-1"
		
		"OnCase03" "serverCommandsm_setcooldown 1873434 400-1"
	}
}

;Active Camouflage 1873570
modify:
{
	match:
	{
		"hammerid" "1873559"
		"targetname" "item_camouflage_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873570 650-1"
		"OnCase02" "serverCommandsm_setcooldown 1873570 700-1"
		"OnCase03" "serverCommandsm_setcooldown 1873570 850-1"
	}
}

;Shield 1873726
modify:
{
	match:
	{
		"hammerid" "1873719"
		"targetname" "item_shield_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873726 250-1"
		"OnCase02" "serverCommandsm_setcooldown 1873726 450-1"
		"OnCase03" "serverCommandsm_setcooldown 1873726 650-1"
	}
}

; re-add slow on fragmentation grenade
modify:
{
	match:
	{
		"targetname" "frag_explosion_hurt"
		"hammerid" "1678980"
	}
	insert:
	{
		"OnStartTouch" "speedModifySpeed0.30-1"
		"OnStartTouch" "speedModifySpeed0.30.25-1"
		"OnStartTouch" "speedModifySpeed0.30.5-1"
		"OnStartTouch" "speedModifySpeed0.30.75-1"
		"OnStartTouch" "speedModifySpeed0.31.0-1"
		"OnStartTouch" "speedModifySpeed0.61.25-1"
		"OnStartTouch" "speedModifySpeed11.5-1"
	}
}

;/////////////////////////////////////////////////
; Change lvl2 checkpoint
;/////////////////////////////////////////////////
modify:
{
	match:
	{
		"targetname" "lvl2_checkpoint_relay"
		"hammerid" "7320141"
	}
	delete:
	{
		"OnUser1" "serverCommandzr_infect_mzombie_ratio 512-1"
		"OnUser1" "warthog_gauss_teleportAddOutputorigin -5759 9381 -32000.01-1"
	}
	insert:
	{
		"OnUser1" "serverCommandzr_infect_mzombie_ratio 612-1"
		"OnUser1" "warthog_gauss_teleportAddOutputorigin -6788 9317 -32280.01-1"
		"OnUser1" "lvl2_2nd_area_trigger_2Kill8-1"
		"OnUser1" "lvl2_2nd_area_trigger_3Enable16-1"
		"OnUser1" "serverCommandsay >> Shield wall will break in 20s16-1"
		"OnUser1" "lvl2_2nd_area_wall_2Kill36-1"
	}
}


;/////////////////////////////////////////////////
; Add TP avoidance at lvl2 A area
;/////////////////////////////////////////////////
add:
{
	"model" "*262"
	"UseLandmarkAngles" "1"
	"targetname" "lvl2_final_teleport_1"
	"target" "des_afk"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "6363 -7421 -3200"
	"filtername" "warthog_user_no_filter"
	"CheckDestIfClearForPlayer" "0"
	"classname" "trigger_teleport"
}

;////////////////////////////////////////////////////
; Fix nade sometime stop spawning for some reason
;////////////////////////////////////////////////////
modify:
{
	match:
	{
		"targetname" "hegrenade_relay"
		"hammerid" "7320194"
	}
	replace:
	{
		"spawnflags" "2"
	}
}

;//////////////////////////////////////////////////////////
; Prevent warthog fast trigger because of mistake or troll
;//////////////////////////////////////////////////////////
modify:
{
	match:
	{
		"targetname" "lvl2_2nd_area_button_2"
		"hammerid" "7686037"
	}
	insert:
	{
		"OnPressed" "warthog_gauss_wheel_bDisableMotion25-1"
		"OnPressed" "warthog_gauss_wheel_fDisableMotion25-1"
	}
}

modify:
{
	match:
	{
		"targetname" "warthog_gauss_team_driver_filter"
		"hammerid" "8105763"
	}
	insert:
	{
		"Filter03" "warthog_gausser_user_no_filter"
	}
}

modify:
{
	match:
	{
		"targetname" "warthog_gauss_team_gausser_filter"
		"hammerid" "8105769"
	}
	insert:
	{
		"Filter03" "warthog_driver_user_no_filter"
	}
}


;////////////////////////////////////////////////////////////////////////////////////
; Fix warthog not getting TP when the driver get out (hopefully, idk if this work)
;////////////////////////////////////////////////////////////////////////////////////
modify:
{
	match:
	{
		"targetname" "lvl2_2nd_area_trigger_2"
		"hammerid" "7625048"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_wheel_bEnableMotion7.991"
		"OnStartTouch" "warthog_gauss_wheel_fEnableMotion7.991"
	}
}


;-4912 7840 -3328
modify:
{
	match:
	{
		"targetname" "lvl2_2nd_area_wall_6"
		"hammerid" "7626814"
	}
	delete:
	{
		"OnUser1" "des_afkAddOutputorigin -5032 7853 -332210.99-1"
	}
	insert:
	{
		"OnUser1" "des_afkAddOutputorigin -4912 7840 -332810.99-1"
		"OnUser1" "warthog_gauss_wheel_bEnableMotion10.99-1"
		"OnUser1" "warthog_gauss_wheel_fEnableMotion10.99-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_2nd_area_wall_9"
		"hammerid" "7729459"
	}
	insert:
	{
		"OnUser2" "warthog_gauss_wheel_bEnableMotion0-1"
		"OnUser2" "warthog_gauss_wheel_fEnableMotion0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_2nd_area_wall_10"
		"hammerid" "7758499"
	}
	insert:
	{
		"OnUser2" "warthog_gauss_wheel_bEnableMotion0-1"
		"OnUser2" "warthog_gauss_wheel_fEnableMotion0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_3rd_area_trigger_1"
		"hammerid" "7820809"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_wheel_bEnableMotion20.99-1"
		"OnStartTouch" "warthog_gauss_wheel_fEnableMotion20.99-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_final_trigger_1"
		"hammerid" "8456445"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_wheel_bEnableMotion15.99-1"
		"OnStartTouch" "warthog_gauss_wheel_fEnableMotion15.99-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_final_trigger_3"
		"hammerid" "8456993"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_wheel_bEnableMotion15.99-1"
		"OnStartTouch" "warthog_gauss_wheel_fEnableMotion15.99-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_final_trigger_4"
		"hammerid" "8557786"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_wheel_bEnableMotion15.99-1"
		"OnStartTouch" "warthog_gauss_wheel_fEnableMotion15.99-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_final_trigger_5"
		"hammerid" "8490933"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_wheel_bEnableMotion36.99-1"
		"OnStartTouch" "warthog_gauss_wheel_fEnableMotion36.99-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl2_final_trigger_7"
		"hammerid" "8558470"
	}
	delete:
	{
		"OnStartTouch" "serverCommandsay >> ALL player in warthog will be KILL in 5s <<11"
	}
	insert:
	{
		"OnStartTouch" "warthog_gauss_die_relayTrigger71"
		"OnStartTouch" "serverCommandsay >> ALL player in warthog will be KILL in 10s <<11"
	}
}

;/////////////////////////////////////////////////
; Nerf / Buff mini boss on A area
;/////////////////////////////////////////////////
modify:
{
	match:
	{
		"targetname" "b_lvl2_counter"
		"hammerid" "7852791"
	}
	replace:
	{
		"startvalue" "175"
	}
}

; Inf laser beam
modify:
{
	match:
	{
		"targetname" "b_lvl2_b_h_0"
		"hammerid" "7944897"
	}
	replace:
	{
		"damagecap" "42"
		"damage" "42"
	}
}

; Ball
modify:
{
	match:
	{
		"targetname" "b_lvl2_ball_hurt"
		"hammerid" "7960816"
	}
	replace:
	{
		"damagecap" "12"
		"damage" "12"
	}
}

; Jump
modify:
{
	match:
	{
		"targetname" "b_lvl2_j_hurt"
		"hammerid" "7928642"
	}
	replace:
	{
		"damagecap" "20"
		"damage" "20"
	}
}


;/////////////////////////////////////////////////
; Major banshee nerf / buff
;/////////////////////////////////////////////////
; Increase rate of fire
modify:
{
	match:
	{
		"targetname" "banshee_relay_f"
		"hammerid" "8121392"
	}
	delete:
	{
		"OnTrigger" "!selfEnable0.6-1"
	}
	insert:
	{
		"OnTrigger" "!selfEnable0.35-1"
	}
}

; Decrease HP
modify:
{
	match:
	{
		"targetname" "banshee_hp_counter"
		"hammerid" "8256400"
	}
	replace:
	{
		"startvalue" "250"
		"max" "250"
	}
}

; Decrease ball damage and slow
modify:
{
	match:
	{
		"targetname" "a_b_h"
		"hammerid" "8963037"
	}
	replace:
	{
		"damagetype" "1"
		"damagecap" "14"
		"damage" "14"
	}
	delete:
	{
		"OnStartTouch" "speedModifySpeed11-1"
		"OnStartTouch" "speedModifySpeed0.20-1"
	}
	insert:
	{
		"OnStartTouch" "speedModifySpeed10.4-1"
		"OnStartTouch" "speedModifySpeed0.750-1"
	}
}

; a bit change to banshee user filter
modify:
{
	match:
	{
		"targetname" "global_banshee_driver"
		"hammerid" "8793383"
	}
	delete:
	{
		"OnPass" "!activatorAddOutputtargetname warthog_gauss_gausser0-1"
		"OnPass" "!activatorAddOutputtargetname warthog_gauss_gausser7-1"
	}
	insert:
	{
		"OnPass" "speedModifySpeed0.50-1"
		"OnPass" "speedModifySpeed0.50.5-1"
		"OnPass" "speedModifySpeed2.01-1"
		"OnFail""speedModifySpeed0.350-1"
		"OnFail""speedModifySpeed0.350.25-1"
		"OnFail""speedModifySpeed0.350.5-1"
		"OnFail""speedModifySpeed0.350.75-1"
		"OnFail""speedModifySpeed0.351.0-1"
		"OnFail" "speedModifySpeed11.25-1"
	}
}

; Remove speed output to activator filter test
modify:
{
	match:
	{
		"targetname" "frag_explosion_hurt2"
	}
	delete:
	{
		"OnHurtPlayer" "!activatorIgniteLifeTime40-1"
		"OnStartTouch" "speedModifySpeed0.50-1"
		"OnStartTouch" "speedModifySpeed10.25-1"
	}
	insert:
	{
		"OnHurtPlayer" "!activatorIgniteLifeTime5.50-1"
		"OnStartTouch" "global_banshee_driverTestActivator0-1"
	}
}

; prevent died banshee block player
modify:
{
	match:
	{
		"targetname" "f_banshee_relay"
		"hammerid" "9070584"
	}
	delete:
	{
		"OnSpawn" "f_banshee_mdlKill12-1"
	}
	insert:
	{
		"OnSpawn" "f_banshee_mdlKill4-1"
	}
}

modify:
{
	match:
	{
		"targetname" "banshee_hitbox"
		"hammerid" "8121404"
	}
	delete:
	{
		"OnUser2" "banshee_hp_counterSubtract1500-1"
	}
	insert:
	{
		"OnUser2" "banshee_hp_counterSubtract850-1"
	}
}

;/////////////////////////////////////////////////
; lvl zm hud / fixes
;/////////////////////////////////////////////////
; Change spawn location of both ship and TP taking delay
; old zm area par -912 -4624 -11504 new -> -912 -4816 -11504 new 2 -> -912 -4432 -11504

; LW and WS and ZM relay
modify:
{
	match:
	{
		"targetname" "lvl_zm_relay"
		"hammerid" "8791139"
	}
	insert:
	{
		"OnUser1" "lvl_zm_lw_area_parStart0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_lw_relay"
		"hammerid" "9144485"
	}
	delete:
	{
		"OnTrigger" "lvl_zm_banshee_makerRunScriptCodeStart();0.01-1"
		"OnTrigger" "lvl_zm_banshee_makerForceSpawn0-1"
	}
	insert:
	{
		"OnTrigger" "lvl_zm_lw_takeEnable0.1-1"
		"OnTrigger" "lvl_zm_zm_area_parAddOutputorigin -912 -4816 -115040-1"
		"OnTrigger" "lvl_zm_zm_takeAddOutputorigin -912 -4816 -115040-1"
		"OnTrigger" "lvl_zm_lw_takenFireUser101"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_ws_relay"
		"hammerid" "9144490"
	}
	delete:
	{
		"OnTrigger" "lvl_zm_banshee_makerRunScriptCodeStart();0.01-1"
		"OnTrigger" "lvl_zm_banshee_makerForceSpawn0-1"
		
		"OnTrigger" "lvl_zm_sabre_makerRunScriptCodeStart2();0.01-1"
		"OnTrigger" "lvl_zm_sabre_makerForceSpawn0-1"
	}
	insert:
	{
		"OnTrigger" "lvl_zm_zm_takeAddOutputorigin -912 -4624 -115160-1"
		"OnTrigger" "lvl_zm_zm_area_parAddOutputorigin -912 -4624 -115160-1"
	}
}

; ZM AREA
modify:
{
	match:
	{
		"targetname" "lvl_zm_banshee_maker"
		"hammerid" "8791264"
	}
	replace:
	{
		"origin" "-928 -3936 -11552"
	}
	delete:
	{
		"OnUser1" "!selfForceSpawn0-1"
		"OnUser1" "!selfRunScriptCodeTick();0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_zm_take"
		"hammerid" "9144888"
	}
	delete:
	{
		"OnTrigger" "!activatorAddOutputorigin -928 -3936 -114870-1"
		"OnTrigger" "!selfEnable0.25-1"
	}
	insert:
	{
		"OnTrigger" "!activatorAddOutputorigin -928 -3936 -115520.01-1"
		"OnTrigger" "lvl_zm_banshee_makerForceSpawn0.0-1"
		"OnTrigger" "!selfEnable0.15-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_zm_taken"
		"hammerid" "9144730"
	}
	delete:
	{
		"OnUser1" "!selfDisable0-1"
		"OnUser1" "!selfEnable0.2-1"
		"OnUser1" "!selfFireUser10.3-1"
	}
	insert:
	{
		"OnUser1" "!selfDisable0-1"
		"OnUser1" "!selfEnable0.1-1"
		"OnUser1" "!selfFireUser10.2-1"
	}
}

; ZM Add 1 more telepoint for lw test
add:
{
	"model" "*225"
	"wait" "1"
	"targetname" "lvl_zm_lw_take"
	"StartDisabled" "1"
	"origin" "-912 -4432 -11504"
	"spawnflags" "4097"
	"filtername" "zombie"
	"classname" "trigger_multiple"
	"OnTrigger" "!activatorAddOutputorigin 864 -3936 -115520.01-1"
	"OnTrigger" "!selfDisable0-1"
	"OnTrigger" "!selfEnable0.15-1"
	"OnTrigger" "lvl_zm_lw_banshee_makerForceSpawn0.0-1"
}
add:
{
	"origin" "-912 -4432 -11504"
	"targetname" "lvl_zm_lw_area_par"
	"start_active" "0"
	"effect_name" "custom_particle_106"
	"angles" "0 0 0"
	"classname" "info_particle_system"
	"drawinfastreflection" "0"
	"cpoint1_parent" "0"
	"cpoint2_parent" "0"
	"cpoint3_parent" "0"
	"cpoint4_parent" "0"
	"cpoint5_parent" "0"
	"cpoint6_parent" "0"
	"cpoint7_parent" "0"
}
add:
{
	"origin" "864 -3936 -11552"
	"targetname" "lvl_zm_lw_banshee_maker"
	"spawnflags" "0"
	"PostSpawnSpeed" "0"
	"PostSpawnInheritAngles" "0"
	"PostSpawnDirectionVariance" "0.15"
	"PostSpawnDirection" "0 0 0"
	"EntityTemplate" "template_banshee"
	"angles" "0 0 0"
	"classname" "env_entity_maker"
}
add:
{
	"model" "*230"
	"wait" "1"
	"targetname" "lvl_zm_lw_taken"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"origin" "864 -3936 -11456"
	"filtername" "global_banshee_driver"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorAddOutputorigin -544 -4640 -109760-1"
	"OnUser1" "!selfDisable0-1"
	"OnUser1" "!selfEnable0.1-1"
	"OnUser1" "!selfFireUser10.2-1"
}

; HM AREA
modify:
{
	match:
	{
		"targetname" "lvl_zm_sabre_maker"
		"hammerid" "9144853"
	}
	replace:
	{
		"origin" "864 -3936 -11552"
	}
	delete:
	{
		"OnUser1" "!selfForceSpawn0-1"
		"OnUser1" "!selfRunScriptCodeTick2();0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_hm_take"
		"hammerid" "9144911"
	}
	delete:
	{
		"OnTrigger" "!activatorAddOutputorigin 864 -3936 -114560-1"
		"OnTrigger" "!selfEnable0.25-1"
	}
	insert:
	{
		"OnTrigger" "!activatorAddOutputorigin 864 -3936 -115520.01-1"
		"OnTrigger" "lvl_zm_sabre_makerForceSpawn0-1"
		"OnTrigger" "!selfEnable0.15-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_hm_taken"
		"hammerid" "9144757"
	}
	delete:
	{
		"OnUser1" "!selfDisable0-1"
		"OnUser1" "!selfEnable0.2-1"
		"OnUser1" "!selfFireUser10.3-1"
	}
	insert:
	{
		"OnUser1" "!selfDisable0-1"
		"OnUser1" "!selfEnable0.1-1"
		"OnUser1" "!selfFireUser10.2-1"
	}
}

; HUD
modify:
{
	match:
	{
		"targetname" "lvl_zm_lw_text_2"
		"hammerid" "9163402"
	}
	replace:
	{
		"channel" "3"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_zm_lw_tp"
		"hammerid" "8793388"
	}
	delete:
	{
		"OnStartTouch" "warthog_gauss_act_player_inRunScriptCodehealth+=30;0-1"
	}
	insert:
	{
		"OnStartTouch" "lvl_zm_music_lyric_hudDisplay61"
		"OnStartTouch" "lvl_zm_music_lyric_hudDisplay91"
		"OnStartTouch" "lvl_zm_music_lyric_hudDisplay121"
		
		"OnStartTouch" "warthog_gauss_act_player_inRunScriptCodehealth+=15;0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl_zm_ws_relay"
		"hammerid" "9144490"
	}
	insert:
	{
		"OnTrigger" "lvl_zm_music_lyric_hudDisplay91"
		"OnTrigger" "lvl_zm_music_lyric_hudDisplay121"
		"OnTrigger" "lvl_zm_music_lyric_hudDisplay151"
	}
}

; prevent sabre cause server to crash
modify:
{
	match:
	{
		"targetname" "a_sabre_projectile_kill_relay"
		"hammerid" "9124913"
	}
	insert:
	{
		"OnSpawn" "a_sabre_projectileFireUser1151"
	}
}

;//////////////////////////////////////////////
; Stage 1 boss
;//////////////////////////////////////////////
modify:
{
	match:
	{
		"targetname" "boss_gs_relay"
		"hammerid" "8980929"
	}
	delete:
	{
		"OnTrigger" "serverCommandsay >> Boss Global Silence <<0-1"
		"OnTrigger" "boss_gs_timerEnable0-1"
		"OnTrigger" "boss_gs_timerDisable11-1"
	}
	insert:
	{
		"OnTrigger" "boss_mdlSetAnimationthrow_grenade2.1-1"
		"OnTrigger" "boss_gs_timerEnable3-1"
		"OnTrigger" "boss_gs_timerDisable14-1"
	}
}

modify:
{
	match:
	{
		"targetname" "boss_wind_relay"
		"hammerid" "1831194"
	}
	delete:
	{
		"OnTrigger" "serverCommandsay >> Arbiter using black hole <<0-1"
		"OnTrigger" "serverCommandsay >> Look for the spirit dropship <<1-1"
	}
}

modify:
{
	match:
	{
		"targetname" "boss_gravity_relay"
		"hammerid" "1831190"
	}
	delete:
	{
		"OnTrigger" "boss_gDisable3.75-1"
	}
	insert:
	{
		"OnTrigger" "boss_gDisable5.75-1"
	}
}

modify:
{
	match:
	{
		"targetname" "boss_heal_relay"
		"hammerid" "1831200"
	}
	delete:
	{
		"OnTrigger" "boss_health_counterAdd3501-1"
		"OnTrigger" "boss_shield_counterAdd3501-1"
	}
	insert:
	{
		"OnTrigger" "boss_health_counterAdd4251-1"
		"OnTrigger" "boss_shield_counterAdd4251-1"
	}
}
