;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}