;change p90 to bizon
modify:
{
	match:
	{
		"hammerid" "9009617"
		"classname" "game_player_equip"
		"targetname" "map_equip_guns"
	}
	delete:
	{
		"weapon_p90" "1"
	}
	insert:
	{
		"weapon_bizon" "1"
	}
}

;change vscript item_c to new item_c_hp_fix
modify:
{
	match:
	{
		"hammerid" "74807028"
		"classname" "logic_script"
		"targetname" "s_item_c"
	}
	replace:
	{
		"vscripts" "harryk/item_c_hp_fix.nut"
	}
}

;change vscript boss_add_hp_in_counter to new boss_add_hp_in_counter_hp_fix
modify:
{
	match:
	{
		"hammerid" "31168849"
		"classname" "logic_relay"
		"targetname" "admin_fixups"
	}
	replace:
	{
		"vscripts" "harryk/boss_add_hp_in_counter_hp_fix.nut"
	}
}

;change vscript harry_potter to new harry_potter_hp_fix
modify:
{
	match:
	{
		"hammerid" "74807196"
		"classname" "func_brush"
		"targetname" "harry_potter_brush"
	}
	replace:
	{
		"vscripts" "harryk/harry_potter_hp_fix.nut"
	}
}

;fix Double Items ZM
add:
	{
	"origin" "12208 9728 13656"
	"targetname" "fixdoubleitemsZM_trigger_tp"
	"classname" "trigger_multiple"
	"model" "*490"
	"wait" "0.2"
	"StartDisabled" "0"
	"spawnflags" "1"
	"filtername" "filter_ZM"
	"OnStartTouch" "s_item_c,RunScriptCode,CheckZMPickUpItemsFix();,0,-1"
}

;invisible zm glow
add:
{
	"origin" "11226 8336 13393"
	"targetname" "dzfix_glowzm_invis"
	"classname" "prop_dynamic_glow"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"fademaxdist" "4096"
	"fademindist" "4096"
	"glowcolor" "255 35 35"
	"glowdist" "4096"
	"model" "models/3d/hats/witchhat.mdl"
	"solid" "0"
	"renderamt" "255"
	"rendermode" "0"
	"glowenabled" "1"
	"glowstyle" "0"
	"spawnflags" "0"
	"StartDisabled" "0"
}
add:
{
	"origin" "11226 8336 13393"
	"targetname" "dzfix_PT_glowzm_invis"
	"classname" "point_template"
	"spawnflags" "2"
	"Template01" "dzfix_glowzm_invis"
}
modify:
{
	match:
	{
		"hammerid" "17847988"
		"classname" "func_button"
		"targetname" "spxZM_disillu_button"
	}
	insert:
	{
		"OnUser1" "s_item_c,RunScriptCode,Dz_Glow_Invisible_ZM();,0,-1"
	}
}

;Glow ZM into Forest Stage 4 and 10
modify:
{
	match:
	{
		"hammerid" "19223411"
		"classname" "filter_activator_team"
		"targetname" "filter_stg3_wizard_check3"
	}
	insert:
	{
		"OnPass" "s_item_c,RunScriptCode,Dz_Glow_ZM_Delete();,12,1"
		"OnFail" "s_item_c,RunScriptCode,Dz_Glow_ZM_Delete();,0,1"
	}
}
modify:
{
	match:
	{
		"hammerid" "18613545"
		"classname" "logic_relay"
		"targetname" "stage3_wizard_cd_relay"
	}
	insert:
	{
		"OnUser2" "s_item_c,RunScriptCode,Dz_Glow_ZM_Set();,23,1"
	}
}

;Fix Loud Sounds
modify:
{
	match:
	{
		"hammerid" "14166764"
		"classname" "func_button"
		"targetname" "stage5_boss_h_attack_button"
	}
	delete:
	{
		"OnPressed" "map_sound_switch_dragsAddOutputmessage harrypotterze/bosses/xvoldemort_harry_collision.mp301"
		"OnPressed" "map_sound_switch_dragsPlaySound0.11"
		"OnPressed" "map_sound_switch_dragsVolume100.21"
		"OnPressed" "map_sound_switch_dragsVolume531"
		"OnPressed" "map_sound_switch_dragsVolume4221"
		"OnPressed" "map_sound_switch_dragsVolume3231"
		"OnPressed" "map_sound_switch_dragsVolume2241"
		"OnPressed" "map_sound_switch_dragsVolume2261"
		"OnPressed" "map_sound_switch_dragsVolume0281"
	}
}

;Fix HP Boss Voldemort
modify:
{
	match:
	{
		"hammerid" "37099958"
		"classname" "logic_case"
		"targetname" "map_boss_case_hp_nrml"
	}
	delete:
	{
		"OnCase10" "stage5_boss_v_trigger_lifeAddOutputOnStartTouch admin_fixups:RunScriptCode:StartBoss(70);:0:10-1"
	}
	insert:
	{
		"OnCase10" "stage5_boss_v_trigger_life,AddOutput,OnStartTouch admin_fixups:RunScriptCode:StartBoss(150);:0:1,0,-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "37099319"
		"classname" "logic_case"
		"targetname" "map_boss_case_hp_xtrm"
	}
	delete:
	{
		"OnCase13" "stage5_boss_v_trigger_lifeAddOutputOnStartTouch admin_fixups:RunScriptCode:StartBoss(70);:0:10-1"
	}
	insert:
	{
		"OnCase13" "stage5_boss_v_trigger_life,AddOutput,OnStartTouch admin_fixups:RunScriptCode:StartBoss(220);:0:1,0,-1"
	}
}

; Fix Wheels Wizard Stage 10
modify:
{
	match:
	{
		"hammerid" "42176499"
		"classname" "momentary_rot_button"
		"targetname" "stage3_ex_wizard_rbut1"
	}
	replace:
	{
		"distance" "68"
		"speed" "3"
	}
}
modify:
{
	match:
	{
		"hammerid" "42323550"
		"classname" "momentary_rot_button"
		"targetname" "stage3_ex_wizard_rbut2"
	}
	replace:
	{
		"distance" "68"
		"speed" "3"
	}
}

;SaveLevel Entity
add:
{
	"origin" "11210 8336 13393"
	"targetname" "fake_SaveLevel_Entity_math"
	"classname" "math_counter"
	"min" "0"
	"max" "4"
	"startvalue" "0"
	"StartDisabled" "1"
}
modify:
{
	match:
	{
		"hammerid" "56484140"
		"classname" "trigger_once"
		"targetname" "new_check_score"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddOutput,OnUser3 fake_SaveLevel_Entity_math:Add:1:0:-1,0,-1"
	}
}
add:
{
	"origin" "11480 12035.8 13712"
	"targetname" "fake_SaveLevel_Add_Lvl_trig"
	"classname" "trigger_multiple"
	"model" "*604"
	"StartDisabled" "0"
	"wait" "0.1"
	"spawnflags" "1"
	"OnStartTouch" "!activator,FireUser3,,0,-1"
}

;Fix Rare Bug Slow Motion at 6/12 Stages after Voldemort
modify:
{
	match:
	{
		"hammerid" "30457434"
		"classname" "logic_relay"
		"targetname" "stage5_boss_v_relay"
	}
	delete:
	{
		"OnTrigger" "stage5_boss_fixclientsEnable0.51"
	}
	insert:
	{
		"OnTrigger" "stage5_boss_fixclients,Disable,,1.7,1"
		"OnTrigger" "stage5_boss_fixclients,Enable,,1.8,1"
	}
}

;Fix Only 1 BroomStick for ZM
add:
{
	"targetname" "filter_ZM_BroomStick"
	"classname" "filter_activator_context"
	"Negated" "1"
	"ResponseContext" "ZMBroomStick"
}
modify:
{
	match:
	{
		"hammerid" "24327903"
		"classname" "trigger_multiple"
		"targetname" "spxZM_broomstick_trigger"
	}
	insert:
	{
		"filtername" "filter_ZM_BroomStick"
	}
}
modify:
{
	match:
	{
		"hammerid" "24327822"
		"classname" "weapon_knife"
		"targetname" "spxZM_broomstick_knife"
	}
	insert:
	{
		"OnPlayerPickup" "!activator,AddContext,ZMBroomStick:1,0,1"
	}
}
add:
{
	"origin" "11480 12035.8 13712"
	"targetname" "RemoveZMBroomStick_Filter_trig"
	"classname" "trigger_multiple"
	"model" "*604"
	"StartDisabled" "0"
	"wait" "0.1"
	"spawnflags" "1"
	"OnStartTouch" "!activator,RemoveContext,ZMBroomStick,0,-1"
	"OnStartTouch" "!self,Kill,,15,1"
}

;Fix CSoundEmitterSystemBase GetParametersForSound No such sound Error
modify:
{
	match:
	{
		"hammerid" "1727302"
		"classname" "momentary_rot_button"
		"targetname" "stage2_rotbutton4a"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "1717505"
		"classname" "momentary_rot_button"
		"targetname" "stage2_rotbutton4b"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "4120258"
		"classname" "momentary_rot_button"
		"targetname" "stage3_wizstg1_button1"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "4153708"
		"classname" "momentary_rot_button"
		"targetname" "stage3_wizstg1_button2"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "4153743"
		"classname" "momentary_rot_button"
		"targetname" "stage3_wizstg1_button3"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "4186979"
		"classname" "momentary_rot_button"
		"targetname" "stage3_wizstg2_button1"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "4186243"
		"classname" "momentary_rot_button"
		"targetname" "stage3_wizstg3_button1"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "4186499"
		"classname" "momentary_rot_button"
		"targetname" "stage3_wizstg3_button2"
	}
	replace:
	{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "12173995"
		"classname" "momentary_rot_button"
		"targetname" "stage5_rotbutton5"
	}
	replace:
		{
		"sounds" "4"
	}
}
modify:
{
	match:
	{
		"hammerid" "51587488"
		"classname" "func_rot_button"
		"targetname" "buttonsys_button"
	}
	replace:
	{
		"sounds" "4"
	}
}

;Date and Autor CFG FIX
modify:
{
	match:
	{
		"hammerid" "20008878"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "console,Command,say >>> Bug Fixes From DarkerZ [RUS] and NiceShot (updated 21 January 2020) with SaveLevel <<<,1,1"
	}
}

; wtf useless kevlar ?
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}

;fix kevlar start round
modify:
{
	match:
	{
		"origin" "13776 7048 11792"
		"classname" "game_player_equip"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}