;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;///////////			MODIFY ENTWATCH ITEM LEVEL HUD			///////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////

;Heal 1873434
modify:
{
	match:
	{
		"hammerid" "1873436"
		"targetname" "item_heal_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873434 500-1"
		"OnCase02" "serverCommandsm_setcooldown 1873434 450-1"
		"OnCase03" "serverCommandsm_setcooldown 1873434 400-1"
	}
}

;Active Camouflage 1873570
modify:
{
	match:
	{
		"hammerid" "1873559"
		"targetname" "item_camouflage_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873570 650-1"
		"OnCase02" "serverCommandsm_setcooldown 1873570 700-1"
		"OnCase03" "serverCommandsm_setcooldown 1873570 850-1"
	}
}

;Shield 1873726
modify:
{
	match:
	{
		"hammerid" "1873719"
		"targetname" "item_shield_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873726 250-1"
		"OnCase02" "serverCommandsm_setcooldown 1873726 450-1"
		"OnCase03" "serverCommandsm_setcooldown 1873726 650-1"
	}
}

;uncommented
modify:
{
	match:
	{
		"hammerid" "8121392"
	}
	delete:
	{
		"OnTrigger" "!selfEnable0.6-1"
	}
	insert:
	{
		"OnTrigger" "!selfEnable0.25-1"
	}
}