; fix ending glitch on s4
modify:
{
	match:
	{
		"targetname" "z_m_xdez_movelinear"
		"classname" "func_movelinear"
	}
	insert:
	{
	"OnFullyOpen" "s4_ending_hurtfixKill01"
	}
}
add:
{
	"model" "*17"
	"wait" "1"
	"targetname" "s4_ending_hurtfix"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"origin" "-13824 -2528 -8800"
	"classname" "trigger_hurt"
	"parentname" "s4_ending_movelinear"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "999999"
}

; fix spiral ending s4
modify:
{
	match:
	{
		"targetname" "k_dx_rot"
		"classname" "func_rotating"
	}
	replace:
	{
		"maxspeed" "43"
	}
}