;prevent zombies getting boosted into next room by teleporting them away and moving the trigger a bit back
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "push_protect_1"
	}
	replace:
	{
		"origin" "2668 9592 -1920"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputorigin -24 5632 26080-1"
	}
}