;stripper by koen (STEAM_1:1:114921174)

;move immunity text to a visible part of the screen
modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "text_lasers"
	}
	replace:
	{
		"x" "-1.0"
		"y" "0.7"
	}
}

;rework how immunity text is displayed
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "Filter_None"
	}
	delete:
	{
		"OnPass" "text_lasersDisplay0-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "/^mv_2_f_/"
	}
	insert:
	{
		"OnHurtPlayer" "text_lasersDisplay0-1"
	}
}

;remove empty ambient generic in the map
filter:
{
	"classname" "ambient_generic"
	"origin" "2960 9420 -1976"
}

;move gravity particle lower to not block vision
modify:
{
	match:
	{
		"classname" "info_particle_system"
		"targetname" "gravity_eff"
	}
	replace:
	{
		"origin" "-5216 -573.338 1475"
	}
}

;fix item particles not showing up when they spawn
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "Item_Ammo_makerForceSpawn01"
		"OnMapSpawn" "item_wind_makerForceSpawn01"
		"OnMapSpawn" "Item_gravity_makerForceSpawn01"
	}
	insert:
	{
		"OnMapSpawn" "Item_Ammo_makerForceSpawn51"
		"OnMapSpawn" "item_wind_makerForceSpawn51"
		"OnMapSpawn" "Item_gravity_makerForceSpawn51"
	}
}

;prevent zombies getting boosted into next room by teleporting them away and moving the trigger a bit back
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "push_protect_1"
	}
	replace:
	{
		"classname" "trigger_teleport"
		"origin" "2668 9592 -1920"
		"spawnflags" "4097"
	}
	insert:
	{
		"target" "tp_dest_10_t"
		"UseLandmarkAngles" "1"
	}
}