;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;///////////			MODIFY ENTWATCH ITEM LEVEL HUD			///////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////

;Heal 1873434
modify:
{
	match:
	{
		"hammerid" "1873436"
		"targetname" "item_heal_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873434 500-1"
		"OnCase02" "serverCommandsm_setcooldown 1873434 450-1"
		"OnCase03" "serverCommandsm_setcooldown 1873434 400-1"
	}
}

;Active Camouflage 1873570
modify:
{
	match:
	{
		"hammerid" "1873559"
		"targetname" "item_camouflage_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873570 650-1"
		"OnCase02" "serverCommandsm_setcooldown 1873570 700-1"
		"OnCase03" "serverCommandsm_setcooldown 1873570 850-1"
	}
}

;Shield 1873726
modify:
{
	match:
	{
		"hammerid" "1873719"
		"targetname" "item_shield_case"
	}
	insert:
	{
		"OnCase01" "serverCommandsm_setcooldown 1873726 350-1"
		"OnCase02" "serverCommandsm_setcooldown 1873726 600-1"
		"OnCase03" "serverCommandsm_setcooldown 1873726 800-1"
	}
}

;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;///////////								FIXES				///////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////
;//////////////////////////////////////////////////////////////////////////////////////////////

;Decrease air accelerate and skyboxes
modify:
{
	match:
	{
		"targetname" "lvl1_relay"
		"origin" "-13368 -15864 -15240"
	}
	delete:
	{
		"OnTrigger" "serverCommandsv_airaccelerate 1000-1"
	}
	insert:
	{
		"OnTrigger" "serverCommandsv_airaccelerate 200-1"
		"OnTrigger" "sky_defaultTrigger0-1"
	}
}

;Reduce lifepod doors delay
modify:
{
	match:
	{
		"targetname" "lvl1_first_area_trigger_1"
		"origin" "-5093 -9009 -13545.1"
	}
	delete:
	{
		"OnStartTouch" "lvl1_first_area_door_1_*Open111"
		"OnStartTouch" "serverCommandsay >> Door open in 10 seconds <<01"
	}
	insert:
	{
		"OnStartTouch" "lvl1_first_area_door_1_*Open61"
		"OnStartTouch" "serverCommandsay >> Door open in 5 seconds <<01"
	}
}

;Bridge TP counter (reduce from 4 zombies to 2 zombies)
modify:
{
	match:
	{
		"targetname" "lvl1_3rd_area_npc_death_counter_6"
		"origin" "-3293 -5144 -13593"
	}
	replace:
	{
		"max" "2"
	}
}

;Fix bridge fail relay dont trigger since being killed on zm trigger
modify:
{
	match:
	{
		"targetname" "lvl1_3rd_area_trigger_6"
		"origin" "-4893 -3584.5 -13534"
	}
	delete:
	{
		"OnStartTouch" "lvl1_3rd_area_keyes_relay3Kill01"
	}
	insert:
	{
		"OnStartTouch" "lvl1_3rd_area_teleport_3Kill31"
	}
}

;Delay cortana spawn to prevent player pick cortana early and strip all their knife
modify:
{
	match:
	{
		"targetname" "lvl1_3rd_area_keyes_relay2"
		"origin" "-4843 -3296 -13593"
	}
	delete:
	{
		"OnTrigger" "cortana_makerForceSpawn0.01-1"
		"OnTrigger" "serverCommandsay >> Cortana Knife has spawned <<0.01-1"
	}
	insert:
	{
		"OnTrigger" "cortana_makerForceSpawn3.0-1"
		"OnTrigger" "serverCommandsay >> Cortana Knife has spawned <<3.0-1"
	}
}

;Increase hurt duration of fail Coding part
modify:
{
	match:
	{
		"targetname" "lvl1_2nd_area_puzzle_wrong_counter"
		"origin" "-2065 -7252 -13593"
	}
	delete:
	{
		"OnHitMax" "lvl1_2nd_area_puzzle_hurtDisable0.02-1"
	}
	insert:
	{
		"OnHitMax" "lvl1_2nd_area_puzzle_hurtDisable0.3-1"
	}
}

;Remove disable flashlight trigger for now
filter:
{
	"classname" "trigger_multiple"
	"targetname" "lvl1_6th_area_trigger_no_flashlight"
	"origin" "-5998 -10484.5 -13354.5"
}

;Nerf Plasma Rifle item
modify:
{
	match:
	{
		"targetname" "item_plasma_rifle_button"
		"origin" "-13580 -13134.5 -15849.5"
	}
	replace:
	{
		"wait" "0.25"
	}
}

;Add nuke timer at vents part and modify
add:
{
	"targetname" "lvl1_6th_area_vents_nuke_relay"
	"origin" "-6340 -10744 -13393"
	"classname" "logic_relay"
	"StartDisabled" "0"
	"spawnflags" "0"
	;"OnTrigger" "admin_nukeFireUser101"
	"OnTrigger" "lvl1_6th_area_zm_speedEnable01"
	"OnTrigger" "serverCommandsay >> There're still human in maintenance way <<01"
	"OnTrigger" "serverCommandsay >> Zombies Adrenaline has enable <<11"
}

modify:
{
	match:
	{
		"targetname" "lvl1_6th_area_trigger_11"
		"origin" "-6162.5 -11460 -13354.5"
	}
	insert:
	{
		"OnStartTouch" "serverCommandsay >> Zombies adrenaline injected <<221"
		"OnStartTouch" "serverCommandsay >> You have 100s to have all players escape maintenance way <<251"
		"OnStartTouch" "serverCommandsay >> You have 60s to have all players escape maintenance way <<651"
		"OnStartTouch" "serverCommandsay >> You have 30s to have all players escape maintenance way <<951"
		"OnStartTouch" "serverCommandsay >> You have 10s to have all players escape maintenance way <<1151"
		"OnStartTouch" "serverCommandsay >> You have 5s to have all players escape maintenance way <<1201"
		"OnStartTouch" "lvl1_6th_area_vents_nuke_relayTrigger1251"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl1_6th_area_trigger_17"
		"origin" "-6715 -9791.51 -13354.5"
	}
	insert:
	{
		"OnStartTouch" "lvl1_6th_area_vents_nuke_relayKill01"
		"OnStartTouch" "lvl1_6th_area_zm_speedKill01"
		"OnStartTouch" "serverCommandsay >> Zombie adrenaline Antidote has spread01"
	}
}

add:
{
	"model" "*323"
	"wait"	"1"
	"targetname" "lvl1_6th_area_zm_speed"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"filtername" "zombie"
	"origin" "-6002.5 -10496 -13358.5"
	"classname" "trigger_multiple"
	;"OnStartTouch" "!activatorSetDamageFilterhuman_no0-1"
	"OnStartTouch" "speedModifySpeed2.50-1"
	;"OnEndTouch" "!activatorSetDamageFiltervulnerable0-1"
	"OnEndTouch" "speedModifySpeed10-1"
}


;Boss nerfs
;//////////////////////////////////////////////////////////////////////////////////////////////

;Reduce shade turret HP
modify:
{
	match:
	{
		"targetname" "skill_boss_shade_hp_counter"
		"origin" "-8830.9 -3800 -13549.5"
	}
	delete:
	{
		"OnStartTouch" "skill_boss_shade_hitboxAddHealth12000.01-1"
	}
	insert:
	{
		"OnStartTouch" "skill_boss_shade_hitboxAddHealth6000.01-1"
	}
}

;Increase spawn time for shade turret bullet
modify:
{
	match:
	{
		"targetname" "skill_boss_shade_timer"
		"origin" "-8664 -4112 -13812"
	}
	replace:
	{
		"LowerRandomBound" "0.21"
		"UpperRandomBound" "0.31"
	}
}

;Decrease boss thruster speed
modify:
{
	match:
	{
		"targetname" "boss_front_thruster"
		"origin" "-8801.9 -3740 -13803"
	}
	replace:
	{
		"force" "3400"
	}
}

modify:
{
	match:
	{
		"targetname" "boss_side_thruster"
		"origin" "-8801.9 -3756 -13803"
	}
	replace:
	{
		"force" "300"
	}
}
