;Prevent players from getting stuck when crushed by tanktrain
modify:
{
    match:
    {
        "classname" "func_tanktrain"
        "origin" "15364 3936 -948"
    }
    replace:
    {
		"classname" "func_tracktrain"
    }
}

;Remove broken case that caused music to not play during the round
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "bgm_case"
	}
	delete:
	{
		"OnCase02" "server commandCommandsay *** BGM Type : Black Mesa***10-1"
		"OnCase02" "bgm_stage_1_kariKill0-1"
	}
}