;Should reduce lag in one area.
modify:
{
	match:
	{
		"classname" "prop_dynamic"
		"targetname" "doorhk"
	}
	replace:
	{
		"solid" "0"
	}
}

;Pushes zombies away from helicopter, so they can't "glitch" the first level.
add:
{
	"model" "*96"
	"classname" "trigger_push"
	"origin" "-2248.01 6912 576"
	"StartDisabled" "0"
	"speed" "350"
	"spawnflags" "1"
	"pushdir" "0 270 0"
	"parentname" "heli01"
	"filtername" "zombiefilter"
}