;Removinh weapon cleaner. Server (GFL) has its own weapon cleaning plugin already, also conflicting with entWatch.
filter:
{
	"hammerid" "1151360"
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Auto"
	}
	delete:
	{
		"OnSpawn" "WeaponManagerFireUser12-1"
	}
}