;ze_johnny_nukem_go_b8_3a -- Stripper fixes -- Last Updated July 17th, 2021
;Thanks to GFL and ZombiEden for helping with testing the map before and after Stripper changes were made.

;------------------
; General Stuff
;------------------

;Reduces the volume of the NPCs by 60%

modify:
{
	match:
	{
		"targetname" "NPCDeathSound"
	}
	replace:
	{
		"health" "4"
	}
}

;Adds message to round start to notify that Stripper config has been loaded, as well as moving the main area TP trigger around to prevent delaying

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say Professor *Stripper data has successfully overwritten the dimension*,2,-1"
		"OnMapSpawn" "cmd,Command,say Professor *You may now go in with less worries*,4,-1"
		"OnMapSpawn" "main_area_tp,FireUser1,,20,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "main_area_tp"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,origin 0 4888 2008,0,-1"
		"OnUser1" "!self,FireUser2,,4,-1"
		"OnUser2" "!self,AddOutput,origin 0 4232 2008,0,-1"
		"OnUser2" "!self,FireUser1,,4,-1"
	}
}

;Creates the needed new triggers for stage 3 as well as initializing the fire on a delay

modify:
{
	match:
	{
		"targetname" "level_case"
	}
	insert:
	{
		"OnCase03" "stage3_fire,Start,,6,-1"
		"OnCase03" "stage3_fire,Kill,,120,-1"
		
		"OnCase03" "stage3_hold0_tp,AddOutput,solid 2,4.5,-1"
		"OnCase03" "stage3_hold0_tp,AddOutput,mins -1152 -160 -388,5,-1"
		"OnCase03" "stage3_hold0_tp,AddOutput,maxs 1152 160 388,5,-1"
		
		"OnCase03" "stage3_elevator_tp,AddOutput,solid 2,4.5,-1"
		"OnCase03" "stage3_elevator_tp,AddOutput,mins -104 -208 -604,5,-1"
		"OnCase03" "stage3_elevator_tp,AddOutput,maxs 104 208 604,5,-1"
		
		"OnCase03" "stage3_bed_tp,AddOutput,solid 2,4.5,-1"
		"OnCase03" "stage3_bed_tp,AddOutput,mins -1920 -1312 -364,5,-1"
		"OnCase03" "stage3_bed_tp,AddOutput,maxs 1920 1312 364,5,-1"
	}
}

;------------------
; Item Stuff
;------------------

;Edits the burning time of Flame and Mines to 4 seconds and increases ZM speed gain, as well as increasing the height of the fire trigger by 32 units

modify:
{
	match:
	{
		"targetname" "fire"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"origin" "713 4256 492"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgnitelifetime60-1"
		"OnStartTouch" "speedModifySpeed1.056-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,Ignitelifetime,4,0,-1"
		"OnStartTouch" "speed,ModifySpeed,1.08,4,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "mine_hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnStartTouch" "!activatorIgnitelifetime90-1"
		"OnStartTouch" "speedModifySpeed1.059-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,Ignitelifetime,4,0,-1"
		"OnStartTouch" "speed,ModifySpeed,1.08,4,-1"
	}
}

;Raises the height of both chainsaw triggers by 32 units

modify:
{
	match:
	{
		"targetname" "motosierra_hurt"
	}
	replace:
	{
		"origin" "35 4904 1010"
	}
}

modify:
{
	match:
	{
		"targetname" "motosierra_push"
	}
	replace:
	{
		"origin" "35 4904 1010"
	}
}

;Lowers the volume of the chainsaw from 80% to 40%

modify:
{
	match:
	{
		"targetname" "motosierra"
	}
	delete:
	{
		"OnPlayerPickup" "sxVolume80-1"
	}
	insert:
	{
		"OnPlayerPickup" "sxVolume40-1"
	}
}

;Changes the math_counter for the flamethrower to have a max value of 20 instead of 2000, so that it looks nicer in Entwatch cooldown

modify:
{
	match:
	{
		"targetname" "flame_counter"
	}
	replace:
	{
		"max" "20"
	}
}

;------------------
; Boss HP buffs (These are keeping 0 ping bosses in mind, if server doesn't have 0 ping and HP feels too high feel free to nerf a tiny bit)
;------------------

modify:
{
	match:
	{
		"targetname" "Frog_Boss_Push_HP"
	}
	delete:
	{
		"OnStartTouch" "Frog_CounterAdd1250-1"
	}
	insert:
	{
		"OnStartTouch" "Frog_Counter,Add,240,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Frog2_Boss_Push_HP"
	}
	delete:
	{
		"OnStartTouch" "Frog2_CounterAdd1750-1"
	}
	insert:
	{
		"OnStartTouch" "Frog2_Counter,Add,265,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Solid_Paper_Boss_Push_HP"
	}
	delete:
	{
		"OnStartTouch" "Solid_Paper_CounterAdd2250-1"
	}
	insert:
	{
		"OnStartTouch" "Solid_Paper_Counter,Add,320,0,-1"
	}
}

;------------------
; Stage 1 Stuff
;------------------

;Makes it so that Rayvel, platforms and ladders don't make bullet sounds when shot

modify:
{
	match:
	{
		"targetname" "stage1_rayvel_spawn"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage1_ladder1"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage1_bridge"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"origin" "-7820 808 1608"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage1_ladder2"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;Makes it so that the teleport at the Frog bossfight does the same thing as the teleport at the main area so that it covers everything
;Also enables it after 35 seconds of the boss dying to prevent delaying

modify:
{
	match:
	{
		"targetname" "stage1_TP_3"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,origin -6016 2672 2260,0,-1"
		"OnUser1" "!self,FireUser2,,4,-1"
		"OnUser2" "!self,AddOutput,origin -6016 2608 2260,0,-1"
		"OnUser2" "!self,FireUser1,,4,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Frog_Counter"
	}
	insert:
	{
		"OnHitMin" "stage1_TP_3,FireUser1,10,1"
		"OnHitMin" "stage1_TP_3,Enable,,35,1"
	}
}

;Deletes the "Zombies Win" trigger after humans have completed the stage

modify:
{
	match:
	{
		"targetname" "Stage1_Win_Trigger"
	}
	insert:
	{
		"OnStartTouch" "Stage1_Win_T_Detect,Kill,,0,1"
	}
}

;------------------
; Stage 2 Stuff
;------------------

;Makes it so that Rayvel, platforms and ladders don't make bullet sounds when shot

modify:
{
	match:
	{
		"origin" "-4807 -6568 449"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_ladder1"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_ladder2"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_bridge"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_bridge2"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;Makes it so that the gate opens 5 seconds after the boss has been defeated to enforce fast triggers / quick defense, also to avoid possible delaying

modify:
{
	match:
	{
		"targetname" "Frog2_Counter"
	}
	insert:
	{
		"OnHitMin" "stage2_boss_gate,Open,,5,1"
	}
}

;Fixes a TP avoidance spot after boss

modify:
{
	match:
	{
		"targetname" "stage2_bridge_trigger"
	}
	insert:
	{
		"OnTrigger" "stage2_tp_4,FireUser1,,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_tp_4"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,origin -6592 -9120 3620,0,-1"
		"OnUser1" "!self,AddOutput,origin -6784 -9120 3620,1,-1"
		"OnUser1" "!self,AddOutput,origin -6784 -8960 3620,2,-1"
		"OnUser1" "!self,AddOutput,origin -6560 -8960 3584,3,-1"
		"OnUser1" "!self,FireUser1,,4,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_end_heli_button"
	}
	insert:
	{
		"OnPressed" "stage2_tp_5,FireUser1,,5,1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_tp_5"
	}
	insert:
	{
		"OnUser1" "!self,AddOutput,origin -3152 -6664 2906,0,-1"
		"OnUser1" "!self,AddOutput,origin -3760 -6720 3034,2,-1"
		"OnUser1" "!self,FireUser1,,4,-1"
	}
}

;Makes it so that both win / loss triggers are no longer parented to the helicopter at the end

modify:
{
	match:
	{
		"targetname" "Stage2_Win_T_Detect"
	}
	delete:
	{
		"parentname" "stage2_end_heli_model"
	}
}

modify:
{
	match:
	{
		"targetname" "Stage2_Win_Trigger"
	}
	delete:
	{
		"parentname" "stage2_end_heli_model"
	}
}

;Adds a dummy + logic measures to the end of Stage 2 so that the helicopter doesn't spam outputs on round win / loss

add:
{
	"classname" "info_particle_system"
	"angles" "0 0 0"
	"effect_name" "custom_particle_001"
	"targetname" "stage2_win_trigger_dummy"
	"parentname" "stage2_end_heli_model"
	"start_active" "0"
	"origin" "-2020 -10640 3210"
}

add:
{
	"classname" "logic_measure_movement"
	"targetname" "stage2_win_trigger_measure"
	"TargetScale" "1"
	"TargetReference" "stage2_win_trigger_dummy"
	"Target" "Stage2_Win_Trigger"
	"MeasureType" "0"
	"MeasureTarget" "stage2_win_trigger_dummy"
	"MeasureReference" "stage2_win_trigger_dummy"
}

add:
{
	"classname" "logic_measure_movement"
	"targetname" "stage2_win_t_detect_measure"
	"TargetScale" "1"
	"TargetReference" "stage2_win_trigger_dummy"
	"Target" "Stage2_Win_T_Detect"
	"MeasureType" "0"
	"MeasureTarget" "stage2_win_trigger_dummy"
	"MeasureReference" "stage2_win_trigger_dummy"
}

;Disables Lag Compensation on the clip brush for the helicopter
;Spawnflags without lagcomp: 8949761
;SF_LAGCOMP_DISABLE = 1073741824
;See https://forums.alliedmods.net/showthread.php?p=2684810

modify:
{
	match:
	{
		"targetname" "stage2_helicopter_clip"
	}
	replace:
	{
		"spawnflags" "1082691585"
	}
}

;Moves the TP above the helicopter so that humans can't hide if they drop down

modify:
{
	match:
	{
		"targetname" "stage2_fell_off_TP_3"
	}
	replace:
	{
		"origin" "-3760 -10752 2432"
	}
}

;------------------
; Stage 3 Stuff
;------------------

;Disables fire being active at the start

modify:
{
	match:
	{
		"targetname" "stage3_fire"
	}
	replace:
	{
		"start_active" "0"
	}
}

;Makes it so that Rayvel, platforms and ladders don't make bullet sounds when shot

modify:
{
	match:
	{
		"targetname" "st3_bridge_0"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "st3_bridge_0_1"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage3_start_wall"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"origin" "7888 -7408 328"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage3_bridge"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage3_bridge2"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;Adds a new TP trigger to prevent delaying on the first area

add:
{
	"classname" "trigger_teleport"
	"origin" "0 -3744 644"
	"spawnflags" "1"
	"StartDisabled" "0"
	"target" "stage3_lava_td"
	"targetname" "stage3_hold0_tp"
	"UseLandmarkAngles" "1"
}

;Adds new TP triggers inside the bridges in the first area to prevent people from getting stuck

add:
{
	"model" "*256"
	"classname" "trigger_multiple"
	"origin" "374 -4208 320"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "stage3_bridge0_tp"
	"wait" "1"
	
	"OnStartTouch" "!activator,AddOutput,origin -128 -4208 466,0.1,-1"
}

add:
{
	"model" "*255"
	"classname" "trigger_multiple"
	"origin" "374 -5248 320"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "stage3_bridge0_1_tp"
	"wait" "1"
	
	"OnStartTouch" "!activator,AddOutput,origin -128 -5248 466,0.1,-1"
}

;Moves the Zombie TD closer in the first hold, opens the second paper wall earlier and enables anti-stuck teleports

modify:
{
	match:
	{
		"targetname" "stage3_bridge_0_trigger"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "stage3_start_td_0,AddOutput,origin -912 -4736 388,5,1"
		"OnTrigger" "stage3_gate0_1,Kill,,15,1"
		"OnTrigger" "stage3_bridge0_tp,Enable,,25,1"
		"OnTrigger" "stage3_bridge0_tp,Kill,,25.1,1"
		"OnTrigger" "stage3_bridge0_1_tp,Enable,,35,1"
		"OnTrigger" "stage3_bridge0_1_tp,Kill,,35.1,1"
	}
}

;Fixes an NPC that spawns in the wrong area

modify:
{
	match:
	{
		"targetname" "stage3_nazi_spawner"
	}
	delete:
	{
		"OnCase13" "NPCTemplateAddOutputorigin 816 -264 3280.021"
	}
	insert:
	{
		"OnCase13" "NPCTemplate,AddOutput,origin 816 -4264 328,0.02,1"
	}
}

;Adds a new TP trigger to prevent delaying on the elevator area

add:
{
	"classname" "trigger_teleport"
	"origin" "7800 -7024 1220"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "stage3_boss_zm_tp"
	"targetname" "stage3_elevator_tp"
	"UseLandmarkAngles" "1"
}

modify:
{
	match:
	{
		"targetname" "stage3_gate4_trigger"
	}
	insert:
	{
		"OnTrigger" "stage3_elevator_tp,Enable,,35,1"
	}
}

;Adds a new push trigger during the Solid Paper bossfight to prevent zombies from getting close to the humans

add:
{
	"model" "*31"
	"classname" "trigger_push"
	"origin" "6422 -5240 1752"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "stage3_zm_cage_push"
	"filtername" "Zombies_Filter"
	"UseLandmarkAngles" "0"
	"speed" "400"
	"pushdir" "0 45 0"
}

modify:
{
	match:
	{
		"targetname" "Solid_Paper_Counter"
	}
	insert:
	{
		"OnHitMin" "stage3_zm_cage_push,Kill,,5,1"
	}
}

;Adds a new TP trigger to prevent falling out of bounds on the bed area

add:
{
	"classname" "trigger_teleport"
	"origin" "3264 -9760 1044"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "stage3_falloff_td_2"
	"targetname" "stage3_bed_tp"
	"UseLandmarkAngles" "1"
}

modify:
{
	match:
	{
		"targetname" "stage3_bridge2_trigger"
	}
	insert:
	{
		"OnTrigger" "stage3_bed_tp,Enable,,15,1"
	}
}

;Filters out the old TP and adds a new one

filter:
{
	"targetname" "stage3_end_teleport"
}

add:
{
	"model" "*244"
	"classname" "trigger_teleport"
	"origin" "7856 -9832 1390"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "stage3_end_td_1"
	"targetname" "stage3_end_teleport"
	"UseLandmarkAngles" "1"
	
	"OnStartTouch" "stage3_end_tp_2,Enable,,10,1"
	"OnStartTouch" "stage3_end_teleporter_model2,SetAnimation,iris_open,10,1"
	"OnStartTouch" "Explosion_Temp,ForceSpawn,,3.1,1"
	"OnStartTouch" "Explosion_Temp,AddOutput,origin 2411 -10718 2576,3,1"
	"OnStartTouch" "Explosion_Temp,AddOutput,origin 2932 -10872 2576,7,1"
	"OnStartTouch" "Explosion_Temp,ForceSpawn,,7.1,1"
	"OnStartTouch" "stage3_tp_4,Enable,,7,1"
	"OnStartTouch" "cmd,Command,say Professor *Johnny - That dimension is becoming unstable!*,3,1"
	"OnStartTouch" "cmd,Command,say Professor *I've located an escape vehicle near you - Run!*,6,1"
	"OnStartTouch" "cmd,Command,say Johnny *I'm on it professor!*,9,1"
	"OnStartTouch" "stage3_nazi_spawner,InValue,ninth_wave,9,1"
}

;Disables Lag Compensation on the clip brush for the helicopter
;Spawnflags without lagcomp: 8949761
;SF_LAGCOMP_DISABLE = 1073741824

modify:
{
	match:
	{
		"targetname" "stage3_helicopter_clip"
	}
	replace:
	{
		"spawnflags" "1082691585"
	}
}

;Slows down the helicopter

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "stage3_end_heli_rot_4"
	}
	replace:
	{
		"speed" "150"
	}
}

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "stage3_end_heli_rot_3"
	}
	replace:
	{
		"speed" "150"
	}
}

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "stage3_end_heli_rot_6"
	}
	replace:
	{
		"speed" "150"
	}
}

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "stage3_end_heli_rot_2"
	}
	replace:
	{
		"speed" "150"
	}

}