;don't kill zms with humans, as it can bug the score
modify:
{
	match:
	{
		"classname" "logic_compare"
		"targetname" "counter_human_compare"
	}
	delete:
	{
		"OnEqualTo" "nukeEnable51"
	}
	insert:
	{
		"OnEqualTo" "playerRunScriptCodeforeach(k,_ in{SetHealth=0}){if(self.GetTeam()==3&&self.GetHealth()>0)EntFireByHandle(self, k,(0).tostring(),0,null,null)}51"
	}
}

;kill humans if zms get lvl 2 bridge trigger, to prevent delaying
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button_bridge_bomb20"
	}
	delete:
	{
		"OnPressed" "button_test_spawnTestActivator0-1"
	}
	insert:
	{
		"OnPressed" "button_test_spawnTestActivator01"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button_bridge_bomb21"
	}
	delete:
	{
		"OnPressed" "button_test_spawnTestActivator0-1"
	}
	insert:
	{
		"OnPressed" "button_test_spawnTestActivator01"
	}
}
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button_bridge_bomb23"
	}
	delete:
	{
		"OnPressed" "button_test_spawnTestActivator0-1"
	}
	insert:
	{
		"OnPressed" "button_test_spawnTestActivator01"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_team"
		"targetname" "button_test_spawn"
	}
	insert:
	{
		"OnFail" "cmdCommandsay <<ZOMBIES ACTIVATED A LEVER, SLAYING ALL HUMANS>>01"
		"OnFail" "cmdCommandsay <<ZOMBIES ACTIVATED A LEVER, SLAYING ALL HUMANS>>11"
		"OnFail" "cmdCommandsay <<ZOMBIES ACTIVATED A LEVER, SLAYING ALL HUMANS>>21"
		"OnFail" "cmdCommandsay <<ZOMBIES ACTIVATED A LEVER, SLAYING ALL HUMANS>>31"
		"OnFail" "playerRunScriptCodeforeach(k,_ in{SetHealth=0}){if(self.GetTeam()==3&&self.GetHealth()>0)EntFireByHandle(self, k,(0).tostring(),0,null,null)}51"
	}
}