;Prevent CTs from delaying in button room by slowly damaging people in here after the ZM teleport
add:
{
    "classname" "trigger_hurt"
    "targetname" "hurt_delaying_cts"
    "origin" "4667.5 9511 -825.04"
    "filtername" "filter_humans"
    "spawnflags" "1"
    "StartDisabled" "1"
    "damage" "6"
    "damagecap" "12"
    "damagemodel" "0"
    "damagetype" "0"
    "nodmgforce" "0"
}

add:
{
	"classname" "filter_activator_team"
	"origin" "4667.5 9511 -825.04"
	"targetname" "filter_humans"
	"filterteam" "3"
	"Negated" "Allow entities that match criteria"
}

modify:
{
    match:
    {
        "classname" "logic_relay"
        "targetname" "Auto"
    }
    insert:
    {
        "OnSpawn" "hurt_delaying_cts,AddOutput,solid 2,0,-1"
        "OnSpawn" "hurt_delaying_cts,AddOutput,mins -236.5 -274 -107,0.5,-1"
        "OnSpawn" "hurt_delaying_cts,AddOutput,maxs 236.5 274 107,0.5,-1"
        "OnSpawn" "hurt_delaying_cts,AddOutput,targetname AFKTele2,1,-1"
    }
}