;stripper by koen (STEAM_1:1:114921174)

;prevent delaying triggers
add:
{
	"classname" "logic_relay"
	"targetname" "Autoslay1"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "Autoslay2Trigger90-1"
}

add:
{
	"classname" "logic_relay"
	"targetname" "Autoslay2"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "cmdCommandsay You took too long to trigger, slaying all humans...01"
	"OnTrigger" "playerRunScriptCodeforeach(k,_ in{SetHealth=0}){if(self.GetTeam()==3&&self.GetHealth()>0)EntFireByHandle(self, k,(0).tostring(),0,null,null)}21"
}

modify:
{
	match:
	{
		"classname" "func_door_rotating"
		"targetname" "spawn_bridge"
	}
	insert:
	{
		"OnFullyOpen" "Autoslay1Trigger01"
	}
}

modify:
{
	match:
	{
		"classname" "func_rot_button"
		"targetname" "spawn_rot_button_2"
	}
	insert:
	{
		"OnPressed" "Autoslay1CancelPending01"
	}
}

modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "spawn_door_2"
	}
	insert:
	{
		"OnFullyOpen" "Autoslay1Trigger01"
	}
}

modify:
{
	match:
	{
		"classname" "func_rot_button"
		"targetname" "room1_button_1"
	}
	insert:
	{
		"OnPressed" "Autoslay1CancelPending01"
	}
}

modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "room2_elevator"
	}
	insert:
	{
		"OnFullyOpen" "Autoslay1Trigger01"
	}
}

modify:
{
	match:
	{
		"classname" "func_rot_button"
		"targetname" "room2_button"
	}
	insert:
	{
		"OnPressed" "Autoslay1CancelPending01"
	}
}

;fix first bridge not crushing players
modify:
{
	match:
	{
		"classname" "func_door_rotating"
		"targetname" "spawn_bridge"
	}
	replace:
	{
		"ignoredebris" "0"
	}
}

;fix triple moving bridge being blockable
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "spawn_bridge_2"
	}
	replace:
	{
		"blockdamage" "99999"
	}
}

;fix players not spawning with armor
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"hammerid" "114298"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}

;decrease shotgun push
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "shotgun_push_damage"
	}
	replace:
	{
		"speed" "700"
	}
}

;increase shotgun cooldown (make sure to update entwatch!)
modify:
{
	match:
	{
		"classname" "filter_multi"
		"targetname" "shotgun_filter_2"
	}
	delete:
	{
		"OnPass" "shotgun_buttonUnlock5-1"
		"OnPass" "shotgun_modelColor255 255 2555-1"
	}
	insert:
	{
		"OnPass" "shotgun_buttonUnlock10-1"
		"OnPass" "shotgun_modelColor255 255 25510-1"
	}
}

;buff chet HP
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "room2_trigger_hp_chet"
	}
	delete:
	{
		"OnStartTouch" "boss_chet_HpAdd1300-1"
		"OnStartTouch" "boss_chet_HpBackupAdd1300-1"
	}
	insert:
	{
		"OnStartTouch" "boss_chet_HpAdd1450-1"
		"OnStartTouch" "boss_chet_HpBackupAdd1450-1"
	}
}