;stripper by koen (STEAM_1:1:114921174)

;kill wall template to prevent the very-rare case where it gets spawned as the boss dies
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "boss_hp"
	}
	insert:
	{
		"OnHitMin" "Boss_rot_template,Kill,,0,-1"
	}
}

;prevent players from spamming just one button to open the door
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button_4"
	}
	replace:
	{
		"wait" "1.0"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button_5"
	}
	replace:
	{
		"wait" "1.0"
	}
}