modify:
{
	match:
	{
		"targetname" "stage_5_top_speed_up"
	}
	delete:
	{
		"OnStartTouch" "Global_SpeedModifySpeed40-1"
	}
	insert:
	{
		"OnStartTouch" "Global_Speed,ModifySpeed,3,0,-1"
	}
}
modify:
{
	match:
	{
		"targetname" "wpn_jugger_phys"
	}
	delete:
	{
		"OnBreak" "item_cRunScriptCodeDeactiveJugger();01"
		"OnBreak" "item_cRunScriptCodeResetPlayerJugger();11"
	}
	insert:
	{
		"OnBreak" "item_c,RunScriptCode,ResetPlayerJugger();,2,1"
		"OnBreak" "item_c,RunScriptCode,DeactiveJugger();,2.5,1"
	}
}
modify:
{
	match:
	{
		"targetname" "Human_Item_Mech_Body"
	}
	insert:
	{
		"OnBreak" "human_mech,AddOutput,OnUser1 !self:AddOutput:rendermode 0:2:1,0,1"
	}
}

;enable radar
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapspawn" "consoleCommandsv_disable_radar 01-1"
	}
}