;remove a trigger that was breaking a zm platform, causing a teleport loop
filter:
{
	"hammerid" "348077"
}

;nerfs laser damage from 150 to 30
modify:
{
	match:
	{
		"targetname" "_hurt"
	}
	replace:
	{
		"damage" "30"
	}
}

;remove start disable heal1
modify:
{
	match:
	{
		"targetname" "heal1"
	}
	replace:
	{
		"StartDisabled" "0"
	}
}

;remove trigger_multiple 
filter:
{
	"hammerid" "403794"
}

;remove trigger_hurt
filter:
{
	"hammerid" "165017"
}