;bugfixes from mapper
modify:
{
	match:
	{
		"hammerid" "7587"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "!activatorAddOutputorigin 10160 -9489 -30010-1"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputorigin -13096.5 -49 13770.70-1"
	}
}

modify:
{
	match:
	{
		"targetname" "4bossendrelay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "4bossafkEnable50-1"
	}
	insert:
	{
		"OnTrigger" "4bossafkEnable55-1"
	}
}
