;player_speedmod replacements.
add:
{
	"classname" "logic_relay"
	"targetname" "Slowdown_Patch"
	"spawnflags" "2"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() - 1).tostring(), 0.0, null, null); }0-1"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() + 1).tostring(), 0.0, null, null); }0.1-1"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "-4449.25 403.95 -58.66"
	}
	delete:
	{
		"OnHurtPlayer" "speedModifySpeed0.650-1"
		"OnHurtPlayer" "speedModifySpeed0.650.65-1"
		"OnHurtPlayer" "speedModifySpeed0.70.7-1"
		"OnHurtPlayer" "speedModifySpeed0.750.75-1"
		"OnHurtPlayer" "speedModifySpeed0.80.8-1"
		"OnHurtPlayer" "speedModifySpeed0.850.85-1"
		"OnHurtPlayer" "speedModifySpeed0.90.9-1"
		"OnHurtPlayer" "speedModifySpeed0.950.95-1"
		"OnHurtPlayer" "speedModifySpeed11-1"
		"OnHurtPlayer" "speedModifySpeed0.650.6-1"
		"OnHurtPlayer" "speedModifySpeed0.650.55-1"
		"OnHurtPlayer" "speedModifySpeed0.650.5-1"
		"OnHurtPlayer" "speedModifySpeed0.650.45-1"
		"OnHurtPlayer" "speedModifySpeed0.650.4-1"
		"OnHurtPlayer" "speedModifySpeed0.650.35-1"
		"OnHurtPlayer" "speedModifySpeed0.650.3-1"
		"OnHurtPlayer" "speedModifySpeed0.650.25-1"
		"OnHurtPlayer" "speedModifySpeed0.650.2-1"
		"OnHurtPlayer" "speedModifySpeed0.650.15-1"
		"OnHurtPlayer" "speedModifySpeed0.650.1-1"
		"OnHurtPlayer" "speedModifySpeed0.650.05-1"
	}
	insert:
	{
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,0,-1"
	}
}

;Server priority.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Auto"
	}
	delete:
	{
		"OnSpawn" "consolaCommandmp_freezetime 401"
	}
}

;Music stack
filter:
{
	"hammerid" "630700"
}

filter:
{
	"hammerid" "630715"
}