;patch some tp avoidance spots in lvl 4
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "tele24_2"
	}
	replace:
	{
		"origin" "-7946 167.5 9795.5"
	}
}

;fix no kevlar on new round
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "-13397 -14784 -1025"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}

;make electric toilet item slowdown zombies
modify:
{
	match:
	{
		"targetname" "elect_hurt"
	}
	insert:
	{
		"OnStartTouch" "Map_SpeedModModifySpeed18-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70-1"
	}
}

;fix kevlar damage not been taking into account
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damagetype" "0"
	}
}

;Fix Level 4 Ending
add:
{
	"classname" "game_round_end"
	"origin" "-4487 5370 7350.65"
	"targetname" "lvl4winfix"
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "lvl4_win"
	}
	delete:
	{
		"OnStartTouch" "Map_BrushRunScriptCodeKillAll();61"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputhealth 99999999990-1"
		"OnStartTouch" "lvl4winfixEndRound_CounterTerroristsWin56-1"
	}
}
