;Exclude a trigger from being lag compensated that breaks with it
;SF_LAGCOMP_DISABLE = 1073741824
;See https://forums.alliedmods.net/showthread.php?p=2684810
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "MovingStairs_Tp"
	}
	replace:
	{
		"spawnflags" "1073741825"
	}
}

;Players shooting the pillar won't interfere where it lands.
modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "Room6_Column"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}