;fix invisible mech during stage 5/10 solo when core is destroyed
modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "Human_Item_Mech_Body"
	}
	insert:
	{
		"OnBreak" "human_mechAddOutputrendermode 01.99-1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage_5_last_man_detect"
	}
	delete:
	{
		"OnStartTouch" "Human_Item_Mech_BodyKill0.51"
	}
	insert:
	{
		"OnStartTouch" "Human_Item_Mech_BodyBreak0.51"
	}
}

;start at extreme
modify:
{
	match:
	{
		"classname" "info_target"
		"targetname" "worldspawn_brush_target"
	}
	insert:
	{
		"OnUser1" "worldspawn_brushFireUser10.04-1"
		"OnUser1" "worldspawn_brushAddOutputOnUser1 Level_Counter:SetValue:0:0:10.06-1"
		"OnUser1" "Mode_Extreme_CompareCompare0.06-1"
	}
}

;fix bugged game_player_equip
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"targetname" "game_player_equip"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}

;remove unpacked sounds
modify:
{
	match:
	{
		"noise1" "ambient/machines/wall_move2.wav"
	}
	delete:
	{
		"noise1" "ambient/machines/wall_move2.wav"
	}
}
modify:
{
	match:
	{
		"noise2" "ambient/levels/labs/machine_stop1.wav"
	}
	delete:
	{
		"noise2" "ambient/levels/labs/machine_stop1.wav"
	}
}
modify:
{
	match:
	{
		"noise2" "plats/elevator_large_stop1.wav"
	}
	delete:
	{
		"noise2" "plats/elevator_large_stop1.wav"
	}
}