;temporary meteo sfx fix (if plugin fixed, remove this)
add:
{
	"origin" "-12237.7 -1851.07 5760.02"
	"volstart" "0"
	"targetname" "exploex"
	"spinup" "0"
	"spindown" "0"
	"spawnflags" "48"
	"SourceEntityName" "newH_stage_1_path_cheap"
	"radius" "3050"
	"preset" "0"
	"pitchstart" "100"
	"pitch" "100"
	"message" "*sfx/explode_9.mp3"
	"lfotype" "0"
	"lforate" "0"
	"lfomodvol" "0"
	"lfomodpitch" "0"
	"health" "10"
	"fadeoutsecs" "0"
	"fadeinsecs" "0"
	"cspinup" "0"
	"classname" "ambient_generic"
}

add:
{
	"origin" "-12237.7 -1851.07 5760.02"
	"volstart" "0"
	"targetname" "exploex"
	"spinup" "0"
	"spindown" "0"
	"spawnflags" "48"
	"SourceEntityName" "newH_stage_1_path_cheap"
	"radius" "3050"
	"preset" "0"
	"pitchstart" "100"
	"pitch" "100"
	"message" "*sfx/explode_9.mp3"
	"lfotype" "0"
	"lforate" "0"
	"lfomodvol" "0"
	"lfomodpitch" "0"
	"health" "10"
	"fadeoutsecs" "0"
	"fadeinsecs" "0"
	"cspinup" "0"
	"classname" "ambient_generic"
}

add:
{
	"origin" "-9703.6 10303.2 6024.01"
	"volstart" "0"
	"targetname" "global_sound_fallin2"
	"spinup" "0"
	"spindown" "0"
	"spawnflags" "49"
	"radius" "500"
	"preset" "0"
	"pitchstart" "100"
	"pitch" "100"
	"message" "*sfx/incoming.mp3"
	"lfotype" "0"
	"lforate" "0"
	"lfomodvol" "0"
	"lfomodpitch" "0"
	"health" "2"
	"fadeout" "0"
	"fadein" "0"
	"cspinup" "0"
	"classname" "ambient_generic"
}

add:
{
	"origin" "-9703.6 10303.2 6024.01"
	"volstart" "0"
	"targetname" "global_sound_fallin2"
	"spinup" "0"
	"spindown" "0"
	"spawnflags" "49"
	"radius" "500"
	"preset" "0"
	"pitchstart" "100"
	"pitch" "100"
	"message" "*sfx/incoming.mp3"
	"lfotype" "0"
	"lforate" "0"
	"lfomodvol" "0"
	"lfomodpitch" "0"
	"health" "2"
	"fadeout" "0"
	"fadein" "0"
	"cspinup" "0"
	"classname" "ambient_generic"
}

add:
{
	"origin" "-9703.6 10303.2 6024.01"
	"volstart" "0"
	"targetname" "global_sound_fallin2"
	"spinup" "0"
	"spindown" "0"
	"spawnflags" "49"
	"radius" "500"
	"preset" "0"
	"pitchstart" "100"
	"pitch" "100"
	"message" "*sfx/incoming.mp3"
	"lfotype" "0"
	"lforate" "0"
	"lfomodvol" "0"
	"lfomodpitch" "0"
	"health" "2"
	"fadeout" "0"
	"fadein" "0"
	"cspinup" "0"
	"classname" "ambient_generic"
}

;remove HTML formatting that broke after shattered web update
modify:
{
	match:
	{
		"classname" "env_message"
		"targetname" "HudHintLvMsg_1"
	}
	replace:
	{
		"message" "Your current level is 1!"
	}
}
modify:
{
	match:
	{
		"classname" "env_message"
		"targetname" "HudHintLvMsg_2"
	}
	replace:
	{
		"message" "Your current level is 2!"
	}
}
modify:
{
	match:
	{
		"classname" "env_message"
		"targetname" "HudHintLvMsg_3"
	}
	replace:
	{
		"message" "Your current level is 3!"
	}
}
modify:
{
	match:
	{
		"classname" "env_message"
		"targetname" "HudHintLvMsg_4"
	}
	replace:
	{
		"message" "Your current level is 4!"
	}
}
modify:
{
	match:
	{
		"classname" "env_message"
		"targetname" "HudHintLvMsg_5"
	}
	replace:
	{
		"message" "Your current level is 5!"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "140secHudhint"
	}
	delete:
	{
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>1</u> SECOND139-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>2</u> SECONDS138-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>3</u> SECONDS137-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>4</u> SECONDS136-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>5</u> SECONDS135-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>6</u> SECONDS134-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>7</u> SECONDS133-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>8</u> SECONDS132-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>9</u> SECONDS131-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>10</u> SECONDS130-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>15</u> SECONDS125-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>20</u> SECONDS120-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>25</u> SECONDS115-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>30</u> SECONDS110-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>35</u> SECONDS105-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>40</u> SECONDS100-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>45</u> SECONDS95-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>50</u> SECONDS90-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>55</u> SECONDS85-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>60</u> SECONDS80-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>65</u> SECONDS75-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>70</u> SECONDS70-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>75</u> SECONDS65-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>80</u> SECONDS60-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>85</u> SECONDS55-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>90</u> SECONDS50-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>95</u> SECONDS45-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>100</u> SECONDS40-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>105</u> SECONDS35-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>110</u> SECONDS30-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>115</u> SECONDS25-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>120</u> SECONDS20-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>125</u> SECONDS15-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>130</u> SECONDS10-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>135</u> SECONDS5-1"
		"OnTrigger" "global_hud_hintAddOutputmessage <font color='#CDFAF9'>TIME UNTIL GHOST ARMY ARRIVAL<br><u><b>140</u> SECONDS0-1"
	}
	insert:
	{
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   1 SECOND139-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   2 SECONDS138-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   3 SECONDS137-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   4 SECONDS136-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   5 SECONDS135-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   6 SECONDS134-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   7 SECONDS133-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   8 SECONDS132-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   9 SECONDS131-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   10 SECONDS130-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   15 SECONDS125-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   20 SECONDS120-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   25 SECONDS115-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   30 SECONDS110-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   35 SECONDS105-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   40 SECONDS100-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   45 SECONDS95-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   50 SECONDS90-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   55 SECONDS85-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   60 SECONDS80-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   65 SECONDS75-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   70 SECONDS70-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   75 SECONDS65-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   80 SECONDS60-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   85 SECONDS55-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   90 SECONDS50-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   95 SECONDS45-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   100 SECONDS40-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   105 SECONDS35-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   110 SECONDS30-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   115 SECONDS25-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   120 SECONDS20-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   125 SECONDS15-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   130 SECONDS10-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   135 SECONDS5-1"
		"OnTrigger" "global_hud_hintAddOutputmessage TIME UNTIL GHOST ARMY ARRIVAL   140 SECONDS0-1"
	}
}

;horse delay part fix
modify:
{
	match:
	{
		"targetname" "stage_1_trigger"
		"classname" "trigger_once"
		"origin" "5543.99 1615.98 6750"
	}
	replace:
	{
		"filtername" ""
		"StartDisabled" "1"
	}
	insert:
	{
		"OnUser4" "!self,Enable,,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage_1_track_h_5"
		"classname" "path_track"
	}
	insert:
	{
		"OnPass" "stage_1_trigger,FireUser4,,3,1"
	}
}

;bring back v2_2 horses and fixes
modify:
{
	match:
	{
		"targetname" "stage_1_relay_1"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "consolaCommandsay ** TAKE THE HORSES (USE AND FORWARDS KEY) **0-1"
	}
	insert:
	{
		"OnTrigger" "WeaponManagerTemp,ForceSpawn,,0,1"
		"OnTrigger" "consola,Command,say ** HORSES ARE LEAVING IN 10 SECONDS **,0,-1"
		"OnTrigger" "TestTrain,StartForward,,10,-1"
	}
}

add:
{
	"classname" "point_template"
	"targetname" "WeaponManagerTemp"
	"origin" "0 0 0"
	"spawnflags" "2"
	"Template01" "WeaponManager"
	"OnEntitySpawned" "!self,Kill,,0,1"
	"OnEntitySpawned" "WeaponManager,AddOutput,weaponname weapon_*,0.02,1"
}

add:
{
	"classname" "game_weapon_manager"
	"origin" "0 0 0"
	"targetname" "WeaponManager"
	"ammomod" "0"
	"weaponname" "weapon_c4"
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_1"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_2"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_3"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_4"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_5"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_6"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_7"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "stage_1_horses_8"
	}
	replace:
	{
		"classname" "func_breakable"
		"spawnflags" "1"
	}
	insert:
	{
		"parentname" "TestTrain"
		"material" "3"
	}
}

add:
{
	"model" "*368"
	"wheels" "50"
	"volume" "10"
	"velocitytype" "0"
	"targetname" "TestTrain"
	"target" "stage_1_track_h_1"
	"startspeed" "380"
	"speed" "0"
	"spawnflags" "26"
	"shadowdepthnocache" "0"
	"rendermode" "10"
	"renderfx" "0"
	"rendercolor" "0 0 0"
	"renderamt" "0"
	"origin" "-5240 2104 5728"
	"orientationtype" "1"
	"MoveSoundMinTime" "0"
	"MoveSoundMinPitch" "60"
	"MoveSoundMaxTime" "0"
	"MoveSoundMaxPitch" "200"
	"height" "-2"
	"fadescale" "1"
	"fademindist" "-1"
	"fademaxdist" "0"
	"drawinfastreflection" "0"
	"dmg" "0"
	"disableshadows" "1"
	"disableshadowdepth" "1"
	"disablereceiveshadows" "1"
	"disableflashlight" "0"
	"bank" "0"
	"classname" "func_tracktrain"
	"OnStart" "stage_1_horses_*,SetAnimation,run_N,0,1"
	"OnUser1" "stage_1_horses_*,SetAnimation,L01_afraid_1_idle,0,1"
}

;remove custom human models to reduce lag
filter:
{
	"targetname" "MZMTimer"
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "LevelOutput"
	}
	delete:
	{
		"OnCase01" "MZMTimerKill18-1"
		"OnCase02" "MZMTimerKill18-1"
		"OnCase03" "MZMTimerKill18-1"
		"OnCase04" "MZMTimerKill18-1"
		"OnCase05" "MZMTimerKill18-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "LevelExtreme_Setup"
	}
	delete:
	{
		"OnTrigger" "MZMTimerKill14.5-1"
	}
}

;Sound fixes.
modify:
{
	match:
	{
		"message" "items/ammopickup.wav"
	}
	replace:
	{
		"message" "items/pickup_ammo_01.wav"
	}
}

;Clip. Players stand even less of a chance if they attempt to get up here. You can only delay.
add:
{
	"classname" "prop_dynamic"
	"targetname" "boostclip"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "3072 -360 -8032"
	"angles" "0 270 -90"
	"model" "models/props/cs_militia/coveredbridge01_bottom.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
}

;Extended freezetime. Players have more time to buy.
modify:
{
	match:
	{
		"targetname" "LevelWarmupMsg"
	}
	delete:
	{
		"OnCase14" "consolaCommandmp_freezetime 401"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "LevelOutput"
	}
	delete:
	{
		"OnCase01" "consolaCommandmp_freezetime 001"
		"OnCase02" "consolaCommandmp_freezetime 501"
		"OnCase03" "consolaCommandmp_freezetime 501"
		"OnCase04" "consolaCommandmp_freezetime 501"
		"OnCase05" "consolaCommandmp_freezetime 501"
	}
}