;ensure proper boss scaling
modify:
{
	match:
	{
		"targetname" "mboss_tr_addhp"
	}
	delete:
	{
		"OnStartTouch" "!selfDisable0.02-1"
	}
	insert:
	{
		"OnStartTouch" "!selfDisable1-1"
	}
}

modify:
{
	match:
	{
		"targetname" "mblowball_tr_addhp"
	}
	delete:
	{
		"OnStartTouch" "!selfKill0.04-1"
	}
	insert:
	{
		"OnStartTouch" "!selfKill1-1"
	}
}

;fix boss low health indicator due to the above change
modify:
{
	match:
	{
		"targetname" "mboss_pbox"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_pbox:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_pbox:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal1"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal1:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal1:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal2"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal2:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal2:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal3"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal3:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal3:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal4"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal4:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal4:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal5"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal5:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal5:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal6"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal6:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal6:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal7"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal7:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal7:SetValueCompare::0:-11.11"
	}
}

modify:
{
	match:
	{
		"targetname" "mboss_petal8"
	}
	delete:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal8:SetValueCompare::0:-10.11"
	}
	insert:
	{
		"OnHealthChanged" "!selfAddOutputOnHealthChanged mboss_comp_petal8:SetValueCompare::0:-11.11"
	}
}