;Attempt to fix stage 3's final staircase's pixel walk so zombies can't climb over the pistons easily.
modify:
{
	match:
	{
		"targetname" "jungletemp_finaldoor3"
		"classname" "func_door"
	}
	replace:
	{
		"lip" "0.5"
	}
}

modify:
{
	match:
	{
		"targetname" "jungletemp_finaldoor4"
		"classname" "func_door"
	}
	replace:
	{
		"lip" "0.5"
	}
}

;remove custom models to possibly fix random client crashes
filter:
{
	"targetname" "steve_model"
}
filter:
{
	"targetname" "model_relay"
}
filter:
{
	"hammerid" "1283286"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	delete:
	{
		"OnMapSpawn" "model_relayTrigger0.1-1"
		"OnMapSpawn" "steve_modelRunScriptCodedisablemodels();0.05-1"
	}
}

;fix skipping a hold in lvl 2 that lets you early trigger
add:
{
	"classname" "func_wall_toggle"
	"origin" "-4448 7296 4816"
	"model" "*91"
	"targetname" "nether_floor"
	"rendermode" "10"
	"renderfx" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"fadescale" "1"
	"fademindist" "-1"
	"disableshadows" "0"
	"disablereceiveshadows" "0"
}

;Prevent zombies from knifing over the wall to the level 2 boss arena, since the blocker uses player clip instead of invis texture.
add:
{
	"classname" "func_brush"
	"origin" "-3792 9584 5152"
	"angles" "0 0 0"
	"model" "*219"
	"rendermode" "10"
}

add:
{
	"classname" "func_brush"
	"origin" "-3632 9584 5152"
	"angles" "0 0 0"
	"model" "*219"
	"rendermode" "10"
}

;Make math_counter for flint steel item max at 4, since that is the value the logic_compare locks the item at
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "item_fire_counter"
	}
	replace:
	{
		"max" "4"
	}
}

;Fix another tp avoidance spot
add:
{
	"classname" "trigger_teleport"
	"targetname" "s2_no_tp_fix"
	"origin" "-3488 9552 5080"
	"spawnflags" "1"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"CheckDestIfClearForPlayer" "0"
	"target" "nether_boss_dest"
}

modify:
{
	match:
	{
		"targetname" "stage2_random"
		"classname" "trigger_once"
		"hammerid" "1154452"
	}
	insert:
	{
		"OnTrigger" "s2_no_tp_fix,Enable,,42,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "nether_ghast_kill"
		"classname" "logic_relay"
		"hammerid" "214506"
	}
	insert:
	{
		"OnTrigger" "s2_no_tp_fix,Disable,,10,-1"
	}
}

;Fix delay spot on stage 4
add:
{
	"classname" "trigger_teleport"
	"targetname" "s4_delay_fix_tp"
	"origin" "-5408 1712 4656"
	"spawnflags" "1"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"CheckDestIfClearForPlayer" "0"
	"target" "end_destination"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "968260"
	}
	insert:
	{
		"OnMapSpawn" "s4_delay_fix_tp,AddOutput,solid 2,0.5,1"
		"OnMapSpawn" "s4_delay_fix_tp,AddOutput,mins -480 -912 -176,1,1"
		"OnMapSpawn" "s4_delay_fix_tp,AddOutput,maxs 480 912 176,1,1"
		"OnMapSpawn" "s2_no_tp_fix,AddOutput,solid 2,0.5,1"
		"OnMapSpawn" "s2_no_tp_fix,AddOutput,mins -64 -16 -56,1,1"
		"OnMapSpawn" "s2_no_tp_fix,AddOutput,maxs 64 16 56,1,1"
	}
}

modify:
{
	match:
	{
		"targetname" "end_count"
		"hammerid" "953126"
	}
	insert:
	{
		"OnHitMax" "s4_delay_fix_tp,Enable,,7,-1"
	}
}

;Fixing spawning angles for stage 4 (requires re-setting the angle for all the other spawns as well)
modify:
{
	match:
	{
		"targetname" "stage4_spawns"
	}
	insert:
	{
		"OnTrigger" "spawn*AddOutputangles 0 0 00-1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage3_spawns"
	}
	insert:
	{
		"OnTrigger" "spawn*AddOutputangles 0 180 00-1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage2_spawns"
	}
	insert:
	{
		"OnTrigger" "spawn*AddOutputangles 0 180 00-1"
	}
}

modify:
{
	match:
	{
		"targetname" "stage1_spawns"
	}
	insert:
	{
		"OnTrigger" "spawn*AddOutputangles 0 180 00-1"
	}
}

;Fix for missing sprite texture. No more console spam.
modify:
{
	match:
	{
		"classname" "env_sprite"
		"targetname" "nether_bossphysspr"
	}
	replace:
	{
		"model" "ennergy/minecraft/sprites/ender_eye.vmt"
	}
}

modify:
{
	match:
	{
		"classname" "env_sprite"
		"targetname" "end_bossphysspr"
	}
	replace:
	{
		"model" "ennergy/minecraft/sprites/ender_eye.vmt"
	}
}

;Areaportals completely transparent.
modify:
{
	match:
	{
		"classname" "func_areaportalwindow"
	}
	replace:
	{
		"TranslucencyLimit" "0"
	}
}

;Teleport angles.
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	replace:
	{
		"UseLandmarkAngles" "1"
	}
	insert:
	{
		"UseLandmarkAngles" "1"
	}
}

;Door not solid fix.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "castle_main_door"
	}
	replace:
	{
		"dmg" "999999"
		"spawnflags" "0"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}
