;Remove swastika attack...
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "skill_case"
	}
	delete:
	{
		"OnCase05" "skill_5_relayTrigger0-1"
		"OnCase07" "skill_6_relayTrigger0-1"
	}
	insert:
	{
		"OnCase05" "skill_6_relayTrigger0-1"
	}
}