;fix lightning not slowing zombies like in css
add:
{
	"classname" "logic_relay"
	"targetname" "Slowdown_Patch"
	"spawnflags" "2"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}){EntFireByHandle(self,v,(self.GetHealth()-1).tostring(),0.0,null,null);}0-1"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}){EntFireByHandle(self,v,(self.GetHealth()+1).tostring(),0.0,null,null);}0.1-1"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "lightning_hurt"
	}
	insert:
	{
		"OnHurtPlayer" "Slowdown_PatchTrigger0-1"
	}
}

;fix tp avoidance spot below bridge in first area
add:
{
	"classname" "trigger_teleport"
	"origin" "3304 -562.88 871.97"
	"model" "*221"
	"targetname" "1_teleport"
	"target" "first_teleport"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "1"
}

;block off delay spots
add:
{
	"classname" "func_brush"
	"origin" "-352 -9540 -8344"
	"angles" "0 90 0"
	"model" "*41"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "2096 -9540 -8392"
	"angles" "0 90 0"
	"model" "*41"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "2256 -9540 -8392"
	"angles" "0 90 0"
	"model" "*41"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "2152 -9540 -8552"
	"angles" "0 90 0"
	"model" "*41"
	"rendermode" "10"
}

;fix temp tp avoidance spot before boss
add:
{
	"classname" "trigger_teleport"
	"origin" "3488 -13408 -9312"
	"model" "*194"
	"targetname" "miss_teleport_boss_ct"
	"target" "TELEPORT_dest8"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "1"
}
add:
{
	"classname" "trigger_teleport"
	"origin" "2200 -13376 -9082"
	"model" "*110"
	"targetname" "8_teleport"
	"target" "teleport_dest8"
	"filtername" "filter_zombie"
	"StartDisabled" "1"
	"UseLandmarkAngles" "1"
	"spawnflags" "1"
}

;tp angles
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	insert:
	{
		"UseLandmarkAngles" "1"
	}
}

;fix game_player_equip dropping weapons and removing kevlar
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "14317.6 -6838.27 1094.19"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}

;Stripper by Detroid
;https://github.com/DetroidZE/csgo-cfgs/

;Change the ending of the map, initial blue lasers are now optional, final door is on a timer.
modify:
{
	match:
	{
		"targetname" "madara_HP_Counter"
		"hammerid" "424068"
	}
	delete:
	{
		"OnHitMin" "end_madaraEnable10-1"
		"OnHitMin" "end_madara_laser_casePickRandom12-1"
		"OnHitMin" "madara_end_Animation_CasePickRandom12-1"
		"OnHitMin" "end_madara_Laser_TimerEnable12-1"
		"OnHitMin" "final_particle_01Start2-1"
		"OnHitMin" "final_particle_01Stop151"
		"OnHitMin" "end_particle_madara2Start9-1"
		"OnHitMin" "flying_end_particleStart2-1"
		"OnHitMin" "flying_end_particleStop101"
		"OnHitMin" "ten_musicPlaySound1-1"
		"OnHitMin" "sharingan_soundPlaySound11.4-1"
		"OnHitMin" "nine_musicVolume001"
		"OnHitMin" "chosenPlaySound8.6-1"
		"OnHitMin" "part4_temple_push_tobossKill01"
	}
	insert:
	{
		"OnHitMin" "end_madaraEnable23-1"
		"OnHitMin" "end_madara_laser_casePickRandom25-1"
		"OnHitMin" "madara_end_Animation_CasePickRandom25-1"
		"OnHitMin" "end_madara_Laser_TimerEnable25-1"
		"OnHitMin" "final_particle_01Start15-1"
		"OnHitMin" "final_particle_01Stop281"
		"OnHitMin" "end_particle_madara2Start22-1"
		"OnHitMin" "flying_end_particleStart15-1"
		"OnHitMin" "flying_end_particleStop231"
		"OnHitMin" "ten_musicPlaySound14-1"
		"OnHitMin" "sharingan_soundPlaySound24.4-1"
		"OnHitMin" "nine_musicVolume0131"
		"OnHitMin" "chosenPlaySound21.6-1"
		"OnHitMin" "part4_temple_push_tobossKill151"
		"OnHitMin" "part4_temple_end_door01Open0-1"
		"OnHitMin" "part4_temple_end_door02Open0-1"
		"OnHitMin" "madara_BreakableBreak0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "part4_temple_END_trigger2"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "end_madara_laser_caseKill01"
		"OnStartTouch" "end_madara_Laser_TimerKill01"
		"OnStartTouch" "end_madaraKill51"
		"OnStartTouch" "madara_end_Animation_CaseKill01"
		"OnStartTouch" "end_madaraSetAnimationattack40.31"
		"OnStartTouch" "katon_soundPlaySound01"
		"OnStartTouch" "final_katonStart11"
		"OnStartTouch" "final_katonStop51"
		"OnStartTouch" "katon_hurtEnable1.41"
		"OnStartTouch" "katon_hurtDisable51"
		"OnStartTouch" "end_particle_madara2Stop01"
		"OnStartTouch" "ten_musicVolume081"
		"OnStartTouch" "part4_temple_end_door01Close71"
		"OnStartTouch" "part4_temple_end_door02Close71"
		"OnStartTouch" "cmdCommandsay >> Door will close soon ! <<01"
		"OnStartTouch" "FireSound_1PlaySound1.21"
		"OnStartTouch" "FireSound_1Kill4.71"
	}
	insert:
	{
		"OnStartTouch" "cmdCommandsay >> Someone has reached the end ! <<01"
		"OnStartTouch" "cmdCommandsay >> Final doors close in 40 seconds ! <<21"
		"OnStartTouch" "part4_temple_end_door01Close421"
		"OnStartTouch" "part4_temple_end_door02Close421"
		"OnStartTouch" "cmdCommandsay >> Madara is unleashing a FINAL ATTACK ! <<321"
		"OnStartTouch" "cmdCommandsay >> GET INSIDE QUICK ! <<331"
		"OnStartTouch" "end_madara_laser_caseKill351"
		"OnStartTouch" "end_madara_Laser_TimerKill351"
		"OnStartTouch" "end_madaraKill401"
		"OnStartTouch" "madara_end_Animation_CaseKill361"
		"OnStartTouch" "end_madaraSetAnimationattack436.31"
		"OnStartTouch" "katon_soundPlaySound361"
		"OnStartTouch" "final_katonStart371"
		"OnStartTouch" "final_katonStop401"
		"OnStartTouch" "katon_hurtEnable37.41"
		"OnStartTouch" "katon_hurtDisable401"
		"OnStartTouch" "end_particle_madara2Stop351"
		"OnStartTouch" "ten_musicVolume0431"
		"OnStartTouch" "FireSound_1PlaySound36.21"
		"OnStartTouch" "FireSound_1Kill39.71"
	}
}

filter:
{
	"targetname" "part4_temple_END_trigger"
}

modify:
{
	match:
	{
		"targetname" "CT_win"
	}
	replace:
	{
		"StartDisabled" "1"
	}
	delete:
	{
		"OnStartTouch" "final_nukeEnable91"
		"OnStartTouch" "victoryPlaySound61"
		"OnStartTouch" "score_endEnable91"
		"OnStartTouch" "cmdCommandsay >> Congratulation you won the map <<91"
	}
	insert:
	{
		"OnStartTouch" "final_nukeEnable41"
		"OnStartTouch" "victoryPlaySound11"
		"OnStartTouch" "score_endEnable41"
		"OnStartTouch" "cmdCommandsay >> Congratulations! You won the map! <<41"
	}
}

;Add push at end gap so people don't backpedal to their death
add:
{
	"classname" "trigger_push"
	"targetname" "end_push"
	"StartDisabled" "0"
	"speed" "200"
	"origin" "-7660 -10555 11673"
	"filtername" "filter_human"
	"spawnflags" "1"
	"pushdir" "0 -90 0"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "end_pushAddOutputsolid 20.51"
		"OnMapSpawn" "end_pushAddOutputmins -360 -70 -20011"
		"OnMapSpawn" "end_pushAddOutputmaxs 360 70 20011"
		"OnMapSpawn" "cmdCommandsay >>> Ending has been modified <<<6-1"
	}
}

;Remove low gravity push on the triggers
filter:
{
	"targetname" "Henry_push2"
}

filter:
{
	"targetname" "henry_push"
}

;Filter broken particle spamming clients' console
filter:
{
	"hammerid" "339368"
	"classname" "info_particle_system"
}

filter:
{
	"hammerid" "486614"
	"classname" "info_particle_system"
}

;Fix Boss ultima sometimes not cancelling other attacks
modify:
{
	match:
	{
		"targetname" "Boss_Attack_Ultima"
		"hammerid" "339438"
	}
	delete:
	{
		"OnCase01" "CMDCommandsay >> Madara has casted ultima <<0.21"
		"OnCase01" "Boss_Attack_TimerDisable0-1"
	}
	insert:
	{
		"OnCase01" "amateratsu_hurtDisable0.21-1"
		"OnCase01" "side_hurtDisable0.21-1"
		"OnCase01" "Madara_boss_fireDisable0.21-1"
		"OnCase01" "Madara_boss_gravity_pushDisable0.21-1"
		"OnCase01" "Madara_boss_freeze_hurtDisable0.21-1"
		"OnCase01" "CMDCommandsay >> Madara has casted ultima <<0-1"
		"OnCase01" "Boss_Attack_TimerDisable0-1"
	}
}

;Fix scuffed human ultima
modify:
{
	match:
	{
		"targetname" "killer_filter"
		"hammerid" "486308"
	}
	delete:
	{
		"OnPass" "killer_hurtKill20.2-1"
	}
	insert:
	{
		"OnPass" "killer_hurtKill20.3-1"
	}
}

modify:
{
	match:
	{
		"targetname" "killer_hurt"
		"hammerid" "486310"
	}
	replace:
	{
		"damagecap" "999999"
		"damage" "999999"
	}
}