; Tonemap
add:
{
	"targetname" "CUSTOM_TONEMAP"
	"classname" "env_tonemap_controller"
}

; Logic Auto
modify:
{
    match:
    {
		"hammerid" "984"
		"classname" "logic_auto"
    }
	insert:
	{
		"OnMapSpawn" "CUSTOM_TONEMAP,SetBloomScale,0,0,-1"
	}
}
