;block off a pixelwalk
add:
{
	"classname" "func_brush"
	"origin" "3424 3520 192"
	"model" "*90"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "3424 4544 192"
	"model" "*90"
	"rendermode" "10"
}

;workaround for missing buyzone
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandmp_buy_anywhere 10-1"
		"OnMapSpawn" "cmdCommandmp_buy_anywhere 020-1"
	}
}

; Fix sphere particle not starting
modify:
{
	match:
	{
		"targetname" "pushtoboss"
		"classname" "trigger_push"
	}
	insert:
	{
		"OnStartTouch" "end_sphere_particleStart0.61"
	}
}

; Fix attack on boss
modify:
{
	match:
	{
		"targetname" "boss_rotating_laser_hurt2"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"origin" "3576 -3072 -878"
	}
}

; Fix crouch lasers
modify:
{
	match:
	{
		"targetname" "laser_maker_crouch"
		"classname" "env_entity_maker"
	}
	replace:
	{
		"origin" "-10784 4544 376"
	}
}

modify:
{
	match:
	{
		"targetname" "final_laser_maker3"
		"classname" "env_entity_maker"
	}
	replace:
	{
		"origin" "-9344 4544 378"
	}
}

; Fix zombie attack on bossfight
modify:
{
	match:
	{
		"targetname" "boss_choose_attacks_case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase03" "boss_zm_attack_end_trigger_teleEnable7.99-1"
		"OnCase03" "boss_zm_attack_end_trigger_teleDisable8-1"
	}
	insert:
	{
		"OnCase03" "boss_zm_attack_end_trigger_teleEnable7.98-1"
		"OnCase03" "boss_zm_attack_end_trigger_teleDisable8.02-1"
	}
}
