;remove particle with unpacked texture to stop console spam
filter:
{
	"targetname" "LightingStrikeParticle"
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-7408 1260 556"
	}
	delete:
	{
		"OnStartTouch" "LightingStrikeParticleStart251"
		"OnStartTouch" "LightingStrikeParticleStop301"
	}
}