;Fix 2nd wave's particles not showing on level 6 bridge that kraken knocks down
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "lvl_god_kraken_cesta"
	}
	delete:
	{
		"OnTrigger" "kraken_particl_wave_cestaStop3.81"
	}
	insert:
	{
		"OnTrigger" "kraken_particl_wave_cesta,DestroyImmediately,,4,1"
	}
}

;(hopefully) prevent zombies from getting locked in a TP loop as badly by lowering info_teleport_destination (to try and lower in air kb) and making trigger_teleport reset velocity (probably only need 1 of these changes, not both)
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "teleport_lvl5_2_voda"
		"origin" "9098 14698 -930"
	}
	replace:
	{
		"origin" "9098 14698 -935"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "teleport_lvl5_cestaukrakena"
	}
	insert:
	{
		"OnStartTouch" "!activatorRunScriptCodeself.SetVelocity(Vector(0,0,0));0-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "6578 14653 -1184"
	}
	insert:
	{
		"OnStartTouch" "!activatorRunScriptCodeself.SetVelocity(Vector(0,0,0));0-1"
	}
}

;patch out of map spot
add:
{
	"classname" "func_brush"
	"origin" "9759.5 12129.9 -1654"
	"angles" "0 0 90"
	"model" "*81"
	"rendermode" "10"
}

; Spin fix
;requires https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/PushBack.nut
modify:
{
	match:
	{
		"classname" "weapon_knife"
		"targetname" "zombie_barbossat_knife"
	}
	insert:
	{
		"OnPlayerPickup" "zm_barbossa_hitbox,RunScriptCode,LoadActivatorAsEnemyTarget();,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "zm_barbossa_hitbox"
	}
	insert:
	{
		"vscripts" "gfl/PushBack.nut"
		"OnHealthChanged" "!self,RunScriptCode,FuckTheEnemyUp(101);,0,-1"
	}
}

filter:
{
	"targetname" "zombie_barbossa_leva"
	"classname" "trigger_push"
}

filter:
{
	"targetname" "zombie_barbossa_zadek"
	"classname" "trigger_push"
}

filter:
{
	"targetname" "zombie_barbossa_predek"
	"classname" "trigger_push"
}

filter:
{
	"targetname" "zombie_barbossa_prava"
	"classname" "trigger_push"
}

;Fix particles thingy thingy
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "kraken_utok2"
	}
	delete:
	{
		"OnTrigger" "kraken_particl_vortexStop4.25-1"
	}
	insert:
	{
		"OnTrigger" "kraken_particl_vortexDestroyImmediately4.25-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "kraken_utok4"
	}
	delete:
	{
		"OnTrigger" "kraken3_particlStop4.5-1"
	}
	insert:
	{
		"OnTrigger" "kraken3_particlDestroyImmediately4.5-1"
	}
}

;Removes hashtags. Nobody likes hipsters. This caused issues with our !stopmusic plugin and likely caused issues controlling music through CS:GO's own UI.
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "akce_pevnost"
	}
	replace:
	{
		"message" "music/pirates/pevnost.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "boss_sound_dead"
	}
	replace:
	{
		"message" "music/pirates/Moonlight_Serenade.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "boss_sound_shoot"
	}
	replace:
	{
		"message" "music/pirates/Pirates_Cave!.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "Drevo_sound"
	}
	replace:
	{
		"message" "music/pirates/drevo.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "konec_perla"
	}
	replace:
	{
		"message" "music/pirates/konec1.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "konec3"
	}
	replace:
	{
		"message" "music/pirates/konec3.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl4_1"
	}
	replace:
	{
		"message" "music/pirates/TSFH_After_Fall_4_1.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl4_2"
	}
	replace:
	{
		"message" "music/pirates/TSFH_Ironheart_4_2.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl4_3"
	}
	replace:
	{
		"message" "music/pirates/TSFH_Fire Nation_4_3.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl4_4"
	}
	replace:
	{
		"message" "music/pirates/TSFH_ Love_Loss_4_4.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl5_1"
	}
	replace:
	{
		"message" "music/pirates/Immediate_Music_Rising_Empire_5_1.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl5_2"
	}
	replace:
	{
		"message" "music/pirates/TSFH_Master_Shadows_5_2.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl5_3_kraken"
	}
	replace:
	{
		"message" "music/pirates/TSFH_Wrath_of_Sea.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl5_4"
	}
	replace:
	{
		"message" "music/pirates/TSFH_Magika_5_4.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "lvl5_5"
	}
	replace:
	{
		"message" "music/pirates/TSFH_Victory.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "mapa2_boss_attack"
	}
	replace:
	{
		"message" "music/pirates/attack_boss2.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "mapa2_hudba1"
	}
	replace:
	{
		"message" "music/pirates/Dead_Man.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "mapa2_hudba2"
	}
	replace:
	{
		"message" "music/pirates/Way_Direction.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "sound_win_pirates"
	}
	replace:
	{
		"message" "music/pirates/win_pira.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "sud_vybuch_sound"
	}
	replace:
	{
		"message" "music/pirates/boss/explode5.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "sud_vybuch_sound2"
	}
	replace:
	{
		"message" "music/pirates/boss/explode5.mp3"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "zacatek_mp3"
	}
	replace:
	{
		"message" "music/pirates/startpisen.mp3"
	}
}

;Pushfix.smx test here. / Less lag
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "buble_push"
	}
	delete:
	{
		"parentname" "buble_stred"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "speed_buble"
	}
	delete:
	{
		"parentname" "buble_stred"
	}
}

modify:
{
	match:
	{
		"classname" "env_entity_maker"
		"targetname" "buble_bubl_spawner"
	}
	insert:
	{
		"OnEntitySpawned" "speed_buble,Kill,,6,-1"
	}
}

;Fixes painfully long and laggy respawn for first level.
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "jack_vezeni_path13"
	}
	insert:
	{
		"OnPass" "anti_respawn,Enable,,59,1"
	}
}

;Less lag, less bully.
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "port_podvodopadem"
	}
	replace:
	{
		"origin" "9564 11936 -1744"
	}
}

;player_speedmod replacements.
add:
{
	"classname" "logic_relay"
	"targetname" "Slowdown_Patch"
	"spawnflags" "2"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() - 1).tostring(), 0.0, null, null); }0-1"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() + 1).tostring(), 0.0, null, null); }0.1-1"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "sudy_zapalny_trigger"
	}
	delete:
	{
		"OnStartTouch" "speedmodeModifySpeed0.70-1"
		"OnStartTouch" "speedmodeModifySpeed19-1"
	}
	insert:
	{
		"OnStartTouch" "Slowdown_Patch,Trigger,,0,-1"
		"OnStartTouch" "Slowdown_Patch,Trigger,,2,-1"
		"OnStartTouch" "Slowdown_Patch,Trigger,,4,-1"
		"OnStartTouch" "Slowdown_Patch,Trigger,,6,-1"
		"OnStartTouch" "Slowdown_Patch,Trigger,,8,-1"
	}
}

;No parented trigger firing every tick.
modify:
{
	match:
	{
		"classname" "env_entity_maker"
		"targetname" "sud_sudu_spawner"
	}
	insert:
	{
		"OnEntitySpawned" "sudy_zapalny_trigger,ClearParent,,4,-1"
	}
}

;Less obnoxious pushes making the map overly hard than it already is.
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "utok2_push"
		"speed" "140"
	}
	replace:
	{
		"speed" "130"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "utok2_push"
		"speed" "150"
	}
	replace:
	{
		"speed" "140"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "utok2_push_god"
		"speed" "160"
	}
	replace:
	{
		"speed" "150"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "utok2_push_god"
		"speed" "150"
	}
	replace:
	{
		"speed" "140"
	}
}

;Fix cellar delay spot on stage 4-6 (thx to Sausage Clicker)
add:
{
	"UseLandmarkAngles" "1"
	"targetname" "teleport_mapa2_1"
	"target" "port_mapa2"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-4672 13377 -1148.5"
	"CheckDestIfClearForPlayer" "0"
	"classname" "trigger_teleport"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "teleport_mapa2_1,AddOutput,solid 2,0.5,1"
		"OnMapSpawn" "teleport_mapa2_1,AddOutput,mins -64 -63 -183.5,1,1"
		"OnMapSpawn" "teleport_mapa2_1,AddOutput,maxs 64 63 183.5,1,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"hammerid" "4272"
	}
	insert:
	{
		"OnPressed" "teleport_mapa2_1,Enable,,50,-1"
	}
}