;Fix misleading game_text when the item is picked up... why is this not fixed still *insert angry comment to crobat*
modify:
{
	match:
	{
		"targetname" "water_text"
		"classname" "game_text"
	}
	replace:
	{
		"message" "Buizel: Slow zombies inside the area for 6 seconds CD:80 Secs"
	}
}

modify:
{
	match:
	{
		"targetname" "wall_text"
		"classname" "game_text"
	}
	replace:
	{
		"message" "Gardevoir: Creates a wall infront of the user CD:60 Secs"
	}
}
