;fix missing buy zones
modify:
{
	match:
	{
		"origin" "80 -64 1120"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "command,Command,mp_buy_anywhere 1,0,-1"
		"OnMapSpawn" "command,Command,mp_buy_anywhere 0,15,-1"
	}
}

;Teleport zms who get hit by beams on end of stage 5, this fixes the server lag caused by zms respawning
modify:
{
	match:
	{
		"targetname" "3_final_beam_hurt"
		"classname" "trigger_hurt"
	}
	replace:
	{
		"damage" "500"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputorigin 10967 3577 5390-1"
	}
}

;Add time limit for ex1 ending laser boss
add:
{
	"targetname" "misaka_ex1_add_hurt"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "-2560 -6588 -480"
	"nodmgforce" "0"
	"filtername" "human"
	"damagetype" "1"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "99999999"
	"classname" "trigger_hurt"
}
modify:
{
	match:
	{
		"targetname" "trigger12"
		"classname" "trigger_once"
		"origin" "-2560 -6592 -528"
	}
	insert:
	{
		"OnStartTouch" "misaka_ex1_add_hurtAddoutputsolid 201"
		"OnStartTouch" "misaka_ex1_add_hurtAddoutputmins -480 -480 -48001"
		"OnStartTouch" "misaka_ex1_add_hurtAddoutputmaxs 480 480 48001"
	}
}
modify:
{
	match:
	{
		"targetname" "ex1_final_boss_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay ## Dr.X will kill us in 40 seconds!!! ##01"
		"OnTrigger" "misaka_ex1_add_hurtEnable401"
	}
}
modify:
{
	match:
	{
		"targetname" "ex1_win_trigger"
		"classname" "trigger_multiple"
		"origin" "-2560 -6592 -480"
	}
	insert:
	{
		"OnStartTouch" "misaka_ex1_add_hurtKill01"
	}
}

;Nerf extreme 1 final boss HP
modify:
{
	match:
	{
		"targetname" "ex1_final_boss_hp_add_multiple"
		"classname" "trigger_multiple"
		"origin" "-2560 -6592 -512"
	}
	delete:
	{
		"OnStartTouch" "ex1_final_boss_hpAdd1000-1"
	}
	insert:
	{
		"OnStartTouch" "ex1_final_boss_hpAdd800-1"
	}
}

;Nerf ultimate fire damage in lvl3
modify:
{
	match:
	{
		"targetname" "3_boss_skill_hurt"
		"classname" "trigger_hurt"
		"origin" "-4864 10240 352"
	}
	replace:
	{
		"damage" "10"
	}
}

;Spawn all items for ex2 and lvl3
modify:
{
	match:
	{
		"targetname" "ex2_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "item_hm_counterSetHitMax40-1"
	}
}
modify:
{
	match:
	{
		"targetname" "3_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "item_hm_counterSetHitMax40-1"
	}
}

;Zombie Infection item is disabled after Holy is Used
modify:
{
	match:
	{
		"targetname" "item_holy_sword_button"
		"classname" "func_button"
		"origin" "11626 -384 16"
	}
	insert:
	{
		"OnUser1" "item_ztinfect_effectKill151"
		"OnUser1" "item_ztinfect_effect_particleKill151"
	}
}

;Fix boss attacks not being killed properly in lvl3
modify:
{
	match:
	{
		"targetname" "3_boss_dead_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "lavaClose01"
		"OnTrigger" "3_boss_skill1_relayCancelPending01"
	}
}

;Fix aurora veil bug damage in lvl3
modify:
{
	match:
	{
		"targetname" "3_boss_skill3_hurt"
		"classname" "trigger_hurt"
		"origin" "-5312 11328 296"
	}
	insert:
	{
		"OnHurtPlayer" "!activatorSetDamageFilterbugdamage0-1"
		"OnHurtPlayer" "!activatorSetDamageFilternfd0.5-1"
	}
}

;Fix solid crystal bug during lvl3 boss fight
modify:
{
	match:
	{
		"targetname" "3_boss_skill_normal_b_b"
		"classname" "func_movelinear"
		"origin" "-5184 9920 256.5"
	}
	replace:
	{
		"spawnflags" "8"
	}
}
modify:
{
	match:
	{
		"targetname" "3_boss_skill_normal_p_b"
		"classname" "func_movelinear"
		"origin" "-4544 9920 256.5"
	}
	replace:
	{
		"spawnflags" "8"
	}
}

;Remove C4 in so zombies wont trigger in ex2
modify:
{
	match:
	{
		"targetname" "ex2_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "2_c4*Kill01"
	}
}