;Faster teleports.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-601.5 -3312.5 902"
	}
	insert:
	{
		"OnStartTouch" "tp1,Enable,,15,1"
	}
}

;Did the above fail? Really? Are zombies that poor...?
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-5 -3675 564"
	}
	insert:
	{
		"OnStartTouch" "tp1,Enable,,45,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "55.78 -8700.1 943"
	}
	insert:
	{
		"OnPressed" "tp1,Enable,,0,1"
		"OnPressed" "tp2,Enable,,60,1"
	}
}

;Less dragful ending.
add:
{
	"classname" "logic_timer"
	"targetname" "ZMHP"
	"StartDisabled" "1"
	"spawnflags" "0"
	"RefireTime" "5"
	"OnTimer" "player,AddOutput,health 250,0,-1"
}

modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "train"
	}
	insert:
	{
		"OnFullyOpen" "ZMHP,Enable,,0,1"
	}
}

;Sticky door fixes.
modify:
{
	match:
	{
		"ignoredebris" "1"
	}
	replace:
	{
		"ignoredebris" "0"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}

;Sticky spawn fix.
modify:
{
	match:
	{
		"classname" "info_player_terrorist"
		"origin" "453 -136 -143"
	}
	replace:
	{
		"origin" "0 -136 -168"
	}
}

;Additional effect.
modify:
{
	match:
	{
		"classname" "env_sprite"
		"targetname" "spr_fin"
	}
	replace:
	{
		"renderfx" "17"
	}
}