;Multiple nuke free / annoyances areas.
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "21574"
	}
	insert:
	{
		"OnMapSpawn" "HurtZone,TurnOn,,0,-1"
	}
}

add:
{
	"classname" "trigger_hurt"
	"targetname" "nuke_hurt"
	"model" "*67"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-1024 5440 496"
	"nodmgforce" "0"
	"damagetype" "64"
	"damagemodel" "0"
	"damagecap" "4000"
	"damage" "10000000"
}

add:
{
	"classname" "point_hurt"
	"Damage" "999999"
	"DamageDelay" "1"
	"DamageRadius" "1280"
	"DamageType" "0"
	"targetname" "HurtZone"
	"origin" "-2672 5760 448"
}

add:
{
	"classname" "point_hurt"
	"Damage" "128"
	"DamageDelay" "1"
	"DamageRadius" "80"
	"DamageType" "0"
	"targetname" "HurtZone"
	"origin" "-168 7166 526"
}

add:
{
	"classname" "point_hurt"
	"Damage" "128"
	"DamageDelay" "1"
	"DamageRadius" "80"
	"DamageType" "0"
	"targetname" "HurtZone"
	"origin" "-166 7680 526"
}

;Buyzone fix. Late players can buy on any buyzone.
modify:
{
	match:
	{
		"classname" "func_buyzone"
	}
	replace:
	{
		"TeamNum" "0"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}

;Prevent players on fence at end.
add:
{
	"model" "*10"
	"classname" "trigger_push"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "66 11446 312"
	"alternateticksfix" "0"
}

add:
{
	"model" "*10"
	"classname" "trigger_push"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "66 11342 312"
	"alternateticksfix" "0"
}

add:
{
	"model" "*10"
	"classname" "trigger_push"
	"StartDisabled" "0"
	"speed" "300"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "66 11246 312"
	"alternateticksfix" "0"
}

;Players cannot delay in an area...
add:
{
	"classname" "info_teleport_destination"
	"targetname" "tele_final"
	"angles" "0 90 0"
	"origin" "-768 6368 464"
}

add:
{
	"classname" "info_teleport_destination"
	"targetname" "tele_final"
	"angles" "0 90 0"
	"origin" "-480 7240 488"
}