; What it does:
;	- Extends round time so that CTs don't usually just win by time running out
;	- Locks secret car buttons until after the nuke
;	- Disable the artillery button to humans until post nuke, since they use it to troll teammates and it doesn't do enough damage to kill zombies till post-nuke.
;	- Make is so that players cannot block the artillery ladder by rotating the gun on top of it, as well as make the rotating unblockable
;	- Block cheesy van camping spot at end of the tunnel
;	- Make it so players cannot camp bunkers

;Locks secret car buttons until after the nuke since you cannot use cars until that time anyways
modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "2820 -1703 -430"
	}
	replace:
	{
		"spawnflags" "3073"
	}
	insert:
	{
		"targetname" "secret_car_button"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "2524 631 -430"
	}
	replace:
	{
		"spawnflags" "3073"
	}
	insert:
	{
		"targetname" "secret_car_button"
	}
}

;Disable the artillery button to humans until post nuke, since they use it to troll teammates and it doesn't do enough damage to kill zombies till post-nuke.
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "mortar_button"
	}
	delete:
	{
		"OnPressed" "mortar_uiActivate0-1"
	}
	replace:
	{
		"spawnflags" "17409"
	}
	insert:
	{
		"OnPressed" "Zombie_Button,TestActivator,,0,-1"
	}
}

add:
{
	"classname" "filter_activator_team"
	"filterteam" "2"
	"Negated" "Allow entities that match criteria"
	"targetname" "Zombie_Button"
	"origin" "2488 -488 -488"
	"OnPass" "mortar_ui,Activate,,0,-1"
}

add:
{
	"model" "*76"
	"classname" "func_button"
	"disablereceiveshadows" "1"
	"fademindist" "-1"
	"fadescale" "1"
	"health" "0"
	"lip" "0"
	"locked_sentence" "0"
	"locked_sound" "0"
	"min_use_angle" "0.8"
	"movedir" "0 0 0"
	"origin" "320.53 -3331.04 11.5"
	"renderamt" "255"
	"rendercolor" "255 255 255"
	"renderfx" "0"
	"rendermode" "0"
	"sounds" "0"
	"spawnflags" "19457"
	"speed" "0"
	"targetname" "mortar_button2"
	"unlocked_sentence" "0"
	"unlocked_sound" "0"
	"wait" "3"
	"OnPressed" "mortar_ui,Activate,,0,-1"
}

;Make is so that players cannot block the artillery ladder by rotating the gun on top of it, as well as make the rotating unblockable
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "flak88_01_barrel"
	}
	replace:
	{
		"spawnflags" "4108"
	}
}

modify:
{
	match:
	{
		"classname" "func_rotating"
		"targetname" "flak88_01_barrel_end_smoketrail_carrier"
	}
	replace:
	{
		"spawnflags" "70"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "flak88_01_barrel_mount"
	}
	replace:
	{
		"spawnflags" "16385"
	}
}

modify:
{
	match:
	{
		"classname" "func_rotating"
		"targetname" "flak88_01_elevators"
	}
	replace:
	{
		"dmg" "99999"
	}
}

modify:
{
	match:
	{
		"classname" "func_rotating"
		"targetname" "flak88_01_base"
	}
	replace:
	{
		"dmg" "99999"
	}
}

;Block cheesy van camping spot at end of the tunnel
add:
{
	"classname" "func_brush"
	"origin" "2841.99 -14143 -980"
	"angles" "0 90 0"
	"model" "*102"
	"rendermode" "10"
}

; Make it so players cannot camp bunkers
add:
{
	"targetname" "bunker_nuke1"
	"classname" "trigger_hurt"
	"damage" "200"
	"damagecap" "200"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "1536 -3264 -704"
	"spawnflags" "1"
	"StartDisabled" "1"
}

add:
{
	"targetname" "bunker_nuke2"
	"classname" "trigger_hurt"
	"damage" "200"
	"damagecap" "200"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "1628 -3364 -564"
	"spawnflags" "1"
	"StartDisabled" "1"
}

add:
{
	"targetname" "bunker_nuke3"
	"classname" "trigger_hurt"
	"damage" "200"
	"damagecap" "200"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "1668 -3288 -424"
	"spawnflags" "1"
	"StartDisabled" "1"
}

add:
{
	"targetname" "bunker_nuke4"
	"classname" "trigger_hurt"
	"damage" "200"
	"damagecap" "200"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "1976 -4736 -684"
	"spawnflags" "1"
	"StartDisabled" "1"
}

add:
{
	"targetname" "bunker_nuke5"
	"classname" "trigger_hurt"
	"damage" "200"
	"damagecap" "200"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "2320 -4720 -572"
	"spawnflags" "1"
	"StartDisabled" "1"
}

add:
{
	"targetname" "bunker_nuke6"
	"classname" "trigger_hurt"
	"damage" "200"
	"damagecap" "200"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "2316 -13720 -960"
	"spawnflags" "1"
	"StartDisabled" "1"
}

;Add new round start sequences
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "15483"
	}
	delete:
	{
		"OnMapSpawn" "point_servercommandCommandmp_roundtime 50-1"
	}
	insert:
	{
		"OnMapSpawn" "point_servercommand,Command,mp_roundtime 6,0,-1"
		"OnMapSpawn" "bunker_nuke1,AddOutput,solid 2,0.01,-1"
		"OnMapSpawn" "bunker_nuke1,AddOutput,mins -192 -192 -64,0.05,-1"
		"OnMapSpawn" "bunker_nuke1,AddOutput,maxs 192 192 64,0.05,-1"
		"OnMapSpawn" "bunker_nuke2,AddOutput,solid 2,0.01,-1"
		"OnMapSpawn" "bunker_nuke2,AddOutput,mins -28 -28 -76,0.05,-1"
		"OnMapSpawn" "bunker_nuke2,AddOutput,maxs 28 28 76,0.05,-1"
		"OnMapSpawn" "bunker_nuke3,AddOutput,solid 2,0.01,-1"
		"OnMapSpawn" "bunker_nuke3,AddOutput,mins -76 -112 -64,0.05,-1"
		"OnMapSpawn" "bunker_nuke3,AddOutput,maxs 76 112 64,0.05,-1"
		"OnMapSpawn" "bunker_nuke4,AddOutput,solid 2,0.01,-1"
		"OnMapSpawn" "bunker_nuke4,AddOutput,mins -184 -192 -84,0.05,-1"
		"OnMapSpawn" "bunker_nuke4,AddOutput,maxs 184 192 84,0.05,-1"
		"OnMapSpawn" "bunker_nuke5,AddOutput,solid 2,0.01,-1"
		"OnMapSpawn" "bunker_nuke5,AddOutput,mins -160 -48 -196,0.05,-1"
		"OnMapSpawn" "bunker_nuke5,AddOutput,maxs 160 48 196,0.05,-1"
		"OnMapSpawn" "bunker_nuke6,AddOutput,solid 2,0.01,-1"
		"OnMapSpawn" "bunker_nuke6,AddOutput,mins -244 -184 -64,0.05,-1"
		"OnMapSpawn" "bunker_nuke6,AddOutput,maxs 244 184 64,0.05,-1"
		"OnMapSpawn" "bunker_nuke*,AddOutput,targetname bunker_nuke,0.1,-1"
	}
}

;Add new post-nuke sequences
modify:
{
	match:
	{
		"targetname" "nuke_sequence"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "secret_car_button,Unlock,,49,1"
		"OnTrigger" "mortar_button,Kill,,50,1"
		"OnTrigger" "mortar_button2,Unlock,,51,1"
		"OnTrigger" "mortar_ui,Deactivate,,52,-1"
		"OnTrigger" "point_servercommand,Command,say *** Players have 60 seconds to leave the bunker areas ***,58,1"
		"OnTrigger" "point_servercommand,Command,say *** Players camping bunkers will die in 10 seconds ***,108,1"
		"OnTrigger" "point_servercommandCommandsay *** Bunkers have become contaminated, do not enter them ***1191"
		"OnTrigger" "bunker_nuke,Enable,,118,1"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}
