;no pixel surf
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/de_nuke/crate_extrasmall.mdl"
	"angles" "9.22862 180 0"
	"origin" "-6673.7 -4584.46 988"
	"renderfx" "0"
	"rendermode" "10"	
	"solid" "6"
	"spawnflags" "0"
}

add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/de_nuke/crate_extrasmall.mdl"
	"angles" "9.22862 180 0"
	"origin" "-6673.88 -4636.74 988"
	"renderfx" "0"
	"rendermode" "10"	
	"solid" "6"
	"spawnflags" "0"
}

add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/de_nuke/crate_extrasmall.mdl"
	"angles" "9.22862 180 0"
	"origin" "-6673.7 -4120 988"
	"renderfx" "0"
	"rendermode" "10"	
	"solid" "6"
	"spawnflags" "0"
}

add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/de_nuke/crate_extrasmall.mdl"
	"angles" "9.22862 180 0"
	"origin" "-6673.89 -4065.6 988"
	"renderfx" "0"
	"rendermode" "10"	
	"solid" "6"
	"spawnflags" "0"
}