;fix blockable doors
modify:
{
	match:
	{
		"classname" "func_movelinear"
	}
	replace:
	{
		"blockdamage" "99999"
	}
}

;Add timer for stage 2 ending
modify:
{
	match:
	{
		"targetname" "2fendry"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "scr_secRunScriptCodecdtimer(60,0)441"
	}
}

;fix stage4 boss fight music bug
modify:
{
	match:
	{
		"hammerid" "3742974"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "am*Kill0-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "390017"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "b1relay-1Trigger111-1"
	}
	insert:
	{
		"OnStartTouch" "b1relayTrigger111-1"
	}
}