;remove trigger_push "Correctly account for object mass" spawnflag that breaks push strength when zms knife inside/around the trigger
modify:
{
	match:
	{
		"classname" "trigger_push"
	}
	replace:
	{
		"spawnflags" "1"
	}
}