;Couch minigame: Close the shutter once the box behind it has been broken by the couch, this is intended, the output was somehow lost throughout the port to CS:GO
modify:
{
    match:
    {
        "classname" "func_physbox"
        "targetname" "Couch_Block6"
    }
    insert:
    {
        "OnBreak" "Couch_Door,Close,,4,1"
    }
}