;Fixes up sticky teleports.
add:
{
	"classname" "logic_relay"
	"spawnflags" "1"
	"OnSpawn" "info_teleport_destinationRunScriptCodeself.SetOrigin(self.GetOrigin() + Vector(0, 0, 8));2-1"
}

;Zombies can't kill themselves easily.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "172 -11840 -396"
	}
	replace:
	{
		"damage" "5000"
	}
	insert:
	{
		"OnHurtPlayer" "!activator,AddOutput,origin 0 -12416 0,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "-172 -11840 -396"
	}
	replace:
	{
		"damage" "5000"
	}
	insert:
	{
		"OnHurtPlayer" "!activator,AddOutput,origin 0 -12416 0,0,-1"
	}
}

;Stacked music is too loud. Messes with stopmusic as well.
filter:
{
	"classname" "ambient_generic"
	"hammerid" "733645"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733654"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733666"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733684"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733687"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733699"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733708"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733723"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "733726"
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}