;Blocks off a lame spot that CT's can get to and delay the round.
add:
{
	"model" "*27"
	"speed" "1000"
	"spawnflags" "1"
	"pushdir" "0 90 0"
	"origin" "-5620 -1872 -3469.75"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"model" "*27"
	"speed" "1000"
	"spawnflags" "1"
	"pushdir" "0 90 0"
	"origin" "-5620 -1808 -3469.75"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

;People delaying... again. Lame spots.
add:
{
	"targetname" "HurtZones"
	"Damage" "80"
	"DamageDelay" "1"
	"DamageRadius" "80"
	"DamageType" "0"
	"classname" "point_hurt"
	"origin" "-5952 -1392 -3216"
}

add:
{
	"targetname" "HurtZones"
	"Damage" "80"
	"DamageDelay" "1"
	"DamageRadius" "80"
	"DamageType" "0"
	"classname" "point_hurt"
	"origin" "-5952 -784 -3216"
}

add:
{
	"targetname" "HurtZones"
	"Damage" "80"
	"DamageDelay" "1"
	"DamageRadius" "80"
	"DamageType" "0"
	"classname" "point_hurt"
	"origin" "-5952 -384 -3216"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
		"origin" "-7052.23 1384 -3016"
	}
	insert:
	{
		"OnMapSpawn" "HurtZones,TurnOn,,0,-1"
	}
}

;Prevents crusher from reopening immediately on death.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "hydraulic_door"
	}
	replace:
	{
		"forceclosed" "1"
	}
}

;More blockage where CT's shouldn't be... taunting  zombies.
add:
{
	"targetname" "GoAwayNotHere"
	"model" "*28"
	"StartDisabled" "0"
	"speed" "1024"
	"spawnflags" "1"
	"pushdir" "0 0 0"
	"origin" "-6960 1076 -2960"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"targetname" "GoAwayNotHere"
	"model" "*28"
	"StartDisabled" "0"
	"speed" "1024"
	"spawnflags" "1"
	"pushdir" "0 0 0"
	"origin" "-6960 788 -2960"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"targetname" "GoAwayNotHere"
	"model" "*28"
	"StartDisabled" "0"
	"speed" "1024"
	"spawnflags" "1"
	"pushdir" "0 0 0"
	"origin" "-6960 500 -2960"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"targetname" "GoAwayNotHere"
	"model" "*28"
	"StartDisabled" "0"
	"speed" "1024"
	"spawnflags" "1"
	"pushdir" "0 0 0"
	"origin" "-6960 212 -2960"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

add:
{
	"targetname" "GoAwayNotHere"
	"model" "*28"
	"StartDisabled" "0"
	"speed" "1024"
	"spawnflags" "1"
	"pushdir" "0 0 0"
	"origin" "-6960 12 -2960"
	"alternateticksfix" "0"
	"classname" "trigger_push"
}

;Clip.
add:
{
	"classname" "prop_dynamic"
	"targetname" "boostclip"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "-5656 672 -2982"
	"model" "models/props/de_dust/hr_dust/dust_fences/dust_chainlink_fence_001_256_links.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
}

add:
{
	"classname" "prop_dynamic"
	"targetname" "boostclip"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "-5025.43 1136.97 -2281.73"
	"model" "models/props/cs_militia/silo_01.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
	"angles" "0 270 0"
}

add:
{
	"classname" "prop_dynamic"
	"targetname" "boostclip"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "-5436 -218.651 -2852"
	"model" "models/props/cs_office/rolling_gate.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
	"angles" "0 270 0"
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}