;Remove minigame stage
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "aaa_escape_plat_path6"
	}
	delete:
	{
		"OnUser2" "level_systemRunScriptCodelevel = 301"
	}
	insert:
	{
		"OnUser2" "server_commands,Command,say MINIGAME STAGE REMOVED,0,-1"
	}
}

;final neco arc wasn't filtered and could kill zombies
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "neco_arc_final_hurt"
	}
	insert:
	{
		"filtername" "Filter_CT"
	}
}

;extra butt plug item on extreme
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "aaa_bowl_boss_plat_break"
	}
	insert:
	{
		"OnBreak" "butt_plug_item_temp,AddOutPut,origin 1824 -7664 -13296,0,-1"
		"OnBreak" "butt_plug_item_temp,ForceSpawn,,1,-1"
	}
}

;added tp on level 2 because players could get stuck
add:
{
	"classname" "trigger_teleport"
	"model" "*182"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"origin" "112 -5152 -13040"
	"target" "aaa_tp_dest"
	"UseLandmarkAngles" "1"
}

;Enable round end event listener
modify:
{
	match:
	{
		"classname" "logic_eventlistener"
		"targetname" "round_end_listener"
	}
	insert:
	{
		"IsEnabled" "1"
	}
}