;stop people from getting on a lamp to boost out of map
add:
{
	"classname" "trigger_multiple"
	"targetname" "LampTP"
	"origin" "1324 1648 460.5"
	"spawnflags" "1"
	"StartDisabled" "0"
	"wait" "1"
	"OnStartTouch" "!activatorAddOutputorigin 1320 1593 4120-1"
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "LampTPAddOutputsolid 20.5-1"
		"OnMapSpawn" "LampTPAddOutputmins -9 -13 -7.51-1"
		"OnMapSpawn" "LampTPAddOutputmaxs 9 13 7.51-1"
	}
}

;add a backup nuke, there are some miscellaneous nuke avoidance spots throughout the map
add:
{
	"classname" "game_zone_player"
	"origin" "2040 -2033 74"
	"model" "*5"
	"targetname" "backup_nuke"
	"OnPlayerOutZone" "!activatorSetHealth00-1"
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_1"
	}
	insert:
	{
		"OnHitMax" "backup_nukeCountPlayersInZone115-1"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_2"
	}
	insert:
	{
		"OnHitMax" "backup_nukeCountPlayersInZone130-1"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_3"
	}
	insert:
	{
		"OnHitMax" "backup_nukeCountPlayersInZone145-1"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_4"
	}
	insert:
	{
		"OnHitMax" "backup_nukeCountPlayersInZone155-1"
	}
}
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "counter_5"
	}
	insert:
	{
		"OnHitMax" "backup_nukeCountPlayersInZone175-1"
	}
}

;increase nuke damage just in case
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "nuke_hurt"
	}
	replace:
	{
		"damage" "999999"
		"damagecap" "999999"
	}
}

;block off an out of map area
add:
{
	"classname" "func_brush"
	"origin" "-59 2864 500"
	"model" "*110"
	"rendermode" "10"
}