;don't respawn zombies at the end of minigames to prevent server crashing
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Lose_Slenderman"
	}
	insert:
	{
		"OnStartTouch" "TP_Spawn_ZombiesDisable01"
		"OnStartTouch" "TP_Spawn_HumansDisable01"
		"OnStartTouch" "Minigames_HurtEnable01"
	}
}
add:
{
	"classname" "trigger_hurt"
	"targetname" "Minigames_Hurt"
	"origin" "-3584 12800 512"
	"model" "*24"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"spawnflags" "1"
	"StartDisabled" "1"
}

;fix a new nuke avoidance? never happened before...
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "M_Nuke"
	}
	insert:
	{
		"OnUser1" "Minigames_HurtEnable0.51"
		"OnUser2" "Minigames_HurtEnable0.51"
	}
}
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "S_Dead"
	}
	insert:
	{
		"OnUser1" "Minigames_HurtEnable91"
	}
}

;slenderzombie models became invisible after dz sirocco update, stop hiding zombie model so both show up? looks bad but playable..
modify:
{
	match:
	{
		"classname" "weapon_knife"
		"targetname" "Item_Slenderfire"
	}
	delete:
	{
		"OnPlayerPickup" "!activatorAddOutputrendermode 601"
		"OnPlayerPickup" "!selfAddOutputrendermode 60.031"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_knife"
		"targetname" "Item_Slenderzombie"
	}
	delete:
	{
		"OnPlayerPickup" "!activatorAddOutputrendermode 601"
		"OnPlayerPickup" "!selfAddOutputrendermode 60.031"
	}
}

;fix lvl 4 boss fire particles after danger zone update
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "BL_Attacks"
	}
	delete:
	{
		"OnCase01" "BL_Fire1Stop2.75-1"
		"OnCase02" "BL_Fire2Stop2.75-1"
	}
	insert:
	{
		"OnCase01" "BL_Fire1DestroyImmediately2.75-1"
		"OnCase02" "BL_Fire2DestroyImmediately2.75-1"
	}
}