;reduce brightness, better method than fucking with bloom
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Map_Init"
	}
	delete:
	{
		"OnStartTouch" "ToneMapSetAutoExposureMin1.12501"
	}
	insert:
	{
		"OnStartTouch" "ToneMapSetAutoExposureMin0.8501"
	}
}

;Make melon secret start moving a bit later so that the person that pressed the last button has time to get on it if someone tries to steal it. Speed up melon to compensate time loss.
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"hammerid" "7809"
	}
	delete:
	{
		"OnStartTouch" "lemon2StartForward21"
	}
	insert:
	{
		"OnStartTouch" "lemon2StartForward101"
	}
}

modify:
{
	match:
	{
		"classname" "func_tanktrain"
		"targetname" "lemon2"
	}
	replace:
	{
		"startspeed" "3000"
	}
}

;Make final door unable to be blocked so people cant edge and troll
;apparently this is intended by mapper, revisit in the future if needed
;modify:
;{
;	match:
;	{
;		"classname" "func_door"
;		"targetname" "finaldoor"
;	}
;	replace:
;	{
;		"forceclosed" "1"
;		"dmg" "9999999"
;	}
;}