;some spike changes?
modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "4910205"
	}
	delete:
	{
		"OnStartTouch" "servercommandCommandsay **The floor is going to cover the spikes in 40 seconds**01"
		"OnStartTouch" "MetroSpikeFloorClose401"
	}
	insert:
	{
		"OnStartTouch" "servercommandCommandsay **The floor is going to cover the spikes in 30 seconds**01"
		"OnStartTouch" "MetroSpikeFloorClose301"
		"OnStartTouch" "servercommandCommandsay **Get to the other side! Spikes are going to get uncovered in 15 seconds**301"
		"OnStartTouch" "MetroSpikeFloorOpen451"
		"OnStartTouch" "AFKtp13triggerEnable551"
	}
}
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "MetroSpikeFloor"
	}
	replace:
	{
		"wait" "-1"
		"spawnflags" "0"
	}
	delete:
	{
		"OnClose" "AFKtp13triggerEnable51"
		"OnFullyOpen" "servercommandCommandsay **Cross over! The floor is going to uncover the spikes again in 15 seconds**01"
	}
}

;only allow players to trigger
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "kamikaze_button"
	}
	replace:
	{
		"spawnflags" "1"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "kamikaze_button2"
	}
	replace:
	{
		"spawnflags" "1"
	}
}