;Make the collision of the snake mouth door a bit larger, so people can't hide in a spot Medusa cant target (might be able to avoid targetting in all doorways, but this is the spot commonly exploited). A better fix would be to allow targetting here, but cba to do that
add:
{
	"targetname" "NoAccess"
	"classname" "func_wall_toggle"
	"origin" "-2522 6522 6829"
	"angles" "0 0 0"
	"model" "*226"
	"rendermode" "10"
}

add:
{
	"targetname" "NoAccess"
	"classname" "func_wall_toggle"
	"origin" "-2522 6498 6794"
	"angles" "0 0 0"
	"model" "*227"
	"rendermode" "10"
}

modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "chamber_mouthdoor"
	}
	insert:
	{
		;Players will never be against the door when it closes due to timing on its inputs, so don't have to worry about them getting stuck in the invisible extended collision
		"OnOpen" "NoAccess,AddOutput,solid 5,0,-1"
		"OnFullyClosed" "NoAccess,AddOutput,solid 1,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "chamber_mouthdoor"
	}
	insert:
	{
		"OnOpen" "NoAccess,Disable,,0,-1"
		"OnFullyClosed" "NoAccess,Enable,,0,-1"
	}
}

;patch ammo for gfl ammo values
modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "Item_Heal_Template"
	}
	insert:
	{
		;output character limit is 256
		"OnEntitySpawned" "Item_Heal_AmmoTrigRunScriptCodeWeaponClassAmmo.weapon_mp7 = 55;WeaponClassAmmo.weapon_ak47 = 40;WeaponClassAmmo.weapon_m4a1 = 40;WeaponClassAmmo.weapon_mp9 = 42;WeaponClassAmmo.weapon_ump45 = 50;WeaponClassAmmo.weapon_mac10 = 50;01"
		"OnEntitySpawned" "Item_Heal_AmmoTrigRunScriptCodeWeaponClassAmmo.weapon_p90 = 64;WeaponClassAmmo.weapon_famas = 40;WeaponClassAmmo.weapon_galilar = 40;WeaponClassAmmo.weapon_sg556 = 35;WeaponClassAmmo.weapon_aug = 35;01"
	}
}

;fix people getting glitched out of the map during medusa boss fight
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "mboss_hurt"
	}
	delete:
	{
		"OnStartTouch" "mboss_mouthRunScriptCodeTeleportAndParentToMe();0-1"
	}
	insert:
	{
		"OnStartTouch" "!activatorSetHealth00-1"
	}
}