;fix roundtime being too short
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandmp_roundtime 300-1"
	}
}

;fix several messages not having proper time format for plugin to display when the event occurs
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs24"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **defend15s**10"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Defend 15s**10"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs26"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Close15s**00"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Close in 15s**00"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs6"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **defend15s**10"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Defend 15s**10"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage_2_klot1"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Close55s**00"
		"OnStartTouch" "CmdCommandsay **Door will Close25s**350"
		"OnStartTouch" "CmdCommandsay **Door will Close10s**450"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Close in 55s**00"
		"OnStartTouch" "CmdCommandsay **Door will Close in 25s**300"
		"OnStartTouch" "CmdCommandsay **Door will Close in 10s**450"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs29"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open15s**00"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open in 15s**00"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs30"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open15s**00"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open in 15s**00"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs31"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open25s**00"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open in 25s**00"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "logs32"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open25s**00"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Open in 25s**00"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage_3_doors2zz1trigg3"
	}
	delete:
	{
		"OnStartTouch" "CmdCommandsay **Door will Close15s**00"
	}
	insert:
	{
		"OnStartTouch" "CmdCommandsay **Door will Close in 15s**00"
	}
}