;add hurt under boss where you can avoid attacks
add:
{
	"classname" "trigger_hurt"
	"origin" "7552 13120 6640"
	"model" "*344"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "60"
	"StartDisabled" "0"
	"spawnflags" "1"
}

;Prevent players from controlling platforms (add spawnflag 2)
modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "8"
	}
	replace:
	{
		"spawnflags" "10"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "9"
	}
	replace:
	{
		"spawnflags" "11"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "16"
	}
	replace:
	{
		"spawnflags" "18"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "24"
	}
	replace:
	{
		"spawnflags" "26"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "25"
	}
	replace:
	{
		"spawnflags" "27"
	}
}

;Fix tp angles for luxor (stage 8) start
modify:
{
	match:
	{
		"classname" "info_target"
		"targetname" "player_spawn_luxor"
	}
	replace:
	{
		"angles" "0 0 0"
	}
}