;mapper script fixes
;############################## THIS CHANGE WILL NOT WORK WITHOUT HAVING #####################################
;############################# csgo/scripts/vscripts/gfl/sisyphus_magic_v2.nut ###############################
;######################################## IN THE SERVER FILES ################################################
;######### https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/sisyphus_magic_v2.nut #########
;i packed a skybox in the map... might as well use it. make skybox_swapper
add:
{
	"origin" "0 0 0"
	"classname" "skybox_swapper"
    "targetname" "skybox"
    "SkyboxName" "deadcore_sky_9"
}

;kill weapons when dropped
add:
{
	"classname" "game_weapon_manager"
	"targetname" "weaponmanager"
	"ammomod" "0"
	"weaponname" "weapon_hkp2000"
	"OnUser1" "!selfAddOutputweaponname weapon_*0,-1"
	"OnUser1" "!selfAddOutputweaponname weapon_hkp20000.5-1"
	"OnUser1" "!selfFireUser11-1"
}

;start the killing
add:
{
	"classname" "logic_relay"
	"spawnflags" "1"
	"OnSpawn" "weaponmanagerFireUser12-1"
}

;replace vscript
modify:
{
    match:
    {
        "classname" "logic_script"
        "targetname" "sisyphus_magic"
    }
    replace:
    {
        "vscripts" "gfl/sisyphus_magic_v2.nut"
    }
}

;make boulder roll through players - ignore debris flag
modify:
{
    match:
    {
        "classname" "func_physbox"
        "targetname" "boulder"
    }
    replace:
    {
        "spawnflags" "16384"
    }
}

;ranomize the skybox
modify:
{
    match:
    {
        "classname" "logic_auto"
        "hammerid" "5583"
    }
    insert:
    {
        "OnMultiNewRound" "sisyphus_magicRunScriptCoderandom_sky();0.25-1"
    }
}

;slightly adjust the boulder_force per stage
modify:
{
    match:
    {
        "classname" "logic_case"
        "targetname" "level_case"
    }
    delete:
    {
        "OnCase01" "sisyphus_magicRunScriptCodeboulder_force=500;0-1"
        "OnCase02" "sisyphus_magicRunScriptCodeboulder_force=750;0-1"
        "OnCase03" "sisyphus_magicRunScriptCodeboulder_force=1000;0-1"
        "OnCase05" "sisyphus_magicRunScriptCodeboulder_force=800;0-1"                
        "OnCase06" "sisyphus_magicRunScriptCodeboulder_force=750;0-1"
        "OnCase07" "sisyphus_magicRunScriptCodeboulder_force=700;0-1"             
        "OnCase08" "sisyphus_magicRunScriptCodeboulder_force=666;0-1"                
    }
    insert:
    {
        "OnCase01" "sisyphus_magicRunScriptCodeboulder_force=510;0-1"
        "OnCase02" "sisyphus_magicRunScriptCodeboulder_force=1010;0-1"
        "OnCase03" "sisyphus_magicRunScriptCodeboulder_force=1360;0-1"
        "OnCase05" "sisyphus_magicRunScriptCodeboulder_force=1410;0-1"
        "OnCase06" "sisyphus_magicRunScriptCodeboulder_force=1310;0-1"
        "OnCase07" "sisyphus_magicRunScriptCodeboulder_force=960;0-1"        
        "OnCase08" "sisyphus_magicRunScriptCodeboulder_force=1010;0-1"                
    }
}
