;OPTIONAL: change lyrics to chinese
;modify:
;{
;	match:
;	{
;		"classname" "logic_case"
;		"targetname" "Levels_Case"
;	}
;	insert:
;	{
;		"OnCase03" "Stage_4_Secret_End_MusicRunScriptCodechinese_lyrics=true1-1"
;		"OnCase04" "Stage_Race_MusicRunScriptCodechinese_lyrics=true1-1"
;	}
;}

;OPTIONAL: change lyrics to display via hint text
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_Case"
	}
	insert:
	{
		"OnCase03" "Stage_4_End_MusicRunScriptCodedisplay_style=11-1"
		"OnCase03" "Stage_4_Secret_End_MusicRunScriptCodedisplay_style=11-1"
		"OnCase04" "Stage_Race_MusicRunScriptCodedisplay_style=11-1"
	}
}

;add freezetime to allow players to buy weapons
modify:
{
	match:
	{
		"classname" "point_servercommand"
		"targetname" "cmd"
	}
	delete:
	{
		"OnUser1" "!selfCommandmp_freezetime 101"
	}
	insert:
	{
		"OnUser1" "!selfCommandmp_freezetime 501"
	}
}

;stage 1 boss room make zm cage not make noise when knifed
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Hashmel_ZM_Cage"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;toggle lightning at stage 2 lasers
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Stage_4_End_Guard_Trigger"
	}
	insert:
	{
		"OnTrigger" "Stage_34_3D_Sky_TimerDisable0-1"
	}
}

modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "Stage_4_End_Guard_Counter"
	}
	insert:
	{
		"OnHitMin" "Stage_34_3D_Sky_TimerEnable0-1"
	}
}

;fix guardian physboxes with motion enabled
modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "Famfrit_Phys_Body_Holy"
	}
	replace:
	{
		"spawnflags" "56320"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "Famfrit_Phys_Body_Fire"
	}
	replace:
	{
		"spawnflags" "56320"
	}
}

;--------------------------------------------
;EXTREME MODE CHANGES, FIXES, AND REBALANCING
;--------------------------------------------

;ADD UNIQUE TRIGGER_HURTS FOR HASHMEL CONTROL TOWER
add:
{
	"classname" "trigger_hurt"
	"targetname" "Hashmel_Tower_Hurt_1"
	"model" "*112"
	"origin" "4096 5880 832"
	"StartDisabled" "1"
	"spawnflags" "1"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "200"
	"nodamageforce" "0"
}
add:
{
	"classname" "trigger_hurt"
	"targetname" "Hashmel_Tower_Hurt_2"
	"model" "*113"
	"origin" "4096 5608 832"
	"StartDisabled" "1"
	"spawnflags" "1"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "200"
	"nodamageforce" "0"
}
add:
{
	"classname" "trigger_hurt"
	"targetname" "Hashmel_Tower_Hurt_3"
	"model" "*114"
	"origin" "4096 5344 832"
	"StartDisabled" "1"
	"spawnflags" "1"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "200"
	"nodamageforce" "0"
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Hashmel_Tower_Case"
	}
	delete:
	{
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage80.12-1"
		"OnCase03" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase03" "Hashmel_Tower_Hurt*Enable0.01-1"
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage4000-1"
		"OnCase02" "Hashmel_Tower_Hurt*SetDamage80.12-1"
		"OnCase02" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase02" "Hashmel_Tower_Hurt*Enable0.01-1"
		"OnCase02" "Hashmel_Tower_Hurt*SetDamage2000-1"
	}
	insert:
	{
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage2000.12-1"
		"OnCase03" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase03" "Hashmel_Tower_Hurt*Enable0.01-1"
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage4000-1"
		"OnCase02" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase02" "Hashmel_Tower_Hurt*Enable0.01-1"
	}
}

;REDUCE COMMAND TOWER HP FROM 700 PER PLAYER TO 400 PER PLAYER
;REDUCE SUPERNOVA HP FROM 400 TO 300 PER PLAYER
;REDUCE HASHMEL HEAL BRAKABLE WALL HP FROM 900 TO 600 PER PLAYER
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Hashmel_Attacks_HP_Add"
	}
	delete:
	{
		"OnStartTouch" "Hashmel_Tower_Break_LeftAddHealth3500-1"
		"OnStartTouch" "Hashmel_Tower_Break_RightAddHealth3500-1"
		"OnStartTouch" "Hashmel_Heal_BreakableAddHealth9000-1"
		"OnStartTouch" "Hashmel_Supernova_BreakableAddHealth4000-1"
	}
	insert:
	{
		"OnStartTouch" "Hashmel_Tower_Break_LeftAddHealth2000-1"
		"OnStartTouch" "Hashmel_Tower_Break_RightAddHealth2000-1"
		"OnStartTouch" "Hashmel_Heal_BreakableAddHealth6000-1"
		"OnStartTouch" "Hashmel_Supernova_BreakableAddHealth3000-1"
	}
}

;REDUCE TOWER ATTACK FREQUENCY FROM 30s TO 45s
modify:
{
	match:
	{
		"classname" "logic_timer"
		"targetname" "Hashmel_Attack_Tower_Timer"
	}
	replace:
	{
		"RefireTime" "45"
	}
}

;--------------------------------------------
;LEGEND MODE CHANGES, FIXES, AND REBALANCES
;--------------------------------------------

;SET sv_airaccelerate 150 WHEN BOSS STARTS RATHER THAN WHEN OVERFLOW HAPPENS
;and fix typo...
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "Famfrit_Overflow_WaterSurface"
	}
	delete:
	{
		"OnFullyClosed" "cmdCommandsv_airacceleration 120-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Famfrit_Overflow_Relay"
	}
	delete:
	{
		"OnSpawn" "cmdCommandsv_airaccelerate 1500-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Famfrit_Start_Relay"
	}
	insert:
	{
		"OnTrigger" "cmdCommandsv_airaccelerate 15011-1"
	}
}

;DISABLE WATERPILLER TIMER ON OVERFLOW
;INCREASE TIME BETWEEN OVERFLOW FROM 50s TO 80s
modify:
{
	match:
	{
		"classname" "logic_timer"
		"targetname" "Famfrit_Overflow_Timer"
	}
	replace:
	{
		"RefireTime" "80"
	}
	insert:
	{
		"OnTimer" "Famfrit_WaterPillars_TimerDisable0-1"
		"OnTimer" "Famfrit_WaterPillars_TimerEnable7-1"
	}
}

;TEMPORARY CHANGE: INCREASE SECRET MUSIC TRIGGER HP FROM 10 TO 150
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Stage_4_Secret_Breakable"
	}
	replace:
	{
		"health" "150"
	}
}

;--------------------------------------------
;RACE MODE CHANGES AND FIXES
;--------------------------------------------

;ENABLE BHOP ON RACE MODE
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_Case"
	}
	insert:
	{
		"OnCase04" "cmdCommandsv_enablebunnyhopping 11-1"
		"OnCase04" "cmdCommandsv_airaccelerate 1001.1-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsv_enablebunnyhopping 00.5-1"
		"OnMapSpawn" "cmdCommandsv_airaccelerate 121.5-1"
	}
}

;MAKE RACE MODE ONE TRY ONLY
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Stage_Race_CP_7_Bonus"
	}
	delete:
	{
		"OnStartTouch" "Level_StockerAddOutputOnUser1 Levels_Counter:SetValue:3:0:10.021"
		"OnStartTouch" "Level_StockerFireUser101"
	}
}
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_Case"
	}
	delete:
	{
		"OnCase04" "Level_StockerAddOutputOnUser1 Levels_Counter:SetValue:4:0:10.021"
	}
	insert:
	{
		"OnCase04" "Level_StockerAddOutputOnUser1 Levels_Counter:SetValue:3:0:10.021"
	}
}