;fix possible crashing when spawn killing zombies on school pages minigame stage
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Lose_Slenderman"
	}
	delete:
	{
		"OnStartTouch" "!activatorAddOutputhealth 10-1"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputhealth 15-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Mode_School_Madness"
	}
	insert:
	{
		"OnTrigger" "TD_School_DisabledAddOutputtargetname TD_School151"
	}
}
add:
{
	"classname" "info_teleport_destination"
	"origin" "3566 9160 32"
	"angles" "0 0 0"
	"targetname" "TD_School_Disabled"
}
add:
{
	"classname" "info_teleport_destination"
	"origin" "2702 9271 32"
	"angles" "0 37 0"
	"targetname" "TD_School_Disabled"
}

;slenderzombie models became invisible after dz sirocco update, stop hiding zombie model so both show up? looks bad but playable..
modify:
{
	match:
	{
		"classname" "weapon_knife"
		"targetname" "Item_Slenderfire"
	}
	delete:
	{
		"OnPlayerPickup" "!activatorAddOutputrendermode 601"
		"OnPlayerPickup" "!selfAddOutputrendermode 60.031"
	}
}
modify:
{
	match:
	{
		"classname" "weapon_knife"
		"targetname" "Item_Slenderzombie"
	}
	delete:
	{
		"OnPlayerPickup" "!activatorAddOutputrendermode 601"
		"OnPlayerPickup" "!selfAddOutputrendermode 60.031"
	}
}

;fix lvl 4 boss fire particles after danger zone update
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "BL_Attacks"
	}
	delete:
	{
		"OnCase01" "BL_Fire1Stop2.75-1"
		"OnCase02" "BL_Fire2Stop2.75-1"
	}
	insert:
	{
		"OnCase01" "BL_Fire1DestroyImmediately2.75-1"
		"OnCase02" "BL_Fire2DestroyImmediately2.75-1"
	}
}