;Fixes infinite looping sounds.
modify:
{
	match:
	{
		"loopmovesound" "1"
	}
	replace:
	{
		"loopmovesound" "0"
	}
}

;Makes ending bareable as a zombie.
add:
{
	"model" "*54"
	"UseLandmarkAngles" "1"
	"targetname" "AFKAdditional1"
	"target" "tptowerfalldest"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "1632 3860 -2550"
	"CheckDestIfClearForPlayer" "0"
	"classname" "trigger_teleport"
}

;tower5 is killed because it can block zombies (or CT's) from jumping and proceeding forward.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stoptopspin"
	}
	insert:
	{
		"OnStartTouch" "tower5,Kill,,20,1"
		"OnStartTouch" "server,Command,say << ZOMBIE TP >>,33,1"
		"OnStartTouch" "server,Command,say << ZOMBIE TP >>,35,1"
		"OnStartTouch" "server,Command,say << ZOMBIE TP >>,37,1"
		"OnStartTouch" "server,Command,say << ZOMBIE TP >>,39,1"
		"OnStartTouch" "AFKAdditional1,Enable,,40,1"
		"OnStartTouch" "AFKAdditional1,SetRemoteDestination,bhop1towerdest,55,1"
		"OnStartTouch" "AFKAdditional1,SetRemoteDestination,boosttoptowerdest,70,1"
		"OnStartTouch" "AFKAdditional1,SetRemoteDestination,tpdestfalltower2,85,1"
	}
}

;If zombie reaches top, end game.
add:
{
	"model" "*52"
	"wait" "1"
	"targetname" "ZMWatcher"
	"StartDisabled" "0"
	"spawnflags" "4097"
	"origin" "3384 3806 -534"
	"classname" "trigger_multiple"
	"filtername" "filterzombies"
	"OnStartTouch" "server,Command,say << ZOMBIE REACHED THE TOP >>,0,1"
	"OnStartTouch" "server,Command,say << ZOMBIE REACHED THE TOP >>,1,1"
	"OnStartTouch" "server,Command,say << ZOMBIE REACHED THE TOP >>,2,1"
	"OnStartTouch" "server,Command,say << GAME OVER >>,3,1"
	"OnStartTouch" "player,AddOutput,origin 2124 3736 66,4,1"
	"OnStartTouch" "trigger_teleport,Enable,,5,1"
}

;Stopmusic obey.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "2258 -166.18 293"
	}
	delete:
	{
		"OnTrigger" "mapmusic1PlaySound11"
		"OnTrigger" "mapmusic1FadeOut1101"
		"OnTrigger" "mapmusic2PlaySound101"
	}
	insert:
	{
		"OnStartTouch" "mapmusic1,PlaySound,,3,1"
		"OnStartTouch" "mapmusic1,FadeOut,1,13,1"
		"OnStartTouch" "mapmusic2,PlaySound,,13,1"
	}
}

;CT's can get here when they shouldn't be able to. Not exactly sure how.
add:
{
	"model" "*16"
	"targetname" "hurtspinlasers"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"origin" "3863 3748 -344"
	"nodmgforce" "0"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "25"
	"classname" "trigger_hurt"
}

;CT's can get here from the button and just outright delay rounds.
add:
{
	"model" "*108"
	"StartDisabled" "0"
	"speed" "0"
	"spawnflags" "1"
	"pushdir" "0 90 0"
	"origin" "2161 -679 1038.5"
	"alternateticksfix" "0"
	"classname" "trigger_push"
	"targetname" "TempClip"
}

;Reports of players possibly trolling this teleport. Use ramp to gain speed -> teleport -> infect.
add:
{
	"classname" "logic_relay"
	"spawnflags" "1"
	"OnSpawn" "afk1RunScriptCodefunction b(){activator.SetVelocity(Vector(0,0,0));}11"
	"OnSpawn" "afk1RunScriptCodeforeach(a,_ in {OnStartTouch=0}){self.ConnectOutput(a, 'b'.tochar());}1.021"
}