;STRIPPER BY KOEN (STEAM_0:1:114921174) & CONSOLE (STEAM_0:1:107271710)

;ADD STRIPPER VERSION TEXT
;CURRENT VERSION: #5
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsay ** STRIPPER VERSION 5 **10-1"
	}
}

;OPTIONAL: TOGGLE CHINESE LYRICS
;modify:
;{
;	match:
;	{
;		"classname" "logic_case"
;		"targetname" "Levels_Case"
;		"hammerid" "1788136"
;	}
;	insert:
;	{
;		"OnCase03" "Stage_4_Secret_End_MusicRunScriptCodechinese_lyrics=true1-1"
;		"OnCase04" "Stage_Race_MusicRunScriptCodechinese_lyrics=true1-1"
;	}
;}

;OPTIONAL: DISPLAY LYRICS VIA HINT TEXT
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_Case"
		"hammerid" "1788136"
	}
	insert:
	{
		"OnCase03" "Stage_4_End_MusicRunScriptCodedisplay_style=11-1"
		"OnCase03" "Stage_4_Secret_End_MusicRunScriptCodedisplay_style=11-1"
		"OnCase04" "Stage_Race_MusicRunScriptCodedisplay_style=11-1"
	}
}

;ADD FREEZETIME FOR PURCHASING WEAPONS
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandmp_freezetime 50-1"
	}
}

;DECREASE FIRE & ELECTRO CD FOR BALANCING
;MAKE SURE YOU UPDATE ENTWATCH CONFIG
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Item_Relay_Electro"
		"hammerid" "29732"
	}
	delete:
	{
		"OnTrigger" "Item_Electro_ButtonUnlock65-1"
		"OnTrigger" "Weapon_Electro_EffectStart65-1"
	}
	insert:
	{
		"OnTrigger" "Item_Electro_ButtonUnlock60-1"
		"OnTrigger" "Weapon_Electro_EffectStart60-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Item_Relay_Fire"
		"hammerid" "29724"
	}
	delete:
	{
		"OnTrigger" "Item_Fire_ButtonUnlock65-1"
		"OnTrigger" "Weapon_Fire_EffectStart65-1"
	}
	insert:
	{
		"OnTrigger" "Item_Fire_ButtonUnlock60-1"
		"OnTrigger" "Weapon_Fire_EffectStart60-1"
	}
}

;FIX ITEM BUTTONS NOT ROTATING PROPERLY WITH PLAYERS
modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "/Item_(PotionHP|Heal|Fire|Electro|Blizzard|Darkaga|Wind|Berserk)_Button/"
		"spawnflags" "17408"
	}
	replace:
	{
		"spawnflags" "1024"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "/Item_Z_(Heal|Fire|Darkaga|Warp)_Button/"
		"spawnflags" "17408"
	}
	replace:
	{
		"spawnflags" "1024"
	}
}

;--------------------------------------------
;EXTREME MODE CHANGES, FIXES, AND REBALANCING
;--------------------------------------------

;ADD UNIQUE TRIGGER_HURTS FOR HASHMEL CONTROL TOWER
add:
{
	"classname" "trigger_hurt"
	"targetname" "Hashmel_Tower_Hurt_1"
	"model" "*112"
	"origin" "4096 5880 832"
	"StartDisabled" "1"
	"spawnflags" "1"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "200"
	"nodamageforce" "0"
}

add:
{
	"classname" "trigger_hurt"
	"targetname" "Hashmel_Tower_Hurt_2"
	"model" "*113"
	"origin" "4096 5608 832"
	"StartDisabled" "1"
	"spawnflags" "1"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "200"
	"nodamageforce" "0"
}

add:
{
	"classname" "trigger_hurt"
	"targetname" "Hashmel_Tower_Hurt_3"
	"model" "*114"
	"origin" "4096 5344 832"
	"StartDisabled" "1"
	"spawnflags" "1"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "200"
	"nodamageforce" "0"
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Hashmel_Tower_Case"
		"hammerid" "3269685"
	}
	delete:
	{
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage80.12-1"
		"OnCase03" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase03" "Hashmel_Tower_Hurt*Enable0.01-1"
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage4000-1"
		"OnCase02" "Hashmel_Tower_Hurt*SetDamage80.12-1"
		"OnCase02" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase02" "Hashmel_Tower_Hurt*Enable0.01-1"
		"OnCase02" "Hashmel_Tower_Hurt*SetDamage2000-1"
	}
	insert:
	{
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage2000.12-1"
		"OnCase03" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase03" "Hashmel_Tower_Hurt*Enable0.01-1"
		"OnCase03" "Hashmel_Tower_Hurt*SetDamage4000-1"
		"OnCase02" "Hashmel_Tower_Hurt*Disable0.11-1"
		"OnCase02" "Hashmel_Tower_Hurt*Enable0.01-1"
	}
}

;REDUCE COMMAND TOWER HP FROM 700 PER PLAYER TO 400 PER PLAYER
;REDUCE SUPERNOVA HP FROM 400 TO 300 PER PLAYER
;REDUCE HASHMEL HEAL BRAKABLE WALL HP FROM 900 TO 600 PER PLAYER
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "Hashmel_Attacks_HP_Add"
		"hammerid" "3308075"
	}
	delete:
	{
		"OnStartTouch" "Hashmel_Tower_Break_LeftAddHealth3500-1"
		"OnStartTouch" "Hashmel_Tower_Break_RightAddHealth3500-1"
		"OnStartTouch" "Hashmel_Heal_BreakableAddHealth9000-1"
		"OnStartTouch" "Hashmel_Supernova_BreakableAddHealth4000-1"
	}
	insert:
	{
		"OnStartTouch" "Hashmel_Tower_Break_LeftAddHealth2000-1"
		"OnStartTouch" "Hashmel_Tower_Break_RightAddHealth2000-1"
		"OnStartTouch" "Hashmel_Heal_BreakableAddHealth6000-1"
		"OnStartTouch" "Hashmel_Supernova_BreakableAddHealth3000-1"
	}
}

;REDUCE TOWER ATTACK FREQUENCY FROM 30s TO 45s
modify:
{
	match:
	{
		"classname" "logic_timer"
		"targetname" "Hashmel_Attack_Tower_Timer"
		"hammerid" "3790057"
	}
	replace:
	{
		"RefireTime" "45"
	}
}

;MAKE BOSS ROOM ZM CAGE NOT MAKE SOUND WHEN KNIFED
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Hashmel_ZM_Cage"
		"hammerid" "28230"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;--------------------------------------------
;LEGEND MODE CHANGES, FIXES, AND REBALANCES
;--------------------------------------------

;SET sv_airaccelerate 150 WHEN BOSS STARTS RATHER THAN WHEN OVERFLOW HAPPENS
;and fix typo...
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "Famfrit_Overflow_WaterSurface"
		"hammerid" "4742233"
	}
	delete:
	{
		"OnFullyClosed" "cmdCommandsv_airacceleration 120-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Famfrit_Overflow_Relay"
		"hammerid" "4702588"
	}
	delete:
	{
		"OnSpawn" "cmdCommandsv_airaccelerate 1500-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Famfrit_Start_Relay"
		"hammerid" "31957"
	}
	insert:
	{
		"OnTrigger" "cmdCommandsv_airaccelerate 15011-1"
	}
}

;DISABLE WATERPILLER TIMER ON OVERFLOW
;INCREASE TIME BETWEEN OVERFLOW FROM 50s TO 80s
modify:
{
	match:
	{
		"classname" "logic_timer"
		"targetname" "Famfrit_Overflow_Timer"
		"hammerid" "3233182"
	}
	replace:
	{
		"RefireTime" "80"
	}
	insert:
	{
		"OnTimer" "Famfrit_WaterPillars_TimerDisable0-1"
		"OnTimer" "Famfrit_WaterPillars_TimerEnable7-1"
	}
}

;INCREASE SECRET MUSIC TRIGGER HP
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "Stage_4_Secret_Breakable"
		"hammerid" "4142064"
	}
	replace:
	{
		"health" "1500"
	}
}

;FIX GUARDIAN PHYSBOXES WITH MOTION ENABLED
modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "Famfrit_Phys_Body_Holy"
		"hammerid" "34197"
	}
	replace:
	{
		"spawnflags" "56320"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox"
		"targetname" "Famfrit_Phys_Body_Fire"
		"hammerid" "34194"
	}
	replace:
	{
		"spawnflags" "56320"
	}
}

;TOGGLE LIGHTNING DURING LASERS
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Stage_4_End_Guard_Trigger"
		"hammerid" "34257"
	}
	insert:
	{
		"OnTrigger" "Stage_34_3D_Sky_TimerDisable0-1"
	}
}

modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "Stage_4_End_Guard_Counter"
		"hammerid" "34212"
	}
	insert:
	{
		"OnHitMin" "Stage_34_3D_Sky_TimerEnable0-1"
	}
}

;CLEANUP OLD ENTITIES ON FAMFRIT BOSS FIGHT THAT RESETS ZOMBIE ITEM USER TARGETNAMES
filter:
{
	"targetname" "/boss_spec_filter.*/"
	"classname" "filter_activator_name"
}

filter:
{
	"classname" "logic_relay"
	"targetname" "filter_spec_trigger"
}

filter:
{
	"classname" "trigger_multiple"
	"targetname" "boss_spec_trigger"
}

;DISABLE CUTSCENE IF ZOMBIES ENTER BOSS ROOM
add:
{
	"classname" "trigger_once"
	"targetname" "Stage_24_Zombie_Check"
	"origin" "-5616 9564 3184"
	"model" "*171"
	"filtername" "Zombies_Filter"
	"spawnflags" "1"
	"OnStartTouch" "Stage_4_Boss_CutsceneDisable01"
	"OnStartTouch" "cmdCommandsay ** ZOMBIES DETECTED! KILL THEM BEFORE FAMFRIT STARTS ATTACKING! **01"
}

;--------------------------------------------
;RACE MODE CHANGES AND FIXES
;--------------------------------------------

;ENABLE BHOP ON RACE MODE
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_Case"
		"hammerid" "1788136"
	}
	insert:
	{
		"OnCase04" "cmdCommandsv_enablebunnyhopping 11-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsv_enablebunnyhopping 00.5-1"
		"OnMapSpawn" "cmdCommandsv_airaccelerate 121.5-1"
	}
}

;MAKE RACE MODE ONE TRY ONLY
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Stage_Race_CP_7_Bonus"
		"hammerid" "4179319"
	}
	delete:
	{
		"OnStartTouch" "Level_StockerAddOutputOnUser1 Levels_Counter:SetValue:3:0:10.021"
		"OnStartTouch" "Level_StockerFireUser101"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_case"
		"hammerid" "1788136"
	}
	delete:
	{
		"OnCase04" "Level_StockerAddOutputOnUser1 Levels_Counter:SetValue:4:0:10.021"
	}
	insert:
	{
		"OnCase04" "Level_StockerAddOutputOnUser1 Levels_Counter:SetValue:3:0:10.021"
	}
}

;DISABLE BOSS ROOM ZOMBIE CHECK DURING RACE MODE
modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "Levels_case"
		"hammerid" "1788136"
	}
	insert:
	{
		"OnCase04" "Stage_24_Zombie_CheckKill01"
	}
}