;fix item filternames
modify:
{
	match:
	{
		"targetname" "item_ammo_weapon"
		"classname" "weapon_elite"
	}
	delete:
	{
		"OnPlayerPickup" "wall1_userAddOutputtargetname player0-1"
	}
	insert:
	{
		"OnPlayerPickup" "ammo_userAddOutputtargetname player0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "item_sound_weapon"
		"classname" "weapon_knife"
	}
	delete:
	{
		"OnPlayerPickup" "fire_userAddOutputtargetname player0-1"
	}
	insert:
	{
		"OnPlayerPickup" "sound_userAddOutputtargetname player0-1"
	}
}

;Notification for boss timer
modify:
{
	match:
	{
		"origin" "-9039.99 1000.01 -3847.35"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "serverCommandsay ** We have 240 seconds to kill the boss **501"
	}
}

;Prevent blocking of boss room door
modify:
{
	match:
	{
		"classname" "func_movelinear"
		"targetname" "move_door_boss"
	}
	replace:
	{
		"blockdamage" "999999"
	}
}