;Removing HTML tags, broken/non-functional after Shattered Web Update
modify:
{
	match:
	{
		"targetname" "Item_Ammo_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Ammo - Ammo for players nearby! Duration: 10 secs - Cooldown: 45 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Water_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Water - Push zombies by wave! Duration: 8 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Electro_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Electro - Electrify zombies in range! Duration: 10 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Earth_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Earth - Creates a wall barricade! Duration: 6 secs - Cooldown: 45 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Fire_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Fire - Burn zombies within radius! Duration: 10 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Gravity_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Gravity - Slow zombies in a portal! Duration: 8 secs - Cooldown: 45 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Heal_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Heal - Heal surrounding players! Duration: 8 secs - Cooldown: 45 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Ice_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Ice - Freeze zombies on touch! Duration: 6 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Mines_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Mines - Plant mines with effects! Duration: 5 secs - Cooldown: 3 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Wind_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Wind - Push zombies with a gust! Duration: 8 secs - Cooldown: 45 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Squirtle_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Squirtle - Slow zombies! Duration: 7 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Bulbasaur_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Bulbasaur - Block zombies! Duration: 6 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Charmander_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Charmander - Burn zombies! Duration: 7 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Pikachu_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Pikachu - Electrify zombies! Duration: 7 secs - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Ditto_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Ditto - Cycle looking up with B! Duration: N/A - Cooldown: 60 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Ghastly_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Ghastly - Slow humans with fear! Duration: 5 secs - Cooldown: 75 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Pokeball_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Pokeball - Catch shiny Pikachu! Duration: N/A - Cooldown: 5 secs"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Masterball_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Weapon: Masterball - Catch shiny Pikachu! Duration: N/A - Cooldown: 1 use"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Shiny_Text"
		"classname" "env_message"
	}
	replace:
	{
		"message" "Pokemon: Shiny Pikachu - Electricity source! Duration: N/A - Cooldown: N/A"
	}
}

modify:
{
	match:
	{
		"targetname" "GameText_Outro1"
		"classname" "env_message"
	}
	replace:
	{
		"message" "    CONGRATULATIONS!"
	}
	delete:
	{
		"OnUser1" "!selfAddOutputmessage <font color='#78e837'><font size='28'><b>    CONGRATULATIONS!0-1" 
		"OnUser2" "!selfAddOutputmessage <font color='#78e837'><font size='28'><b>                YOU WIN!0-1"
	}
	insert:
	{
		"OnUser1" "!selfAddOutputmessage     CONGRATULATIONS!0-1" 
		"OnUser2" "!selfAddOutputmessage                 YOU WIN!0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "GameText_Outro2"
		"classname" "env_message"
	}
	delete:
	{
		"OnUser1" "!selfAddOutputmessage <font color='#78e837'><font size='28'><b>      TIMELOOP ENDING01" 
		"OnUser2" "!selfAddOutputmessage <font color='#78e837'><font size='28'><b>          GOOD ENDING01"
	}
	insert:
	{
		"OnUser1" "!selfAddOutputmessage       TIMELOOP ENDING01" 
		"OnUser2" "!selfAddOutputmessage           GOOD ENDING01"
	}
}

modify:
{
	match:
	{
		"targetname" "GameText_Outro3"
		"classname" "env_message"
	}
	delete:
	{
		"OnUser1" "!selfAddOutputmessage <font color='#78e837'><font size='23'><b>Play ShroomForest to continue your adventure!01" 
		"OnUser2" "!selfAddOutputmessage <font color='#78e837'><font size='23'><b>Thanks for playing & being part of this!01"
	}
	insert:
	{
		"OnUser1" "!selfAddOutputmessage Play ShroomForest to continue your adventure!01" 
		"OnUser2" "!selfAddOutputmessage Thanks for playing & being part of this!01"
	}
}

modify:
{
	match:
	{
		"targetname" "Item_Ditto_CaseText"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "Item_Ditto_Text2AddOutputmessage <u>Pokemon</u>: <font color='#46a3ff'>Squirtle</font> - Slow zombies!<br><u>Duration</u>: 7 secs - <u>Cooldown</u>: 60 secs0-1" 
		"OnCase02" "Item_Ditto_Text2AddOutputmessage <u>Pokemon</u>: <font color='#80ff00'>Bulbasaur</font> - Block zombies!<br><u>Duration</u>: 6 secs - <u>Cooldown</u>: 60 secs0-1"
		"OnCase03" "Item_Ditto_Text2AddOutputmessage <u>Pokemon</u>: <font color='#f59236'>Charmander</font> - Burn zombies!<br><u>Duration</u>: 7 secs - <u>Cooldown</u>: 60 secs0-1"
		"OnCase04" "Item_Ditto_Text2AddOutputmessage <u>Pokemon</u>: <font color='#ffff00'>Pikachu</font> - Electrify zombies!<br><u>Duration</u>: 7 secs - <u>Cooldown</u>: 60 secs0-1"
	}
	insert:
	{
		"OnCase01" "Item_Ditto_Text2AddOutputmessage Pokemon: Squirtle - Slow zombies! Duration: 7 secs - Cooldown: 60 secs0-1" 
		"OnCase02" "Item_Ditto_Text2AddOutputmessage Pokemon: Bulbasaur - Block zombies! Duration: 6 secs - Cooldown: 60 secs0-1"
		"OnCase03" "Item_Ditto_Text2AddOutputmessage Pokemon: Charmander - Burn zombies! Duration: 7 secs - Cooldown: 60 secs0-1"
		"OnCase04" "Item_Ditto_Text2AddOutputmessage Pokemon: Pikachu - Electrify zombies! Duration: 7 secs - Cooldown: 60 secs0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Level_Case"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[WARMUP]</u><br><font size='20'><font color='#ffffff'>      Wait for other players to join!01"
		"OnCase02" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[LEVEL 1]</u><br><font size='20'><font color='#ffffff'>                 Explore the tree!01"
		"OnCase03" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[LEVEL 2]</u><br><font size='20'><font color='#ffffff'>                 Explore the caves!01"
		"OnCase04" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[LEVEL 3]</u><br><font size='20'><font color='#ffffff'>             Discover a new world!01"
		"OnCase05" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[EXTREME 1]</u><br><font size='20'><font color='#ffffff'>                 Take over the castle!01"
		"OnCase06" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[EXTREME 2]</u><br><font size='20'><font color='#ffffff'>           Fight the cursed skeletons!01"
		"OnCase07" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[EXTREME 3]</u><br><font size='20'><font color='#ffffff'>                     Escape this world!01"
		"OnCase08" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[TIME LOOP]</u><br><font size='20'><font color='#ffffff'>                    Change the future!01"
		"OnCase09" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[MAP OVER]</u><br><font size='20'><font color='#ffffff'>                     Change the level!01"
		"OnDefault" "GameText_LevelAddOutputmessage <font color='#78e837'><font size='27'>                <u>[BUG]</u><br><font size='20'><font color='#ffffff'>Map level didn't load correctly...01"
	}
	insert:
	{
		"OnCase01" "GameText_LevelAddOutputmessage                [WARMUP] Wait for other players to join!01"
		"OnCase02" "GameText_LevelAddOutputmessage                [LEVEL 1] Explore the tree!01"
		"OnCase03" "GameText_LevelAddOutputmessage                [LEVEL 2] Explore the caves!01"
		"OnCase04" "GameText_LevelAddOutputmessage                [LEVEL 3] Discover a new world!01"
		"OnCase05" "GameText_LevelAddOutputmessage                [EXTREME 1] Take over the castle!01"
		"OnCase06" "GameText_LevelAddOutputmessage                [EXTREME 2] Fight the cursed skeletons!01"
		"OnCase07" "GameText_LevelAddOutputmessage                [EXTREME 3] Escape this world!01"
		"OnCase08" "GameText_LevelAddOutputmessage                [TIME LOOP] Change the future!01"
		"OnCase09" "GameText_LevelAddOutputmessage                [MAP OVER] Change the level!01"
		"OnDefault" "GameText_LevelAddOutputmessage                [BUG] Map level didn't load correctly...01"
	}
}