;fix trigger_push spawnflag bug due to csgo jank
modify:
{
	match:
	{
		"classname" "trigger_push"
		"spawnflags" "4097"
	}
	replace:
	{
		"spawnflags" "1"
	}
}

;Replace physics-based level system with a vscript one
filter:
{
	"classname" "func_physbox"
	"targetname" "stage1_phys"
}

filter:
{
	"classname" "func_physbox"
	"targetname" "stage2_phys"
}

filter:
{
	"classname" "func_physbox"
	"targetname" "stage3_phys"
}

add:
{
	"classname" "logic_relay"
	"targetname" "stripper_lvl1_relay"
	"OnTrigger" "fog_worldTurnOn0-1"
	"OnTrigger" "fog_skyboxTrigger0-1"
	"OnTrigger" "fog_worldSetFarZ23000-1"
	"OnTrigger" "sun_button_stage2Kill0-1"
	"OnTrigger" "stage2_end_triggerEnable0-1"
	"OnTrigger" "back_to_stage1Disable0-1"
	"OnTrigger" "ex_triggerDisable0-1"
	"OnTrigger" "fog_worldSetEndDist23000-1"
	"OnTrigger" "fog_worldSetStartDist2000-1"
	"OnTrigger" "ex_button_musicKill0-1"
	"OnTrigger" "ex_pickup_sawKill0-1"
	"OnTrigger" "sun_button_stage3Kill0-1"
	"OnTrigger" "ex_pickup_c4Kill0-1"
	"OnTrigger" "stage1_start_triggerEnable0-1"
	"OnTrigger" "zombie_start_teleportEnable0-1"
	"OnTrigger" "pickup_c4_1_exKill0-1"
	"OnTrigger" "fog_worldSetColor112 112 1120-1"
	"OnTrigger" "gtabox_1Kill0-1"
	"OnTrigger" "gtabox_2Kill0-1"
	"OnTrigger" "gtabox_3Kill0-1"
	"OnTrigger" "gtabox_4Kill0-1"
	"OnTrigger" "gtabox_5Kill0-1"
	"OnTrigger" "gtabox_6Kill0-1"
	"OnTrigger" "counter_text1Disable0-1"
	"OnTrigger" "counter_text2Disable0-1"
	"OnTrigger" "counter_text3Disable0-1"
	"OnTrigger" "counter_text4Disable0-1"
	"OnTrigger" "counter_text5Disable0-1"
	"OnTrigger" "counter_text6Disable0-1"
	"OnTrigger" "music_theme_of_lauraEnable0-1"
}

add:
{
	"classname" "logic_relay"
	"targetname" "stripper_lvl2_relay"
	"OnTrigger" "fog_worldTurnOn0-1"
	"OnTrigger" "fog_skyboxTrigger0-1"
	"OnTrigger" "fog_worldSetFarZ6000-1"
	"OnTrigger" "sun_buttonKill0-1"
	"OnTrigger" "stage3_end_triggerEnable0-1"
	"OnTrigger" "stage2_triggerEnable0-1"
	"OnTrigger" "fog_worldSetStartDist500-1"
	"OnTrigger" "fog_worldSetEndDist6000-1"
	"OnTrigger" "ex_button_musicKill0-1"
	"OnTrigger" "bug_fixEnable0-1"
	"OnTrigger" "stage2_zombie_start_teleportEnable0-1"
	"OnTrigger" "zombie_start_teleportKill0-1"
	"OnTrigger" "stage2_trigger_1Enable0-1"
	"OnTrigger" "ex_pickup_sawKill0-1"
	"OnTrigger" "sun_button_stage3Kill0-1"
	"OnTrigger" "pickup_c4Kill0-1"
	"OnTrigger" "pickup_c4_1Kill0-1"
	"OnTrigger" "fog_worldSetColor112 112 1120-1"
	"OnTrigger" "trigger_cl_exEnable0-1"
	"OnTrigger" "zombie_end_into_teleport_1_exEnable0-1"
	"OnTrigger" "counter_text6Enable0-1"
	"OnTrigger" "counter_text5Enable0-1"
	"OnTrigger" "counter_text4Enable0-1"
	"OnTrigger" "counter_text3Enable0-1"
	"OnTrigger" "counter_text2Enable0-1"
	"OnTrigger" "counter_text1Enable0-1"
	"OnTrigger" "music_theme_of_lauraEnable0-1"
	"OnTrigger" "pixiv_cardKill0-1"
	"OnTrigger" "cd_button1Kill0-1"
}

add:
{
	"classname" "logic_relay"
	"targetname" "stripper_lvl3_relay"
	"OnTrigger" "fog_worldTurnOn0-1"
	"OnTrigger" "fog_worldSetFarZ4000-1"
	"OnTrigger" "ex_triggerEnable0-1"
	"OnTrigger" "fog_worldSetEndDist3000-1"
	"OnTrigger" "fog_worldSetStartDist1000-1"
	"OnTrigger" "stage1_start_triggerKill0-1"
	"OnTrigger" "stage2_triggerKill0-1"
	"OnTrigger" "ex_zombie_start_teleportEnable0-1"
	"OnTrigger" "zombie_start_teleportKill0-1"
	"OnTrigger" "bug_fix_blackexEnable0-1"
	"OnTrigger" "stage3_trigger_1Enable0-1"
	"OnTrigger" "pickup_sawKill0-1"
	"OnTrigger" "push_tip3Disable0-1"
	"OnTrigger" "sun_button_stage2Kill0-1"
	"OnTrigger" "sun_buttonKill0-1"
	"OnTrigger" "button_musicKill0-1"
	"OnTrigger" "push_tip3Disable0-1"
	"OnTrigger" "pickup_c4Kill0-1"
	"OnTrigger" "back_to_stage1Enable0-1"
	"OnTrigger" "pickup_c4_1Kill0-1"
	"OnTrigger" "blackfog_skyboxTrigger0-1"
	"OnTrigger" "fog_worldSetColor62 62 620-1"
	"OnTrigger" "ex_fog_defendEnable0-1"
	"OnTrigger" "fog_worldSetColorSecondary62 62 620-1"
	"OnTrigger" "trigger_cl_exEnable0-1"
	"OnTrigger" "zombie_end_into_teleport_1_exEnable0-1"
	"OnTrigger" "music_you_are_not_hereEnable0-1"
	"OnTrigger" "gtabox_6Kill0-1"
	"OnTrigger" "gtabox_5Kill0-1"
	"OnTrigger" "gtabox_4Kill0-1"
	"OnTrigger" "gtabox_3Kill0-1"
	"OnTrigger" "gtabox_2Kill0-1"
	"OnTrigger" "gtabox_1Kill0-1"
	"OnTrigger" "counter_text6Disable0-1"
	"OnTrigger" "counter_text5Disable0-1"
	"OnTrigger" "counter_text4Disable0-1"
	"OnTrigger" "counter_text3Disable0-1"
	"OnTrigger" "counter_text2Disable0-1"
	"OnTrigger" "counter_text1Disable0-1"
	"OnTrigger" "cd_button1Kill0-1"
	"OnTrigger" "pixiv_cardKill0-1"
}

add:
{
	"classname" "logic_relay"
	"targetname" "stripper_levels"
	"OnSpawn" "!selfRunScriptCode::_<-delegate{_get=function(idx){return idx}}:{}0-1"
	"OnSpawn" "!selfRunScriptCode::__<-(32).tochar()0-1"
	"OnSpawn" "!selfRunScriptCodeif (!(_.lvl in getroottable())) ::lvl<-10.02-1"
	"OnSpawn" "!selfRunScriptCodeif (::lvl == 1) EntFire(_.stripper_lvl1_relay,_.Trigger,__,0,null)0.05-1"
	"OnSpawn" "!selfRunScriptCodeif (::lvl == 2) EntFire(_.stripper_lvl2_relay,_.Trigger,__,0,null)0.05-1"
	"OnSpawn" "!selfRunScriptCodeif (::lvl == 3) EntFire(_.stripper_lvl3_relay,_.Trigger,__,0,null)0.05-1"
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "stage1_button"
	}
	insert:
	{
		"OnPressed" "stripper_levelsRunScriptCode::lvl<-10-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "back_to_stage1"
	}
	insert:
	{
		"OnStartTouch" "stripper_levelsRunScriptCode::lvl<-137-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "stage2_button"
	}
	insert:
	{
		"OnPressed" "stripper_levelsRunScriptCode::lvl<-20-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage2_end_trigger"
	}
	insert:
	{
		"OnStartTouch" "stripper_levelsRunScriptCode::lvl<-237-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "stage3_button"
	}
	insert:
	{
		"OnPressed" "stripper_levelsRunScriptCode::lvl<-30-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "stage3_end_trigger"
	}
	insert:
	{
		"OnStartTouch" "stripper_levelsRunScriptCode::lvl<-337-1"
	}
}

;TP CTs that stay in spawn to help prevent delaying. Zombie AFK TPs remain the same
add:
{
	"classname" "trigger_teleport"
	"targetname" "tp_afk_1"
	"origin" "-2848 -3872 1832"
	"filtername" "human"
	"landmark" "!activator"
	"UseLandmarkAngles" "1"
	"target" "td_afk_1"
	"StartDisabled" "1"
	"spawnflags" "1"
}

add:
{
	"classname" "info_teleport_destination"
	"targetname" "td_afk_1"
	"origin" "-1216 -3200 1528"
	"angles" "0 0 0"
}

add:
{
	"classname" "trigger_teleport"
	"targetname" "tp_afk_2"
	"origin" "896 -4000 1832"
	"filtername" "human"
	"landmark" "!activator"
	"UseLandmarkAngles" "1"
	"target" "teleport_zombie_man_1_1"
	"StartDisabled" "1"
	"spawnflags" "1"
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "button_1"
	}
	insert:
	{
		"OnPressed" "tp_afk_1,Enable,,0,-1"
		"OnPressed" "tp_afk_2,Enable,,45,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "tp_afk_1,AddOutput,solid 2,0,-1"
		"OnMapSpawn" "tp_afk_1,AddOutput,mins -1276 -2592 -392,0.5,-1"
		"OnMapSpawn" "tp_afk_1,AddOutput,maxs 1276 2592 392,0.5,-1"
		"OnMapSpawn" "tp_afk_2,AddOutput,solid 2,0,-1"
		"OnMapSpawn" "tp_afk_2,AddOutput,mins -2468 -2880 -392,0.5,-1"
		"OnMapSpawn" "tp_afk_2,AddOutput,maxs 2468 2880 392,0.5,-1"
	}
}

;push here can boost zombies, so add some additional protection
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "1627.5 2286 736"
	}
	insert:
	{
		"filtername" "human"
	}
}

;block off infecting through fence props in spawn area
add:
{
	"classname" "func_brush"
	"origin" "4084 -3738 2137.5"
	"model" "*80"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "4084 -3599 2137.5"
	"model" "*80"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "4084 -3738 2185.5"
	"model" "*80"
	"rendermode" "10"
}
add:
{
	"classname" "func_brush"
	"origin" "4084 -3599 2185.5"
	"model" "*80"
	"rendermode" "10"
}

; Translation credits
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say << Map translated by koen >>,10,1"
	}
}

; Translate the map
;############################ THIS CHANGE WILL NOT WORK WITHOUT HAVING ###################################
;############################ csgo/scripts/vscripts/gfl/flee_patched.nut #################################
;###################################### IN THE SERVER FILES ##############################################
;############ https://github.com/gflze/CSGO-ZE-Configs/blob/master/vscripts/flee_patched.nut #############
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "sh2script"
	}
	replace:
	{
		"vscripts" "gfl/flee_patched.nut"
	}
}

; Move game_text to the left due to CSGO cutting off text
modify:
{
	match:
	{
		"classname" "game_text"
	}
	replace:
	{
		"x" "0.15"
	}
}