;load unpacked vscripts from github sync directory
modify:
{
	match:
	{
		"vscripts" "swamp/button.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/button.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/frog.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/frog.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/barricade.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/barricade.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/mg_rotate.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/mg_rotate.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/mg_builder.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/mg_builder.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/mg_lava.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/mg_lava.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/platform.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/platform.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/music.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/music.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/main.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/main.nut"
	}
}
modify:
{
	match:
	{
		"vscripts" "swamp/randomspawner.nut"
	}
	replace:
	{
		"vscripts" "gfl/shrekultimate/randomspawner.nut"
	}
}