;	__	__	____	_____ _____ ________		 __
; |	\/	|/ __ \|	__ \_	 _|	____\ \	 / /
; | \	/ | |	| | |	| || | | |__	 \ \_/ /
; | |\/| | |	| | |	| || | |	__|	 \	 /
; | |	| | |__| | |__| || |_| |			 | |
; |_|	|_|\____/|_____/_____|_|			 |_|		by Małgo 
;---------------------------------------------------------------
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------

;---------------------------------------
;Fix too fast diable teleport
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage-1_Gabranth_HP_End"
		"classname" "math_counter"
	}
	delete:
	{
		"OnHitMin" "City_teleport_AFK_002Disable0-1"
	}
	insert:
	{
		"OnHitMin" "City_teleport_AFK_002Disable5.1-1"
	}
}

;---------------------------------------
;Fix bad teleport
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage4_city_wall_001"
		"classname" "func_wall_toggle"
	}
	delete:
	{
		"OnUser1" "City_teleport_AFK_003SetRemoteDestinationStage4_city_spawn_0010-1"
		"OnUser1" "City_teleport_AFK_004SetRemoteDestinationStage4_city_spawn_0010-1"
	}
	insert:
	{
		"OnUser1" "City_teleport_AFK_003SetRemoteDestinationafk_spawn_009_city0-1"
		"OnUser1" "City_teleport_AFK_004SetRemoteDestinationafk_spawn_009_city0-1"
	}
}

;---------------------------------------
;A little less hp bergan
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Stage4_Boss_Bergan_HP_multi"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Stage4_Boss_Bergan_HP_MainAdd1290-1"
	}
	insert:
	{
		"OnStartTouch" "Stage4_Boss_Bergan_HP_MainAdd1240-1"
	}
}

;---------------------------------------
;Fix teleport spot on stage 3 & 4
;---------------------------------------
add:
{
	"classname" "trigger_teleport"
	"origin" "-2624.5 -7864.5 -1133.5"
	"targetname" "Fix_TP_001"
	"UseLandmarkAngles" "1"
	"target" "afk_spawn_004_city"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"CheckDestIfClearForPlayer" "0"
}
add:
{
	"classname" "trigger_teleport"
	"origin" "-1445.5 -7864.5 -1133.5"
	"targetname" "Fix_TP_002"
	"UseLandmarkAngles" "1"
	"target" "afk_spawn_004_city"
	"StartDisabled" "1"
	"spawnflags" "4097"
	"CheckDestIfClearForPlayer" "0"
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage-1_Trigger"
	}
	insert:
	{
		"OnTrigger" "Fix_TP_001AddOutputsolid 20.5-1"
		"OnTrigger" "Fix_TP_001AddOutputmins -17 -319 -2621-1"
		"OnTrigger" "Fix_TP_001AddOutputmaxs 17 319 2621-1"
		"OnTrigger" "Fix_TP_002AddOutputsolid 20.5-1"
		"OnTrigger" "Fix_TP_002AddOutputmins -17 -319 -2621-1"
		"OnTrigger" "Fix_TP_002AddOutputmaxs 17 319 2621-1"
	}
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Stage4_Trigger"
	}
	insert:
	{
		"OnTrigger" "Fix_TP_001AddOutputsolid 20.5-1"
		"OnTrigger" "Fix_TP_001AddOutputmins -17 -319 -2621-1"
		"OnTrigger" "Fix_TP_001AddOutputmaxs 17 319 2621-1"
		"OnTrigger" "Fix_TP_002AddOutputsolid 20.5-1"
		"OnTrigger" "Fix_TP_002AddOutputmins -17 -319 -2621-1"
		"OnTrigger" "Fix_TP_002AddOutputmaxs 17 319 2621-1"
	}
}
modify:
{
	match:
	{
		"classname" "Stage-1_Gabranth_HP_End"
		"targetname" "math_counter"
	}
	insert:
	{
		"OnHitMin" "Fix_TP_001SetRemoteDestinationafk_spawn_004_city0-1"
		"OnHitMin" "Fix_TP_002SetRemoteDestinationafk_spawn_004_city0-1"
		"OnHitMin" "Fix_TP_001Enable5-1"
		"OnHitMin" "Fix_TP_002Enable5-1"
		"OnHitMin" "Fix_TP_001Disable5.1-1"
		"OnHitMin" "Fix_TP_002Disable5.1-1"
	}
}
modify:
{
	match:
	{
		"classname" "Stage-1_once_001"
		"targetname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "Fix_TP_001SetRemoteDestinationafk_spawn_005_city01"
		"OnTrigger" "Fix_TP_002SetRemoteDestinationafk_spawn_005_city01"
		"OnTrigger" "Fix_TP_001Enable11"
		"OnTrigger" "Fix_TP_002Enable11"
	}
}
modify:
{
	match:
	{
		"classname" "City_Wall_007"
		"targetname" "func_wall_toggle"
	}
	insert:
	{
		"OnUser1" "Fix_TP_001SetRemoteDestinationafk_spawn_008_city0-1"
		"OnUser1" "Fix_TP_002SetRemoteDestinationafk_spawn_008_city0-1"
		"OnUser1" "Fix_TP_001Enable35-1"
		"OnUser1" "Fix_TP_002Enable35-1"
	}
}

;---------------------------------------
;Important credits [Thanks Detroid <3]
;---------------------------------------
modify:
{
	match:
	{
		"classname" "logic_auto"
		"hammerid" "696767"
	}
	delete:
	{
		"OnMultiNewRound" "cmdCommandsay **Map Status: No Stripper!**0-1"
		"OnMultiNewRound" "cmdCommandsay **Special thanks to Vueru for textures5-1"
	}
	insert:
	{
		"OnMultiNewRound" "cmdCommandsay **Map Status: Stripper #2 enable!**0-1"
		"OnMultiNewRound" "cmdCommandsay **Thanks to Vueru for textures5-1"
		"OnMultiNewRound" "cmdCommandsay **Special Thanks to Detroid for help!6-1"
	}
}