;Add a timelimit to laser boss fight. On average, videos show 10-25 seconds to kill the boss if the team is shooting (with a slow solo around 30-35 seconds), so 45 seconds should be way more than enough if the last people dont all knife out
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "s5door_14_3"
	}
	insert:
	{
		"OnStartTouch" "relay_lasers,Trigger,,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_case"
		"targetname" "bossdeath2"
	}
	insert:
	{
		"OnCase07" "relay_lasers,CancelPending,,0,-1"
	}
}

add:
{
	"classname" "logic_relay"
	"targetname" "relay_lasers"
	"origin" "3775 12869 8372"
	"spawnflags" "0"
	"StartDisabled" "0"
	"OnTrigger" "s5boss_diablo_case,Kill,,60,-1"
	"OnTrigger" "command,Command,say >>> YOU TOOK TOO LONG <<<,60,1"
	"OnTrigger" "s5boss_diablo_model,SetAnimation,Attack,61.3,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8268,62,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,ForceSpawn,,62.02,-1"
	"OnTrigger" "s5boss_diablo_eff,DoSpark,,62.02,-1"
	"OnTrigger" "elecexp5_sound,PlaySound,,62.02,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8288,62.04,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,ForceSpawn,,62.06,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8310,62.08,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8340,62.08,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8370,62.08,-1"
	"OnTrigger" "s5_boss_diablo_laser_temp,ForceSpawn,,62.1,-1"
	"OnTrigger" "s5boss_diablo_model,SetAnimation,Stand,62.4,-1"
}

;fix no kevlar on new round
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "1616 -13088 -1671"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}
