;fix Frozentomb
modify:
{
    match:
    {
        "targetname" "item_FrozenTomb_onhit_temp"
        "classname" "point_template"
    }
    replace:
    {
        "spawnflags" "2"
    }
}

;Make item buttons less frustrating to press
modify:
{
	match:
	{
		"classname" "func_button"
	}
	replace:
	{
		"min_use_angle" "0.2"
	}
}

;OnUser inputs are not affected by a relay being enabled or not, so thunderbolt could kill boss before it spawns. Instead add the OnUser interaction when the trigger is enabled
modify:
{
    match:
    {
        "targetname" "item_boss_heal_relay"
        "classname" "logic_relay"
    }
    delete:
    {
        "OnUser1" "boss_healthSubtract15000-1"
    }
}

modify:
{
    match:
    {
        "targetname" "cloud_fall_mu"
        "classname" "trigger_multiple"
    }
    insert:
    {
        "OnStartTouch" "item_boss_heal_relayAddOutputOnUser1 boss_health,Subtract,1500,0,-101"
    }
}
