;Add a timelimit to laser boss fight. On average, videos show 10-25 seconds to kill the boss if the team is shooting (with a slow solo around 30-35 seconds), so 45 seconds should be way more than enough if the last people dont all knife out
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "s5door_14_3"
	}
	insert:
	{
		"OnStartTouch" "s5boss_diablo_case,Kill,,60,-1"
		"OnStartTouch" "command,Command,say >>> YOU TOOK TOO LONG <<<,60,1"
		"OnStartTouch" "s5boss_diablo_model,SetAnimation,Attack,61.3,-1"
		"OnStartTouch" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8268,62,-1"
		"OnStartTouch" "s5_boss_diablo_laser_temp,ForceSpawn,,62.02,-1"
		"OnStartTouch" "s5boss_diablo_eff,DoSpark,,62.02,-1"
		"OnStartTouch" "elecexp5_sound,PlaySound,,62.02,-1"
		"OnStartTouch" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8288,62.04,-1"
		"OnStartTouch" "s5_boss_diablo_laser_temp,ForceSpawn,,62.06,-1"
		"OnStartTouch" "s5_boss_diablo_laser_temp,AddOutput,origin 3775 11045 8310,62.08,-1"
		"OnStartTouch" "s5_boss_diablo_laser_temp,ForceSpawn,,62.1,-1"
		"OnStartTouch" "s5boss_diablo_model,SetAnimation,Stand,62.4,-1"
	}
}

;Remove HTML formatting broken/non-functional after the Shattered Web Update
;############################ THIS CHANGE WILL NOT WORK WITHOUT HAVING ###################################
;######################## csgo/scripts/vscripts/gfl/tyranny2_boss_patched.nut ############################
;###################################### IN THE SERVER FILES ##############################################
;##### https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/tyranny2_boss_patched.nut #####
modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"vscripts" "tyranny2/tyranny2_boss.nut"

	}
	replace:
	{
		"vscripts" "gfl/tyranny2_boss_patched.nut"
	}
}

;fix no kevlar on new round
modify:
{
	match:
	{
		"classname" "game_player_equip"
		"origin" "1616 -13088 -1671"
	}
	replace:
	{
		"spawnflags" "2"
	}
	insert:
	{
		"item_assaultsuit" "1"
	}
}