;remove unpacked sound
filter:
{
	"targetname" "music_win"
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "toastend_teleport"
	}
	delete:
	{
		"OnStartTouch" "music_winPlaySound01"
	}
}

;9min of roundtime isnt enough on csgo
modify:
{
	match:
	{
		"targetname" "start_timer"
		"classname" "logic_timer"
	}
	delete:
	{
		"OnTimer" "serverCommandmp_roundtime 90-1"
	}
}

;fixes an issue where a pistol (here weapon_glock) which belongs to an item will
;be killed making it impossible to recover that item when someone drops it / dies with it
filter:
{
	"hammerid" "247976"
	"origin" "-1808 -152 728"
	"classname" "game_weapon_manager"	
}

; boss HP nerf (from adding 60 to 40 hp per player) - official edit by Luffaren
; the reason behind it: the boss relies too heavily on good RNG for a chance to win
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "boss_math_addtrigger"
	}
	delete:
	{
		"OnStartTouch" "boss_hpbar_counter_2Add600-1"
	}
	insert:
	{
		"OnStartTouch" "boss_hpbar_counter_2,Add,40,0,-1"
	}
}

; sound fix - replace broken boss sounds with other/working ones (where it goes into overdrive)
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "boss_s1"
	}
	replace:
	{
		"message" "*sfx/toasterboss_4.mp3"
	}
}
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "boss_s2"
	}
	replace:
	{
		"message" "*sfx/toasterboss_5.mp3"
	}
}
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "boss_s3"
	}
	replace:
	{
		"message" "*sfx/toasterboss_4.mp3"
	}
}
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"targetname" "boss_s6"
	}
	replace:
	{
		"message" "*sfx/toasterboss_5.mp3"
	}
}