;Filter ZM mode nuke to the correct team
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Nuke_hurt_ZM"
	}
	replace:
	{
		"filtername" "zombie"
	}
}

;Apparently this is somehow setting zombie HP in the live server. No idea why, as it is filtered to ct and works fine offline...
modify:
{
	match:
	{
		"OnStartTouch" "!activatorAddOutputhealth 9999999990-1"
	}
	delete:
	{
		"OnStartTouch" "!activatorAddOutputhealth 9999999990-1"
	}
	insert:
	{
		"OnStartTouch" "!activator,AddContext,no_nuke:1,0,-1"
	}
}

add:
{
	"classname" "filter_activator_context"
	"targetname" "filter_no_nuke"
	"origin" "-184 -1368 56"
	"Negated" "1"
	"ResponseContext" "no_nuke"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Nuke_hurt"
	}
	insert:
	{
		"filtername" "filter_no_nuke"
	}
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "playerClearContext0-1"
	}
}

;  __  __  ____  _____ _____ ________     __
; |  \/  |/ __ \|  __ \_   _|  ____\ \   / /
; | \  / | |  | | |  | || | | |__   \ \_/ /
; | |\/| | |  | | |  | || | |  __|   \   /
; | |  | | |__| | |__| || |_| |       | |
; |_|  |_|\____/|_____/_____|_|       |_|    by Małgo 
;---------------------------------------------------------------
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------

;---------------------------------------
;Fix too fast enable bridge stage 2
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "LVL2Relay"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "BridgeTriggerEnable21.011"
	}
}

;---------------------------------------
;fix broken dragon zombie attack
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Cave3CopperS_Dragon_Boss_attack_case"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase07" "Cave3_CopperS_Floor_002FireUser10-1"
	}
}

;---------------------------------------
;Delete shit trigger on stage 2 (big boy)
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Bear_Func"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "Lvl2LoseTriggerZMEnable24-1"
	}
}