;	__	__	____	_____ _____ ________		 __
; |	\/	|/ __ \|	__ \_	 _|	____\ \	 / /
; | \	/ | |	| | |	| || | | |__	 \ \_/ /
; | |\/| | |	| | |	| || | |	__|	 \	 /
; | |	| | |__| | |__| || |_| |			 | |
; |_|	|_|\____/|_____/_____|_|			 |_|		by Małgo 
;---------------------------------------------------------------
;STRIPPER CFG BY MAŁGO https://steamcommunity.com/profiles/76561197992553990/
;---------------------------------------------------------------

;---------------------------------------
;Delete shit trigger on stage 2 (big boy)
;---------------------------------------
modify:
{
	match:
	{
		"targetname" "Bear_Func"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnBreak" "Lvl2LoseTriggerZMEnable24-1"
	}
}