;remove z item killer
filter:
{
	"classname" "trigger_hurt"
	"origin" "2672 4352 1440"
}

;add 1 more ujel after check point
modify:
{
	match:
	{
		"targetname" "Lvl_Case"
	}
	insert:
	{
		"OnCase02" "z_tnt_spawn3,Trigger,,0,-1"
	}
}

;reset fog
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMultiNewRound" "fo1,SetEndDist,1024.0,0,-1"
	}
}

;prevent players skipping low damage lava and early triggering
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "7360 9984 972"
	}
	replace:
	{
		"damagemodel" "0"
		"damage" "200"
	}
}