;Remove HTML formatting broken/non-functional after the Shattered Web Update
;############################## THIS FIX WILL NOT WORK WITHOUT HAVING ####################################
;########################### csgo/scripts/vscripts/vouov/vouov_boss_patched.nut ###############################
;###################################### IN THE SERVER FILES ##############################################
;######## https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/vouov_boss_patched.nut #########

modify:
{
	match:
	{
		"targetname" "bosslvl1_hit"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"vscripts" "vouov/vouov_boss_patched.nut"
	}
}

modify:
{
	match:
	{
		"targetname" "bosslvl2_5_hit"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"vscripts" "vouov/vouov_boss_patched.nut"
	}
}

modify:
{
	match:
	{
		"targetname" "bosslvl3_hit"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"vscripts" "vouov/vouov_boss_patched.nut"
	}
}

modify:
{
	match:
	{
		"targetname" "bosslvl3_2_hit"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"vscripts" "vouov/vouov_boss_patched.nut"
	}
}

modify:
{
	match:
	{
		"targetname" "bosslvl4_hit"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"vscripts" "vouov/vouov_boss_patched.nut"
	}
}

modify:
{
	match:
	{
		"targetname" "bosslvl6_hit"
		"classname" "func_physbox_multiplayer"
	}
	replace:
	{
		"vscripts" "vouov/vouov_boss_patched.nut"
	}
}

;add slowdown on electric toilet
modify:
{
	match:
	{
		"targetname" "elect_hurt"
	}
	replace:
	{
		"damagecap" "700"
		"damage" "700"
	}
	insert:
	{
		"OnStartTouch" "Map_SpeedModModifySpeed18-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.77-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.76-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.74.0-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.73.0-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.72.0-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.71.0-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.70-1"
	}
}

;nerf boss hp
modify:
{
	match:
	{
		"targetname" "bosslvl3_2_trigger_lvl6"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "bosslvl3_2_hitRunScriptCodeAddHealth(30);3.61"
	}
	insert:
	{
		"OnStartTouch" "bosslvl3_2_hitRunScriptCodeAddHealth(20);3.61"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl3_2_trigger_lvl3"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "bosslvl3_2_hitRunScriptCodeAddHealth(20);3.61"
	}
	insert:
	{
		"OnStartTouch" "bosslvl3_2_hitRunScriptCodeAddHealth(10);3.61"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl6_trigger"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "bosslvl6_hitRunScriptCodeAddHealth(40);21.11"
	}
	insert:
	{
		"OnStartTouch" "bosslvl6_hitRunScriptCodeAddHealth(30);21.11"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl3_trigger"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "bosslvl3_hitRunScriptCodeAddHealth(30);191"
	}
	insert:
	{
		"OnStartTouch" "bosslvl3_hitRunScriptCodeAddHealth(20);191"
	}
}

;make items do damage to bosses
modify:
{
	match:
	{
		"targetname" "bosslvl1_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(150);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:0:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:1:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:2:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:3:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:4:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:6:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl1_hit:RunScriptCode:SubHpIt(180);:7:101"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl3_6_counter3"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnTrigger" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnTrigger" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnTrigger" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnTrigger" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnTrigger" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:5:101"
		"OnTrigger" "poisont_filterAddOutputOnPass bosslvl3_6_phy:DisableMotion::0:113.51"
		"OnTrigger" "poisont_filterAddOutputOnPass bosslvl3_6_phy:EnableMotion::4:1141"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl3_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_hit:RunScriptCode:SubHpIt(150);:5:101"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl4_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(150);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:0:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:1:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:2:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:3:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:4:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:6:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl4_hit:RunScriptCode:SubHpIt(180);:7:101"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl5_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl2_5_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl2_5_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl2_5_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl2_5_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl2_5_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl2_5_hit:RunScriptCode:SubHpIt(150);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl2_5_phy:DisableMotion::0:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl2_5_phy:EnableMotion::4:101"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl3_2_trigger_lvl6"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(150);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:0:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:1:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:2:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:3:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:4:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:6:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl3_2_hit:RunScriptCode:SubHpIt(180);:7:101"
	}
}
modify:
{
	match:
	{
		"targetname" "bosslvl6_trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(150);:0:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(150);:1:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(150);:2:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(150);:3:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(150);:4:101"
		"OnStartTouch" "beam_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(150);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:0:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:1:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:2:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:3:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:4:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:5:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:6:101"
		"OnStartTouch" "poisont_filterAddOutputOnPass bosslvl6_hit:RunScriptCode:SubHpIt(180);:7:101"
	}
}