;stripper by koen (STEAM_1:1:114921174)

;add map modification message
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsay ** Map Modified! **5-1"
	}
}

;patch teleport avoidance spot
add:
{
	"classname" "trigger_teleport"
	"targetname" "s1_tp_02"
	"target" "s1_dest_03"
	"spawnflags" "1"
	"StartDisabled" "1"
	"origin" "-736 -624 -4716"
	"model" "*28"
	"UseLandmarkAngles" "1"
}

;fix incorrect timer message
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "s1_door_boss_counter"
	}
	delete:
	{
		"OnHitMax" "cmdCommandsay | ARENA DOOR WILL OPEN IN 20 SECONDS |0-1"
	}
	insert:
	{
		"OnHitMax" "cmdCommandsay | ARENA DOOR WILL OPEN IN 25 SECONDS |0-1"
	}
}

;buff boss health
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "s1_once_hp"
	}
	delete:
	{
		"OnStartTouch" "creta_HealthAdd570-1"
		"OnStartTouch" "creta_HealthBackupAdd570-1"
	}
	insert:
	{
		"OnStartTouch" "creta_HealthAdd650-1"
		"OnStartTouch" "creta_HealthBackupAdd650-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "yzx_brahahp_once"
	}
	delete:
	{
		"OnStartTouch" "yzx_braha_HealthAdd120-1"
		"OnStartTouch" "yzx_braha_HealthBackupAdd120-1"
	}
	insert:
	{
		"OnStartTouch" "yzx_braha_HealthAdd160-1"
		"OnStartTouch" "yzx_braha_HealthBackupAdd160-1"
	}
}

;fix nuke killing humans that become T after zombies die
add:
{
	"classname" "trigger_multiple"
	"targetname" "nuke_fix"
	"origin" "-3248 -13603.2 -1920"
	"model" "*46"
	"StartDisabled" "1"
	"filtername" "filter_human"
	"spawnflags" "1"
	"OnStartTouch" "!activatorAddOutputhealth 1000000000-1"
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "s1_end_human_win"
	}
	insert:
	{
		"OnTrigger" "nuke_fixEnable0.91"
	}
}

;teleport zombies to the end after door opens to the final room
add:
{
	"classname" "info_teleport_destination"
	"targetname" "forwardDestination"
	"origin" "-3248 -10033 -2200"
	"angles" "0 270 0"
}

add:
{
	"classname" "trigger_teleport"
	"targetname" "forwardTeleport"
	"target" "forwardDestination"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-8944 -7208 -200"
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "forwardTeleportAddOutputsolid 20.51"
		"OnMapSpawn" "forwardTeleportAddOutputmins -7072 -2256 -263211"
		"OnMapSpawn" "forwardTeleportAddOutputmaxs 7072 2256 263211"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "s1_door_06_button"
	}
	insert:
	{
		"OnPressed" "cmdCommandsay | ZOMBIES TELEPORT BEHIND IN 15 SEC |151"
		"OnPressed" "forwardTeleportEnable301"
	}
}

;disable bunny hop and use high air acceleration instead
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsv_airaccelerate 1001.5-1"
	}
}

modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "s1_door_04_counter"
	}
	delete:
	{
		"OnHitMax" "cmdCommandsv_enablebunnyhopping 028-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "187142"
	}
	delete:
	{
		"OnTrigger" "cmdCommandsv_enablebunnyhopping 125-1"
	}
}