;translate the map
;############################ THIS CHANGE WILL NOT WORK WITHOUT HAVING ###################################
;###################### csgo/scripts/vscripts/gfl/ze_watagi_tunnel_patched.nut ###########################
;###################################### IN THE SERVER FILES ##############################################
;#### https://github.com/gflclan-cs-go-ze/ZE-Configs/blob/master/vscripts/ze_watagi_tunnel_patched.nut ###
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "[STORY]TEXT"
	}
	replace:
	{
		"vscripts" "gfl/ze_watagi_tunnel_patched.nut"
	}
}