;fix lvl 3 ending broken zm detection
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-11776 8928 1536"
	}
	insert:
	{
		"targetname" "zm_detector"
	}
}
add:
{
	"classname" "game_round_end"
	"origin" "-11704 7936 1288"
	"OnRoundEnded" "zm_detectorKill0-1"
}